<!-- BEGIN RDV rendez-vous magasin + CAD conseil à domicile v 21/02/18 -->
{% if modal is not defined %}
<div class="bg-light" id="rdv-mag-cad">
    <div class="container py-5">
        {% endif %}
        <div class="row appointment__container">
            <div class="col-12 col-md-6  col-lg-5 offset-lg-1  p-1">
                <div class="col-12 p-3 p-sm-5 bg-white mx-1 h-100">
                    <p class="h2 text-uppercase pb-3 pl-3 pt-3 pl-sm-0 pt-sm-0">Rendez-vous en magasin</p>
                    <p class="text-center py-3 d-none d-md-block">
                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/picto_rdv.png"/>
                    </p>
                    <p><strong>Venez en magasin</strong> rencontrer nos conseillers pour vous aider à finaliser votre projet</p>
                    <p class="border-dashed-red text-uppercase text-center p-4 h3">Totalement gratuit</p>
                    <div class="input-group pt-3 pb-1 rdv-mag-hideFirst"><input type="text" class="form-control text-italic" placeholder="Votre prenom" aria-label="Votre prénom" id="rdv_mag_prenom"></div>
                    <div class="input-group pb-1 rdv-mag-hideFirst"><input type="text" class="form-control text-italic" placeholder="Votre nom" aria-label="Votre nom" id="rdv_mag_nom"></div>
                    <div class="input-group pb-1 rdv-mag-hideFirst"><input type="text" class="form-control text-italic" placeholder="Votre code postal" aria-label="Votre code postal" id="rdv_mag_cp"></div>
                    <div class="input-group pb-1 rdv-mag-hideFirst"><input type="text" class="form-control text-italic" placeholder="Votre email" aria-label="Votre email" id="rdv_mag_email"></div>
                    <input type="hidden" value="1" class="form-control text-italic" placeholder="Votre codeMag" aria-label="Votre codeMag" id="rdv_mag_codeMag">
                    <div class="input-group pb-1">
                        <input type="number" class="form-control text-italic" placeholder="Votre numéro de téléphone" aria-label="Votre numéro de téléphone" id="rdv_mag_tel">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary rounded-right cursor-pointer px-4" type="button" id="rdv_mag_button">OK</button>
                        </span>
                    </div>
                    <p class="bg-secondary text-white font-secondary px-4 py-2" id="rdv_mag_result"></p>
                </div>
            </div>
            <div class="col-12 col-md-6  col-lg-5  p-1">
                <div class="col-12 p-3 p-sm-5 bg-white mx-1 h-100">
                    <p class="h2 text-uppercase pb-3">Rendez-vous à domicile</p>
                    <p class="text-center py-3 d-none d-md-block">
                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518796399/picto_cad.png"/>
                    </p>
                    <p>
                        Avec <strong>le conseil à domicile</strong>, bénéficiez d'un avis professionnel sans vous déplacer : un expert vient chez vous et vous aide à <strong>concevoir votre projet</strong>.
                    </p>
                    <div class="row">
                        <div class="col-5 pr-0">
                            <p class="border-dashed-red text-uppercase text-center py-1 h1 mb-0 border-bottom-0">89€</p>
                            <p class="text-uppercase bg-secondary text-white small text-center py-1">Remboursable <sup>*</sup></p>
                        </div>
                        <div class="col-7">
                            <p class="small text-secondary">La prestation de conseil à domicile est facturée 89€.<br />Ils sont remboursés en cas de confirmation du devis réalisé suite au rendez-vous<sup>*</sup>.</p>
                        </div>
                    </div>
                    <div class="input-group pt-3 pb-1">
                        <input class="form-control text-italic" placeholder="Votre code postal" aria-label="Votre code postal" id="rdv_dom_cp" type="number" onKeyPress="if (event.keyCode==13) cadAction();">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary rounded-right cursor-pointer px-4" type="button" id="rdv_dom_button" onclick="cadAction();">OK</button>
                        </span>
                    </div>
                    <p class="bg-secondary text-white font-secondary px-4 py-2" id="rdv_dom_result"></p>
                    <!--<p class="text-center text-muted small">Un conseiller vous appellera sous 48 heures.</p>-->
                    <p class="text-right small"><a href="https://www.lapeyre.fr/c/conditions-generales-de-vente#cgvCAD" target="_blank" class="text-muted">* Voir conditions</a></p>
                </div>
            </div>
        </div>
        {% if modal is not defined %}              
    </div>
</div>
{% endif %} 
<!-- END RDV -->
