<div class="container">
	<div class="row">
		<!--<div class="col-6"></div>
		<div class="col-6">
			<img class="img-fluid" src="/c_limit,h_1184,w_1359/v1516022887/_MGL6765.jpg">
		</div>-->
        <div class="col-12 text-center p-5">
        [ RENDEZ-VOUS ]
        </div>
	</div>
</div>