.appointment__container .h2 {
    font-family: $font-family-1;
    color: $font-light;
    font-size: 24px;
}

.appointment__container .h3, .appointment__container .h1 {
    font-family: $font-family-1;
    color: $red-secondary;
}

.appointment__address {
    font-family: $font-family-1;
}