{% if modal is not defined %}
<div class="bg-light" id="appointment_container">
    <div class="container py-5">
{% endif %}
        <div class="row appointment__container">
            <div class="col-12 col-md-6 {% if modal is not defined %} col-lg-5 offset-lg-1 {% endif %} p-1">
                <div class="col-12 p-3 p-sm-5 bg-white mx-1 h-100">
                    <p class="h2 text-uppercase pb-3 pl-3 pt-3 pl-sm-0 pt-sm-0">Rendez-vous en magasin</p>
                    <p class="text-center py-3 d-none d-md-block">
                        <img src="/images/picto_rdv.png"/>
                    </p>
                    <p><strong>Venez en magasin</strong> rencontrer nos conseillers escaliers pour vous aider à finaliser votre projet</p>
                    <p class="border-red-dashed text-uppercase text-center p-4 h3">Totalement gratuit</p>
                    <div class="input-group pt-3 pb-1">
                        <input type="text" class="form-control text-italic" placeholder="Votre code postal" aria-label="Votre code postal">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary rounded-right cursor-pointer px-4" type="button">OK</button>
                        </span>
                    </div>
                    <p class="bg-secondary text-white appointment__address px-4 py-2">Lapeyre Porte d'Orléans<br/>47-55 avenue Aristide Briand, 94140 Arcueil<br/>01 49 85 42 90</p>
                </div>
            </div>
            <div class="col-12 col-md-6 {% if modal is not defined %} col-lg-5 {% endif %} p-1">
                <div class="col-12 p-3 p-sm-5 bg-white mx-1 h-100">
                    <p class="h2 text-uppercase pb-3">Rendez-vous à domicile</p>
                    <p class="text-center py-3 d-none d-md-block">
                        <img src="/images/picto_cad.png"/>
                    </p>
                    <p><strong>Un menuisier Lapeyre</strong> vient chez vous pour prendre les mesures nécessaires, et vous aider à finaliser votre projet.</p>
                    <div class="row">
                        <div class="col-5 pr-0">
                            <p class="border-red-dashed text-uppercase text-center py-1 h1 mb-0 border-bottom-0">89€</p>
                            <p class="text-uppercase bg-secondary text-white small text-center py-1">Remboursable</p>
                        </div>
                        <div class="col-7">
                            <p class="small text-secondary">La prestation de conseil à domicile est facturée 89€, déduit ensuite du prix de votre projet.</p>
                        </div>
                    </div>
                    <div class="input-group pt-3 pb-1">
                        <input type="text" class="form-control text-italic" placeholder="Votre code postal" aria-label="Votre code postal">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary rounded-right cursor-pointer px-4" type="button">OK</button>
                        </span>
                    </div>
                    <div class="input-group pb-3">
                        <input type="text" class="form-control text-italic" placeholder="Votre n° de téléphone" aria-label="Votre n° de téléphone">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary rounded-right cursor-pointer px-4" type="button">OK</button>
                        </span>
                    </div>
                    <p class="text-center text-muted small">Un conseil vous appellera sous 48 heures.</p>
                </div>
            </div>
        </div>
{% if modal is not defined %}        
    </div>
</div>
{% endif %}