<a href="/{% if categories[object]['url'] is defined %}{{ categories[object]['url'] }}{% else %}#{% endif %}">
	<div class="border bg-white thumb_product">
		<div class="position-relative carousel slide m-auto overflow-hidden">
			<div class="carousel-inner overflow-visible" role="listbox">
				<div class="carousel-item active bg-cover  thumb_product__large" style="background-image: url({% if categories[object]['imageFull']['content'] is defined %}{{ categories[object]['imageFull']['content'] }}{% endif %}); ">
				</div>
				<div class="carousel-item bg-cover  thumb_product__large" style="background-image: url(); ">
				</div>
				<div class="carousel-item bg-cover  thumb_product__large" style="background-image: url(); ">
				</div>
			</div> 
			{#
			<div class="position-absolute d-flex top-0 right-0">
				<div class="d-none bg-dark thumb_product__fav w-70 h-70">
					<span class="m-auto text-white small">
						<svg width="25" height="25" class="m-auto"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart-o-white"></use></svg>
					</span>
				</div>
			</div>
			#}
		</div>  
		<div class="text-center px-1 d-flex thumb_product__bottomBloc h-85">
			<div class="m-auto">
				{% if categories[object]['shortDesc']['content'] is defined %}
				<p class="small pt-2 mb-1 text-dark thumb_product__subTitle">{{ categories[object]['shortDesc']['content'] }}</p>
				{% endif %}
				<p class="h5 font-weight-bold text-dark thumb_product__title">{{ categories[object]['label']['content'] }}</p>
			</div>
		</div>
		{#
		<div class=" bg-light   d-flex thumb_product__bloc_price">
			<div class="m-auto text-center text-dark">
				<p class="small mb-0"> </p>
				<p class="h5 thumb_product__price font-weight-bold mb-0">1250,00 € </p>
			</div>
		</div>
		#}
	</div>
</a>