.stair__display_thumbnails {
    top:35%;
}
#carouselStair img {
    cursor: pointer;
}
.stair__display_thumb > div > div:nth-child(1)  {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}
.stair__display_thumb > div > div:nth-child(2)  {
    opacity: 0.5;
}