{% extends"layouts/default.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-7">
            <div id="carouselStair" class="carousel slide m-auto order-xl-2 overflow-hidden" >
                <div class="carousel-inner overflow-visible" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg" alt="" data-toggle="modal" data-target="#imageModal">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg" alt="" data-toggle="modal" data-target="#imageModal">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg" alt="" data-toggle="modal" data-target="#imageModal">
                    </div>
                    <div class="col-6 offset pl-4 d-none d-md-block position-absolute stair__display_thumbnails">
                        <div class="row">
                            <div class="stair__display_thumb position-relative my-2 mx-1 mx-xl-2 d-block col-12" data-target="#carouselStair" data-slide-to="0" class="img-fluid">
                                <div class="row">
                                    <div style="background-image: url('https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg')" data-image-hd-url="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg" class="col-2 fp__selected stair__display_thumb_image border"></div>
                                    <div class="col-10 bg-dark px-2 stair__display_thumb_desc">
                                        <p class="small m-0 text-white">Visuel 1/3 : </p>
                                        <p class="small m-0 text-white">Escalier droit en hêtre noir de 274cm de hauteur, sans rampe avec contremarches.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="stair__display_thumb position-relative my-2 mx-1 mx-xl-2 d-block col-12" data-target="#carouselStair" data-slide-to="1" class="img-fluid">
                                <div class="row">
                                    <div style="background-image: url('https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg')" data-image-hd-url="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg" class="col-2 stair__display_thumb_image border"></div>
                                    <div class="col-10 bg-dark px-2 stair__display_thumb_desc" style="display: none;">
                                        <p class="small m-0 text-white">Visuel 2/3 : </p>
                                        <p class="small m-0 text-white">Escalier droit en hêtre noir de 274cm de hauteur, sans rampe avec contremarches.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="stair__display_thumb position-relative my-2 mx-1 mx-xl-2 d-block col-12" data-target="#carouselStair" data-slide-to="2" class="img-fluid">
                                <div class="row">
                                    <div style="background-image: url('https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg')" data-image-hd-url="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg" class="col-2 stair__display_thumb_image border" ></div>
                                    <div class="col-10 bg-dark px-2 stair__display_thumb_desc" style="display: none;">
                                        <p class="small m-0 text-white">Visuel 3/3 : </p>
                                        <p class="small m-0 text-white">Escalier droit en hêtre noir de 274cm de hauteur, sans rampe avec contremarches.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="col-12 pt-5 pt-md-4 pb-0 py-xl-4 px-3 px-lg-5 stair__product_bloc">
                <div class="row">
                    <div class="col-12 px-2">
                        <p class="text-muted small"><output id="product_SKU_73111">Réf. de l'article : 2490390</output></p>
                    </div>
                    <div class="col-12 px-2">
                        <h1 class="h3 font-weight-bold">Escalier Primo <sup class="text-primary">&#9679</sup></h1>
                    </div>
                    <div class="col-12 p-2">
                        <div class="row">
                            <div class="col-12 col-sm-5">
                                <p class="pt-1 pt-lg-0">
                                    <a href="#description" class="font-weight-bold text-dark"><u>Détails produit</u></a>
                                </p>
                            </div>
                            <div class="col-12 col-sm-7 px-sm-0">
                                <a href="#avis_clients" class="text-dark">
                                    <div class="d-inline-flex">
                                        <div class="stars-row pr-2">
                                            <span class="bg-stars">★ ★ ★ ★ ★</span>
                                            <span class="stars d-block position-relative text-left" style="width: 85.3%">★ ★ ★ ★ ★</span>
                                        </div>
                                        <div>4.0/5 (7 avis)</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-2">
                        <label class="text-muted d-block">Essence & couleur</label>
                        <select class="form-control">
                            <option>Sapin - Brut</option>
                        </select>
                    </div>
                    <div class="col-12 p-2">
                        <label class="text-muted d-block">Forme</label>
                        <select class="form-control">
                            <option>Droit</option>
                            <option>Quart tournant</option>
                        </select>
                    </div>
                    <div class="col-12 col-xl-6 p-2">
                        <label class="text-muted d-block" id="swatch_selection_label_entitledItem_45698_CCU0004-DIMENSIONS-COMMUNES-DIM-PROFONDEUR">Rampe</label>
                        <select class="form-control">
                            <option>Non</option>
                            <option>Oui</option>
                        </select>
                    </div>
                    <div class="col-12 col-xl-6 p-2">
                        <label class="text-muted d-block" id="swatch_selection_label_entitledItem_45698_CCU0004-NAT-18-001-FINITION">Sens</label>
                        <select class="form-control">
                            <option>/</option>
                        </select>
                    </div>
                    <div class="col-12 p-2">
                        <label class="text-muted d-block">Contremarche</label>
                        <select class="form-control">
                            <option>274 x 76 x 242 - 13 marches</option>
                        </select>
                    </div>
                    <div class="col-12 p-2">
                        <div class="row">
                            <div class="col-5">
                            </div>      
                            <div class="col-7 mt-4">
                                <div class="row">
                                    <div class="col-12 text-right" id="price_display_45571">
                                        {% if data.session.promo is defined and data.session.promo == 1 %}
                                        <p class="small m-0"><s id="listPrice_viewPage_45571">219,00 € {% if data.session.pro is defined and data.session.pro == 1 %}HT{% endif %}</s></p>
                                        {% endif %}
                                        <p id="blockOfferPrice_viewPage_45571" class="h1 font-weight-bold fp__price mb-0 font-secondary {% if data.session.promo is defined and data.session.promo == 1 %}text-secondary{% endif %}">
                                            <span id="offerPrice_viewPage_45571">159,00 €</span>
                                            {% if data.session.pro is defined and data.session.pro == 1 %}<sup id="supHTPriceProductPage_viewPage_45571" class="small font-weight-normal fp__pro_small">HT</sup>{% endif %}
                                            {% if data.session.colisage is defined and data.session.colisage == 1 %}<span id="uniteVenteLabel_45571" class="small font-weight-bold fp__area_small">le m²</span>{% endif %}
                                            {% if data.session.promo is defined and data.session.promo == 1 %}<sup id="asterix_viewPage_45571" class="small font-weight-normal fp__promo_small">*</sup>{% endif %}
                                        </p> 
                                    </div>
                                    <div class="col-12 text-right">
                                        {% if data.session.colisage is defined and data.session.colisage == 1 %}
                                        <p id="coeffArea_45571" class="m-0 text-muted small">Soit 17,94 € {% if data.session.pro is defined and data.session.pro == 1 %}<sup class="small fp__pro_small">HT</sup>{% endif %} la boite de 1,38 m²</p>
                                        {% endif %}
                                        {% if data.session.promo is defined and data.session.promo == 1 %}
                                        <p class="small m-0 text-muted">-15% sur sélection de produits</p>
                                        <p id="cguDisplayContainer_viewPage_73111" class="small m-0"><a href="javascript:void(0);" class="text-muted text-dark" onclick="javascript:window.open('/c/conditions-generales-de-vente?omitHeader=1', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, width=820, height=600'); return false;">* voir les conditions</a></p>
                                        {% endif %}
                                    </div>
                                    {% if data.session.colisage is not defined %}
                                    <div dojotype="wc.widget.RefreshArea" id="shopperActionsRefreshArea" class="col-12 text-right">
                                        <div id="ecoPartContainer_73113" class="d-block">
                                            <p class="m-0 text-muted small">Dont éco-part : <span>5,20 €</span> {% if data.session.pro is defined and data.session.pro == 1 %}<sup class="small fp__pro_small">HT</sup>{% endif %}</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-3">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn btn-light col-12 py-2">
                                    <div id="productPageAdd2Cart">
                                        RDV Magasin
                                    </div>
                                </a>
                            </div>
                            <div class="col-6">
                                <a id="add2CartBtn" href="#" class="btn btn-primary col-12 py-2" onclick="javascript:setCurrentId('add2CartBtn');productDisplayJS.Add2ShopCartAjax('entitledItem_89104',document.getElementById('quantity_89104').value, false)" wairole="button" role="button" title="Ajouter au panier" onkeypress="javascript:MessageHelper.setFocusElement('add2CartBtn');" data-toggle="modal" >
                                    <div id="productPageAdd2Cart">
                                        Ajouter au panier
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-4">
                        <div dojotype="wc.widget.RefreshArea" id="itemAvailabilityRefreshAreaPopup">
                            <p id="firstDefaultShop_standardUI">
                                {% if data.session.stock is defined and data.session.stock == 'dispo' %}							
                                <span id="dispoCircle" class="text-warning fp__font-130">&#9679</span> Commandez aujourd’hui pour que le produit soit disponible à <a id="shopName_6_standardUI" href="" class="text-warning">Lapeyre Montluçon</a><span id="shopDateDispo_6_standardUI"> le 26/12/2017</span>
                                {% endif %}
                                {% if data.session.stock is defined and data.session.stock == 'stock' %}
                                <span id="dispoCircle" class="text-success fp__font-130">&#9679</span> <span id="6_standardUI" class="text-success">En stock</span> à <a id="shopName_6_standardUI" href="">Lapeyre Pointe de Gournay</a> <span id="shopDateDispo_6_standardUI"> à partir du 14/12/2017</span>
                                {% endif %}
                                {% if data.session.stock is defined and data.session.stock == 'indispo' %}
                                <span id="dispoCircle" class="text-danger fp__font-130">&#9679</span> <span id="6_standardUI" class="text-danger">Indisponible</span> à <a id="shopName_6_standardUI" href="">Lapeyre Caen</a>
                                {% endif %}
                            </p>
                        </div>
                        <p>
                            {% if data.session.stock is defined %}
                            <a id="availabilityPopupClick" href="#" class="text-muted" data-toggle="modal" data-target="#availabilityModal"><u>Voir la disponibilité dans d'autres magasins</u></a>
                            {% endif %}
                            {% if data.session.stock is not defined %}
                            <a id="availabilityPopupClick" href="#" class="text-muted" data-toggle="modal" data-target="#availabilityModal"><u>Voir la disponibilité en magasin</u></a>
                            {% endif %}
                        </p>									
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
                <p class="h5 description__title text-center my-4 pt-lg-5 pb-lg-4 px-xl-5 mx-xl-5 d-none d-sm-block">
                    L’escalier Primo en hêtre ou sapin offre un excellent rapport qualité-prix. Limons, main courante et contremarches sont revêtus d’un placage en bois. Recoupe et ajout de socle sont possibles.
                </p>
                <p class="text-center">
                    <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/picto_pefc.png" class="p-2 w-90">
                    <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/picto_made_in_france.png" class="p-2 w-90">
                    <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/picto_made_by_lapeyre.png" class="p-2 w-90">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% include 'storeWidgets/customersOpinion/customersOpinion.twig' %}
</div>

<div class="bg-light">
    <div class="container">
        {% include 'storeWidgets/appointment/appointment.twig' %}
    </div>
</div>

{% include 'storeWidgets/availabilityModal/availabilityModal.twig' %}

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/primo.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</div>


<script>
    $('.stair__display_thumb_image').click(function() {
        $('.stair__display_thumb_image').removeClass('fp__selected');
        $('.stair__display_thumb_desc').hide();
        $(this).addClass('fp__selected');
        $(this).next('.stair__display_thumb_desc').fadeIn();
        $(this).attr('data-image-hd-url');
        $('#imageModal img').attr('src', $(this).attr('data-image-hd-url'));
    });

    $("#fp__quantity").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) return false;
    });

    $("#qtyLeftBtn").click(function() {
        if (!$("#qtyLeftBtn").hasClass('text-muted')) $("#fp__quantity").val(parseInt($("#fp__quantity").val())-1);
        if (parseInt($("#fp__quantity").val())<=1) $("#qtyLeftBtn").addClass('text-muted');
        refresh_packing_qty();
    });

    $("#qtyRightBtn").click(function() {
        $("#qtyLeftBtn").removeClass('text-muted');
        if (!parseInt($("#fp__quantity").val())) $("#fp__quantity").val('0');  
        $("#fp__quantity").val(parseInt($("#fp__quantity").val())+1);
        refresh_packing_qty();
    });

</script>

{% endblock %}