.universe__family:nth-child(2n) {
    background: $white !important;
}
.universe__anchor {
    bottom: -25px;
}
.universe__familyBloc {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
}
.universe__familyBloc p {
    font-family: $font-family-1;
    z-index: 1;
}
.universe__familyBloc::after {
    background: rgba(0,0,0,0.30); 
    width: calc(100% - 32px);
    position: absolute;
    height: calc(100% - 32px);
    content: " ";
    border-radius: 3px;
    top: 16px;
    left: 16px;
}
.universe__familyBloc:hover::after {
    background: rgba(234, 0, 40, 0.5);
}
.universe__family:nth-child(1) {
    padding-top: 40px;
}
.universe__subFamilyContainerOther {
    line-height: 1em;
}

.universe__subFamilyContainerOtherImage {
    height: 45px;
    background-position: center center !important;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100px;
    cursor: pointer;
}

.universe__family a[aria-expanded=true] p:nth-of-type(1) {
    display: none;
}
.universe__family a[aria-expanded=false] p:nth-of-type(2) {
    display: none;
}

@include media-breakpoint-down(xl) {
    #widgetPinterest span[class*="_img"]:nth-child(n+2) {
        display:none;
    }
}

@include media-breakpoint-up(md) {
    .universe__family div[id*="collapse"] {
        display: block;
    }
}