.universe__family:nth-child(2n) {
    background: $white !important;
}
.universe__anchor {
    bottom: -25px;
}
.universe__family:nth-child(1) {
    padding-top: 40px;
}
.universe__subFamilyContainerOther {
    line-height: 1em;
}

.universe__subFamilyContainerOtherImage {
    height: 45px;
    background-position: center center !important;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100px;
    cursor: pointer;
}

.universe__family a[aria-expanded=true] p:nth-of-type(1) {
    display: none;
}
.universe__family a[aria-expanded=false] p:nth-of-type(2) {
    display: none;
}

@include media-breakpoint-down(xl) {
    #widgetPinterest span[class*="_img"]:nth-child(n+2) {
        display:none;
    }
}

@include media-breakpoint-up(md) {
    .universe__family div[id*="collapse"] {
        display: block;
    }
}