<div class="container py-5">
    <div class="row">
        <div class="col-12 text-center">
            <p class="h2 text-uppercase pb-3 pinterest_title">Idées et inspirations</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex" id="widgetPin">
            <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="600" data-pin-scale-width="60" href="https://www.pinterest.fr/lapeyre/la-cuisine/"></a>
        </div>
    </div>
</div>

<script async defer src="//assets.pinterest.com/js/pinit.js">
</script>