.stars-row .bg-stars, .stars-row .stars {
    font-size: 16px;
    top: -24px;
    height: 25px;
}

#avis_clients .stars-row .bg-stars, #avis_clients .stars-row .stars {
    font-size: 28px;
    top: -33px;
    height: 28px;
}

.stars-row .stars {
    color: $red-secondary;
    overflow: hidden;
    z-index: 1;
    white-space: nowrap;
}

#avis_clients .blockquote {
    font-size: inherit;
}

#avis_clients .blockquote::after {
    display: none;
}

#avis_clients .carousel-control-prev {
    left: 0px;
}

#avis_clients .carousel-control-next {
    right: 0px;
}

#avis_clients .carousel-control-next, #avis_clients .carousel-control-prev {
    width: 10px;
}

#avis_clients .viewMoreMobile {
    display: none;
}



@media only screen and (min-width: 768px) {
    #avis_clients .carousel-item {
        display: block;
    }
}