{% extends"layouts/checkout.html" %} 
{% block content %} 
<div id="TunnelCommandPaymentView" class="bg-light">
    {% include 'storeWidgets/tunnelShopCartHeaderUI/tunnelShopCartHeaderUI.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                {% include 'storeWidgets/tunnelPayment_UI/tunnelPayment_UI.twig' %}
            </div>
            <div class="col-lg-5 col-xl-4">
                {% include 'storeWidgets/tunnelRecapPanier/tunnelRecapPanier.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}