{% extends"layouts/default.html" %}

{% block content %}

{% include 'storeWidgets/jumbotron/jumbotron.twig' %}

{% include 'storeWidgets/breadcrumb/breadcrumb.twig' %}

{% include 'storeWidgets/description/description.twig' %}
 
{#

    <div class="col-12 text-center backCover middletext en-tete" style="background-image: url('images/fondtop.jpg')">
        <h1>PLANS DE TRAVAIL</h1>
        <p>En plan, étagère ou crédence, choisissez le coeur de votre cuisine</p>
        <a class="btn-mc">Trouver mon plan de travail !</a>
    </div>

#}
    <div class="col-12 back-light">
        <div class="container px-0 ">
            <div class="row py-5">
                <div class="col-md-11 col-lg-5 toright middletext top50">
                    <h2 class="text-md-left text-center">UNE MULTITUDE <span class="clearfix"></span> DE MATÉRIAUX</h2>
                    <p class="back-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod quis mauris ac faucibus. Mauris ut elit fringilla justo sagittis vestibulum.
                        Aliquam non sem at felis gravida auctor.
                        Curabitur bibendum libero ut metus pellentesque,
                        eu bibendum libero porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ut orci ac diam fringilla posuere. Fusce dictum turpis ut lorem vestibulum tempor. Ut aliquam magna eu ligula
                        lobortis egestas.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod quis mauris ac faucibus.</p>
                </div>
                <div class="col-md-4 col-lg-3 row imgAbsRight px-0 mx-0 pl-md-4 top50">
                    <div class="col-md-12 col-6 px-0">
                    <img class="img-fluid p-2" src="images/10_multitude_materieaux.jpg" alt="">
                    </div>
                    <div class="col-md-12 col-6 px-0">
                    <img class="img-fluid p-2 " src="images/18_multitude_materieaux.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-9 col-lg-4 px-0">

                <img class="w70 img-fluid p-2 " src="images/14_multitude_materieaux.jpg" alt="">
                    <div class="col-8 px-0">
                <img class="img-fluid d-none d-lg-block p-2" src="images/09_multitude_materieaux.jpg" alt="">
                    </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-12 back-light backLeft" style="background-image: url('images/finitions.jpg')">

        <div class="container px-0 py-md-5">
            <div class="row py-lg-5">

            <div class="col-md-10 offset-md-2 col-lg-6 offset-lg-6 middletext toleft">
                <h2 class="text-md-right text-center">LES FINITIONS <span class="clearfix"></span> DISPONIBLES</h2>
                <p class="back-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod quis mauris ac faucibus. Mauris ut elit fringilla justo sagittis vestibulum. Aliquam non sem at felis gravida auctor. Nulla porta vestibulum maximus.
                    <br>
                    Curabitur bibendum libero ut metus pellentesque, eu bibendum libero porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ut orci ac diam fringilla posuere. Fusce dictum turpis ut lorem vestibulum tempor. Ut aliquam magna eu ligula lobortis egestas.
                </p>
                <img class="img-fluid d-block d-md-none" src="images/finitions.jpg" alt="">
            </div>
            </div>
        </div>
    </div>
<div class="clearfix py-lg-3 back-light"></div>


    <div class="col-12">
    <div class="container px-0">
        <div class="py-5">
            <h2 class="text-center col-12">TROUVEZ VOTRE <span class="clearfix"></span> PLAN DE TRAVAIL IDÉAL</h2>
            <div class="col-12 text-center p-2">
                <button class="btn back-light">Stratifé Mat
                        <span class="close float-right" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                        </span>
                </button>

            </div>
            <div class="col-lg-8 offset-lg-2 col-12 text-lg-center row">
            <div class="col-lg-4 d-none d-lg-block">
                <img src="images/fondBlack.png" alt="" class="img-fluid">
                <p>Couleurs Unies Mat</p>
            </div>
            <div class="col-md-4 col-6 d-none d-lg-block">
                <img src="images/fondBlack.png" alt="" class="img-fluid">
                <p>Couleurs Unies Brillante</p>
            </div>
            <div class="col-md-4 col-6 d-none d-lg-block">
                <img src="images/fondBlack.png" alt="" class="img-fluid">
                <p>Ton Bois</p>
            </div>
            <div class="col-md-4 col-6 d-none d-lg-block mx-auto">
                <img src="images/fondBlack.png" alt="" class="img-fluid">
                <p>Ton Bois</p>
            </div>
            <div class="col-md-4 col-6 d-none d-lg-block mx-auto">
                <img src="images/fondBlack.png" alt="" class="img-fluid">
                <p>Ton Bois</p>
            </div>
            </div>


                <div class="row d-lg-none">


                    <div class="col-md-4 col-6">
                        <div class="card ">
                            <img class="img-fluid" src="images/fondBlack.png" alt="Card image cap">
                            <div class="back-light">
                                <p class="card-text d-md-inline-block">Plan de travail noir <span class="clearfix"></span>Stratifié 9mm</p>
                                <p class="card-text d-md-inline-block text-center float-md-right"> 109€ <span class="clearfix"></span><span class="lt">139€</span></p>
                                <a href="#" class="btn-mc float-right">Découvrir</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-6">
                        <div class="card ">
                            <img class="img-fluid" src="images/fondBlack.png" alt="Card image cap">
                            <div class="back-light">
                                <p class="card-text d-md-inline-block">Plan de travail noir <span class="clearfix"></span>Stratifié 9mm</p>
                                <p class="card-text d-md-inline-block text-center float-md-right"> 109€ <span class="clearfix"></span><span class="lt">139€</span></p>
                                <a href="#" class="btn-mc float-right">Découvrir</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-6">
                        <div class="card ">
                            <img class="img-fluid" src="images/fondBlack.png" alt="Card image cap">
                            <div class="back-light">
                                <p class="card-text d-md-inline-block">Plan de travail noir <span class="clearfix"></span>Stratifié 9mm</p>
                                <p class="card-text d-md-inline-block text-center float-md-right"> 109€ <span class="clearfix"></span><span class="lt">139€</span></p>
                                <a href="#" class="btn-mc float-right">Découvrir</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-6">
                        <div class="card ">
                            <img class="img-fluid" src="images/fondBlack.png" alt="Card image cap">
                            <div class="back-light">
                                <p class="card-text d-md-inline-block">Plan de travail noir <span class="clearfix"></span>Stratifié 9mm</p>
                                <p class="card-text d-md-inline-block text-center float-md-right"> 109€ <span class="clearfix"></span><span class="lt">139€</span></p>
                                <a href="#" class="btn-mc float-right">Découvrir</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-6">
                        <div class="card ">
                            <img class="img-fluid" src="images/fondBlack.png" alt="Card image cap">
                            <div class="back-light">
                                <p class="card-text d-md-inline-block">Plan de travail noir <span class="clearfix"></span>Stratifié 9mm</p>
                                <p class="card-text d-md-inline-block text-center float-md-right"> 109€ <span class="clearfix"></span><span class="lt">139€</span></p>
                                <a href="#" class="btn-mc float-right">Découvrir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                    <div class="card ">
                        <img class="img-fluid" src="images/fondBlack.png" alt="Card image cap">
                        <div class="back-light">
                            <p class="card-text d-md-inline-block">Plan de travail noir <span class="clearfix"></span>Stratifié 9mm</p>
                            <p class="card-text d-md-inline-block text-center float-md-right"> 109€ <span class="clearfix"></span><span class="lt">139€</span></p>
                            <a href="#" class="btn-mc float-right">Découvrir</a>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    {% include 'storeWidgets/madeinfrance/madeinfrance.twig' %}

    {% include 'storeWidgets/services/services.twig' %}

{% endblock %}
