{% extends"layouts/default.html" %}
{% block content %}
{% include 'storeWidgets/jumbotron/jumbotron.twig' %}

{% include 'storeWidgets/breadcrumb/breadcrumb.twig' %}

{% include 'storeWidgets/description/description.twig' %}


<div class="container">
	<div class="row">
		{% for object in childrens[global.request.get('code')] %}
			<div class="col-md-3">
            	{% include 'storeWidgets/thumbnailFamily/thumbnailFamily.twig' %}
            </div>
	    {% endfor %}
	</div>
</div>


{% include 'storeWidgets/appointment/appointment.twig' %}

{% include 'storeWidgets/services/services.twig' %}

{% endblock %}
