.fp__price, .fp__breadcrumb {
    font-family: $font-family-2;
}
.fp__display_thumbnails img {
    width: 100%;
    cursor: pointer;
}
.fp__picto {
    max-width: 45px;
}
.fp__brand {
    max-width: 90px;  
}
.fp__color {
    max-width: 35px;
    cursor: pointer;
}
.fp__selected {
    outline: 2px solid $red !important;
}
.fp__display_thumbnails .fp__selected::after {
    content: " ";
    position: absolute;
    top: calc(50% - 5px);
    right: -11px;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $red;
}
#fp__main_image, #qtyRightBtn, #qtyLeftBtn {
    cursor: pointer;
}
.fp__quantity_block, .fp__area_block {
    max-width: 120px;
}
.fp__area_small {
    font-size: 40%;
}
.fp__pro_small, .fp__promo_small {
    font-size: 60%;
}
.fp__font-130 {
    font-size: 130%;
}
.fp__advices {
    border: 8px solid $gray-light;
}
.fp__advices .h3 {
    top: -20px;
    left: calc(50% - 150px);
    width: 300px;
}
.fp__bottom-0 {
    bottom: 0;
}
.fp__product-wishlist-button {
    background: $gray-800;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
}
.fp__container a[aria-expanded=true] p:nth-of-type(1) {
    display: none;
}
.fp__container a[aria-expanded=false] p:nth-of-type(2) {
    display: none;
}
.products__list_promo {
    z-index: 1;
}
#carouselFpIndicators .carousel-indicators>li {
    background: $gray-300;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    cursor: pointer;
    margin: 8px;
}
#carouselFpIndicators .carousel-indicators>li.active {
    background: $red;
}
.fp__container .carousel-indicators {
    bottom: -50px;
}
.fp__container .carousel-item img {
    width: 100%
}

.fullImage-thumbnail-video {
    background: url(http://res.cloudinary.com/dwkgy95ov/image/upload/v1527240800/miniPictoVideo.png) 50% no-repeat rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
}
.opacity-3 {
    opacity: .3;
}

#ficheProduitStandardficheAside .stars-row .bg-stars, #ficheProduitStandardficheAside .stars-row .stars {
    font-size: 16px;
    top: -24px;
    height: 25px;
}

#avis_clients .stars-row .bg-stars, #avis_clients .stars-row .stars {
    font-size: 28px;
    top: -33px;
    height: 28px;
}

.stars-row .stars {
    color: $red-secondary;
    overflow: hidden;
    z-index: 1;
    white-space: nowrap;
}

#avis_clients .blockquote {
    font-size: inherit;
}

#avis_clients .blockquote::after {
    display: none;
}

body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

.modal-scrollbar-measure {

    overflow: hidden;
}

#avis_clients .carousel-control-prev {
    left: 0px;
}

#avis_clients .carousel-control-next {
    right: 0px;
}

#avis_clients .carousel-control-next, #avis_clients .carousel-control-prev {
    width: inherit;
}

#avis_clients .viewMoreMobile {
    display: none;
}

.fp__display_thumbnails_container1 {
    overflow: hidden;
    height: 388px;
}

.fp__display_thumbnails_container2 {
    transition: all .3s ease;
}

.fp__next_thumbnails {   
    bottom: 55px;
}

.fp__prev_thumbnails { 
    top: -7px;             
}

.fp__next_thumbnails span {   
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $gray-500;
    left: calc(50% - 3px);
}

.fp__prev_thumbnails span {                     
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $gray-500;
    left: calc(50% - 3px);
}

.fp__next_thumbnails:hover span {                     
    border-top: 7px solid $gray-700;
}

.fp__prev_thumbnails:hover span {                     
    border-bottom: 7px solid $gray-700;
}

#addCartModal .carouselCrossSell {
    height: 390px !important;
}

@media only screen and (min-width: 768px) {
    #avis_clients .carousel-item {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .fp__product_bloc {
        box-shadow: 0 3px 15px 2px $gray-200;
        border: 1px solid $gray-200;
    }

    #collapseBrand, #collapseDescription {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .fp__border-top {
        border-top: 1px solid $gray-600;
    }
    .fp__display_thumbnails_container2>div {
        max-width: 70px;
    }
    .fp__display_thumbnails .fp__selected::after {
        border: none;
    }
}

@media only screen and (max-width: 1200px) {
    .fp__container .h3 {
        font-size: 20px !important;
    }
    .fp__container .h2 {
        font-size: 26px !important; 
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .fp__container p {
        font-size: .8333333333rem;
    }
    .fp__container p.h5 {
        font-size: 1.25rem;
    }
    .fp__container p.h1 {
        font-size: 1.6666666667rem; 
    }
}
