<!-- BEGIN tunnelLivraisonTabUI -->
<div class="card mb-4">
    <div class="card-body">
        <h2>
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#livraison" aria-expanded="false" aria-controls="livraison">
                <svg width="35" height="35"><use xlink:href="#truck"/></svg>&nbsp;Je souhaite être livré (+ {{ data.session.cart.deliveryfees }} €)
            </a>
        </h2>
        <p class="text-muted m-0">A votre domicile, ou à l’adresse de votre choix (*)</p>

        <div id="livraison" class="collapse show" role="tabpanel" aria-labelledby="livraison">
            <hr>
            <h4>Votre adresse de livraison</h4>    
            {% if data.session.logged == 1  and data.session.addresses|length > 0 %}
            <ul class="row list-unstyled">
                {% for address in data.session.addresses %}
                    <li class="col-12 col-md-6 col-xl-4">
                        {% set livraison = 1 %}
                        {% if loop.index0 == 0 %}
                        {% set active = 1 %}
                        {% else %}
                        {% set active = 0 %}
                        {% endif %}
                        {% include 'storeWidgets/blocAdresseUI/blocAdresseUI.twig' %}
                    </li>
                {% endfor %}
                <li class="col-12 col-md-6 col-xl-4">
                    <div class="card my-3 is-new">
                        <div class="card-body">
                            <div class="text-center">
                                <p class="small">Vous avez besoin d’être facturé à une autre adresse ?</p>
                                <svg width="30" height="30"><use xlink:href="#plus-circle"/></svg>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {% else %}
                {% include 'storeWidgets/addressFormUI/addressFormUI.twig' %}
            {% endif %}
            <div class="alert alert-info" role="alert">
                Votre livraison est prévue à partir du 24/03/2017
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked>&nbsp;Je n'utilise pas la même adresse pour la facturation
                </label>
            </div>
            <br>
            <h4>Votre adresse de facturation</h4>
            {% if data.session.logged == 1 and data.session.addresses|length > 0 %}
                <ul class="row list-unstyled">
                {% for address in data.session.addresses %}
                    <li class="col-12 col-md-6 col-xl-4">
                        {% set livraison = 0 %}
                        {% if loop.index0 == 0 %}
                        {% set active = 1 %}
                        {% else %}
                        {% set active = 0 %}
                        {% endif %}
                        {% include 'storeWidgets/blocAdresseUI/blocAdresseUI.twig' %}
                    </li>
                {% endfor %}
                    <li class="col-12 col-md-6 col-xl-4">
                        <div class="card my-3 is-new">
                            <div class="card-body">
                                <div class="text-center">
                                    <p class="small">Vous avez besoin d’être facturé à une autre adresse ?</p>
                                    <svg width="30" height="30"><use xlink:href="#plus-circle"/></svg>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>                    
            {% else %}
                {% include 'storeWidgets/addressFormUI/addressFormUI.twig' %}
            {% endif %}
            <div class="row">
                <div class="ml-sm-auto col-sm-6 col-xl-4">
                    <button class="btn btn-primary btn-block">Valider et payer</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END tunnelLivraisonTabUI -->