{% extends"layouts/default.html" %} 
{% block content %} 
<div class="bg-light">
	{% include 'storeWidgets/tunnelShopCartHeaderUI/tunnelShopCartHeaderUI.twig' %}
    <div class="container">
    <div class="tunnelConnexion__container">
        <div class="card text-center tunnelConnexion__socialConnect">
			<ul class="nav nav-tabs row">
				<li class="col-lg-6 active">
					<a data-toggle="tab" href="#particuliers" >
						Particuliers
					</a>
				</li>
				<li class="col-lg-6">
					<a data-toggle="tab" href="#professionnels" >
						Professionnels
					</a>
				</li>
			</ul>
			<div class="tab-content">
			  <div id="particuliers" class="tab-pane fade in active">
			    <h3>HOME</h3>
			    <p>Some content.</p>
			  </div>
			  <div id="professionnels" class="tab-pane fade">
			    <h3>Menu 1</h3>
			    <p>Some content in menu 1.</p>
			  </div>
			</div>
        </div>
    </div>
    </div>
</div>
{% endblock %}