
<div class="row">
		<div class="livraison__container">
			<h4>Choisir votre horaire de retrait</h4>
			<p>Votre commande est disponible &agrave; partir du 24/07/2017</p>
			<div class="calendar__container">
				<img src="/web/images/calendar.png" style="width: 100%;" alt="">
			</div>
		</div>
		
	</div>
