<!-- BEGIN headerUI -->
<img src="/images/header.png" class="img-fluid">
{#
<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav hidden-xs">
			{% for family in catalog %}
			<li>YEP</li>
			{% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
			<li>LE SAVOIR BIEN FAIRE</li>
			<li>PROMOTIONS</li>
			<li>LE MAGAZINE</li>
		</ul>
    </div>
</nav>
#}
<!-- END headerUI -->