<a href="/{{ categories[family]['url'] }}">
    <div class="p-0 position-relative">
        <div class="d-flex thumbnailFamily rounded" style="background-image: url({% if categories[family]['imageFull']['content'] is defined %}{{ categories[family]['imageFull']['content'] }}{% endif %}); {% if thumbHeight is defined %} height: {{thumbHeight}}px {% endif %}">
            <p class="h2 m-auto text-white text-center text-uppercase">{{ categories[family]['shortDesc']['content'] }}</p>
        </div>
    </div>
</a>