<a href="/{% if categories[object]['url'] is defined %}{{ categories[object]['url'] }}{% else %}#{% endif %}">
    <div class="p-0 position-relative">
        <div class="d-flex thumbnailFamily rounded" style="background-image: url({% if categories[object]['imageThumbnail']['content'] is defined %}{{ categories[object]['imageThumbnail']['content'] }}{% endif %}); {% if thumbHeight is defined %} height: {{thumbHeight}}px {% endif %}">
            <p class="h2 m-auto text-white text-center text-uppercase">{{ categories[object]['label']['content'] }}</p>
        </div>
    </div>
</a>
<br>