.bg-transparent {
    background: transparent; 
}

.appointmentModal__close {
    top: 63px;
    left: -43px;
    z-index: 1;
}

.appointmentModal__close span {
    font-size: 34px;
    line-height: 7px;
    vertical-align: sub;
    padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 992px) {
    #modalAppointment .modal-dialog {
        max-width: calc(100% - 40px);
    }
}