<!-- BEGIN blocAdresseUI -->
<div class="card my-3 {% if active and active == 1 %}is-active{% endif %}">
	<div class="card-body">
		<p><strong>{{ address.firstname }} {{ address.lastname }}</strong></p>
		<p>{{ address.adress }} <br>{{ address.postcode }}&nbsp;{{ address.city }}</p>
		<p>01 43 25 20 52</p>
		{% if livraison == 1 %}
			{% if active == 1 %}
			<p class="small text-success"><svg width="10" height="10"><use xlink:href="#circle"/></svg>&nbsp;Livraison à partir du 14/04/17</p>
			{% else %}
			<p class="small text-danger"><svg width="10" height="10"><use xlink:href="#circle"/></svg>&nbsp;Adresse non desservie</p>
			{% endif %}
		{% endif %}
		{% if active == 1 %}
		  <button class="btn btn-default disabled">Sélectionné</button>
		{% else %}
		  <button class="btn btn-primary">Choisir</button>
		{% endif %}
	</div>
</div>
<!-- END blocAdresseUI -->