<div class="bg-light">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-flex pb-5 pt-0 py-md-5 px-0">
                    <div class="col-12 col-xl-10 m-auto pt-5 pt-md-0 m-0">
                        <div class="grid">
                            <div class="col-12 d-flex flex-row align-items-stretch home__mag_row p-0">
                                <div class="col-12 col-md-6 col-lg-4 p-2">
                                    <div class="h-100 d-flex p-0 home__bloc_mag" style="background-image: url(https://statics.lapeyre.fr/img/contrib/32880f5611400db2/vignette_optim_rangements.jpg)">
                                        <div class="text-white text-uppercase bg-dark px-4 py-1 d-table position-relative">Article</div>
                                        <h5 class="py-5 pl-5 pr-3 position-absolute"><a href="#" class="text-white font-weight-bold">Dressing : comment bien optimiser ses rangements ?</a></h5>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 p-2 d-none d-md-block">
                                    <div class="h-100 d-flex p-0 home__bloc_mag" style="background-image: url(https://statics.lapeyre.fr/img/contrib/32880f5611400e0b/vignette_salle_de_bains_k0kuxw.jpg)">
                                        <div class="text-white text-uppercase bg-dark px-4 py-1 d-table position-relative">Article</div>
                                        <h5 class="py-5 pl-5 pr-3 position-absolute"><a href="#" class="text-white font-weight-bold">Notre top 5 des petites salles de bains ouvertes sur la chambre</a></h5>
                                    </div>
                                </div>
                                <div class="col-4 p-2 d-none d-lg-block">
                                    <div class="h-100 d-flex p-0 home__bloc_mag" style="background-image: url(https://statics.lapeyre.fr/img/contrib/326fe2b0118002f1/volets.jpg)">
                                        <div class="text-white text-uppercase bg-dark px-4 py-1 d-table position-relative">Article</div>
                                        <h5 class="py-5 pl-5 pr-3 position-absolute"><a href="#" class="text-white font-weight-bold">Quel matériau pour ses volets ?</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>