<!-- BEGIN driveScheduleWidgetUI -->
<h4>Choisissez votre horaire de retrait</h4>
<div role="alert" class="alert alert-info small">
    Votre commande sera disponible &agrave; partir du 24/07/2017, à 14h. <a>Je souhaite récupérer ma commande plus tard</a>
</div>
<div class="px-3">
    <div class="slider slider-nav">
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Lundi <br><strong>1/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Mardi<br><strong>2/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border border-primary bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Mercredi<br><strong>3/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border text-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Jeudi<br><strong>4/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>   
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Vendredi<br><strong>5/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div> 
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Samedi<br><strong>6/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border text-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Dimanche<br><strong>7/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border text-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Lundi <br><strong>8/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Mardi<br><strong>9/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Mercredi<br><strong>10/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border text-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Jeudi<br><strong>11/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>   
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Vendredi<br><strong>12/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div> 
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Samedi<br><strong>13/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border text-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Dimanche<br><strong>14/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border text-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Lundi <br><strong>15/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Mardi<br><strong>16/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Mercredi<br><strong>17/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border text-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Jeudi<br><strong>18/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div>   
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Vendredi<br><strong>19/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border bg-light text-center small">17h30</div> 
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Samedi<br><strong>20/04</strong></div>
            <div class="p-2 my-1 border bg-light text-center small">09h30</div>
            <div class="p-2 my-1 border text-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border text-light text-center small">17h30</div>
        </div>
        <div class="px-1">
            <div class="p-2 my-1 border border-primary border-top-0 border-right-0 border-left-0 text-center small">Dimanche<br><strong>21/04</strong></div>
            <div class="p-2 my-1 border text-light text-center small">09h30</div>
            <div class="p-2 my-1 border bg-light text-center small">11h30</div>
            <div class="p-2 my-1 border bg-light text-center small">13h30</div>
            <div class="p-2 my-1 border bg-light text-center small">15h30</div>
            <div class="p-2 my-1 border text-light text-center small">17h30</div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.slider-nav').slick({
        dots: false,
        infinite:false,
        arrows: true,
        slidesToShow: 5,
        slidesToScroll: 4,
        centerMode: true,
        initialSlide:3,
//      nextArrow: '<div button type="button" class="slick-prev slick-arrow"><svg width="15" height="15"><use xlink:href="#arrow-right"/></svg></div>',
//      prevArrow: '<div button type="button" class="slick-next slick-arrow"><svg width="15" height="15"><use xlink:href="#arrow-left"/></svg></div>',
        responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 7,
                slidesToScroll: 7,
                initialSlide:3,
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4,
                initialSlide:3,
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
                initialSlide:3,
              }
            }      
        ]
    });

   // AJOUT DE LA CLASS IS-ACTIVE AU CLICK
    var hours = document.querySelectorAll('.calendar__hour');
    var div = document.querySelectorAll('div');
    for (var i = 0; i < hours.length; i++) {
        var hour = hours[i]
        var isActive = function() {
            this.classList.toggle('hour-is-active')
        }
        hour.addEventListener('click', isActive)
    }
});
</script>
<!-- END driveScheduleWidgetUI -->