<!-- BEGIN headerLightUI -->
<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
        {% if site.session.pro and site.session.pro == 1 %}
        <img src="/assets/images/logo_pro.png" alt="">    
        {% else %}
        <img src="/assets/images/logo.png" alt="">
        {% endif %}
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link"><span class="text-primary"><svg width="15" height="15"><use xlink:href="#lock"/></svg></span>&nbsp;&nbsp;100% sécurisé</span>
            </li>
            <li class="nav-item">
                <span class="nav-link"><span class="text-primary"><svg width="15" height="15"><use xlink:href="#phone"/></svg></span>&nbsp;&nbsp;01 00 00 00 00</span>
            </li>
            <li class="nav-item">
                <button class="btn btn-grey px-3 mx-3"> <svg width="15" height="15"><use xlink:href="#question"/></svg>&nbsp;Aide </button>
            </li>
        </ul>
    </div>
</nav>
<!-- END headerLightUI -->

