<div class="container">
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                {% include tunnelRetraitMagasinTabUI.html %}
                {% include tunnelLivraisonTabUI.html %}
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            {% include tunnelRecapPanier.html %}
        </div>
        <div class="col-12 text-muted small pb-3 mt-0">(*) Lorem ipsum ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus.</div>
    </div>
</div>