.tunnelShopHero{
  background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/hero_1.png);
    background-position: bottom;
}
  
