<!-- BEGIN tunnelShopCartHeaderUI -->
<div class="container pt-1 pb-4">
  <div class="row mt-3">
    {% comment %} <div class="timeline-horizontal"></div> {% endcomment %}
    <div class="col-4 text-center">
      {% if uri != 'TunnelShopCartView' %}
      <a href="/TunnelShopCartView">
        <svg width="40" height="40"><use xlink:href="#check" fill="grey"/></svg>
      </a>
      {% else %}
      <a href="/TunnelShopCartView">
        <svg width="40" height="40"><use xlink:href="#circled-1"/></svg>
      </a>
      {% endif %}
    </div>
    <div class="col-4 text-center">
      {% if uri == 'TunnelCommandPaymentView' %}
      <a href="/TunnelCommandShippingView">
        <svg width="40" height="40"><use xlink:href="#circled-2"/></svg>
      </a>
      {% else %}
      {% endif %}
    </div>
    <div class="col-4 text-center">
      {% if uri == 'TunnelCommandPaymentView' %}
      <a href="/TunnelCommandShippingView">
        <svg width="40" height="40"><use xlink:href="#circled-3"/></svg>
      </a>
      {% else %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="timeline-horizontal"></div>
    <div class="col-4 text-center">
      <a href="/TunnelShopCartView">
        <span class="{% if uri == 'TunnelShopCartView' %}text-primary{% else %}text-muted{% endif %}">
        Panier
        </span>
      </a>
    </div>
    <div class="col-4 text-center">
      <a href="/TunnelCommandShippingView">
        <span class="{% if uri == 'TunnelCommandShippingView' %}text-primary{% else %}text-muted{% endif %}">
          Modalités
        </span>
      </a>
    </div>
    <div class="col-4 text-center">
      <a href="/TunnelCommandPaymentView">
        <span class="{% if uri == 'TunnelCommandPaymentView' %}text-primary{% else %}text-muted{% endif %}">
          Paiement
        </span>
      </a>
    </div>
  </div>
</div>
<!-- END tunnelShopCartHeaderUI -->