<!-- BEGIN tunnelRecapPanier -->
<ul class="list-group mb-4">
    <li class="list-group-item">
        {% if uri == 'TunnelCommandConfirmation' %}        
        <h3>Commande <small class="text-muted">({{ site.session.cart.length }} produits)</small></h3>
        {% else %}
        <h3>Mon panier <small class="text-muted">({{ site.session.cart.length }} produits)</small></h3>
        {% endif %}
    </li>
    {% for article in site.session.cart.articles %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="{{ article.img }}" alt="">
            </div>
            <div class="col-9">
                <p class="small"><span class="text-muted">{{ article.id }}</span><br>
                {{ article.articleName }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {% if uri == 'TunnelCommandShippingView' %}
                <p class="small text-success"><svg width="10" height="10"><use xlink:href="#circle"/></svg> Disponible</p>
                {% endif %}
            </div>
            <div class="col-6">
                <p class="text-right">{{ article.quantity }} x {{ article.price|number_format(2, '.') }} €</p>
            </div>
        </div>
    </li>
    {% endfor %}
    <li class="list-group-item">
        {% if site.session.cart|length > 10 %}
        <div class="text-center">
            <button class="btn btn-primary btn-large mt20 mb20">Voir tout mon panier</button>
        </div>
        {% endif %}
        {% if site.session.cart.promotion %}
        <div class="row">
            <div class="col-8">
                 <p class="pl-1 my-1 text-primary">{{ site.session.cart.promotion.title }}</p>
             </div>
             <div class="col-4">
                 <p class="pr-1 my-1 text-primary float-right">{{ site.session.cart.promotion.amount|number_format(2, '.') }} €</p>
             </div>
        </div>
        {% endif %}
        {% if site.session.cart.coupon %}
        <div class="row">
            <div class="col-8">
                 <p class="pl-1 my-1 text-primary">{{ site.session.cart.coupon.title }}</p>
             </div>
             <div class="col-4">
                 <p class="pr-1 my-1 text-primary float-right">{{ site.session.cart.coupon.amount|number_format(2, '.') }} €</p>
             </div>
        </div>
        {% endif %}
        {% if site.session.cart.delivery %}
        <div class="row">
            <div class="col-8">
                 <p class="pl-1 my-1">Sous total</p>
             </div>
             <div class="col-4">
                 <p class="pr-1 my-1 float-right">{{ site.session.cart.subtotal|number_format(2, '.') }} €</p>
             </div>
        </div>
         <div class="row">
            <div class="col-8">
                <p class="pl-1 my-1">Frais de livraison</p>
            </div>
            <div class="col-4">
                <p class="pr-1 my-1 float-right">{{ site.session.cart.deliveryfees|number_format(2, '.') }} €</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-8">
                <p class="pl-1 my-1"><strong>Total TTC</strong></p>
            </div>
            <div class="col-4">
                <p class="pr-1 my-1 float-right"><strong>{{ site.session.cart.total|number_format(2, '.') }} €</strong></p>
            </div>
        </div>
    </li>
</ul>
<!-- END tunnelRecapPanier -->