                <div class="card mb-4">
                    <div class="card-body">
                        <h4>Choisissez votre mode de réglement</h4>
                        <div class="row">
                            <div class="col-6 col-md-3 my-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="/images/card-cb.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 my-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="/images/card-mastercard.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 my-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="/images/card-visa.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 my-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="/images/card-amex.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-justify small text-muted">La sécurité du paiement par carte est assurée par la BNP-Paribas. La transaction qui se fait entre vous et la BNP-Paribas est cryptée. Les informations que vous donnez, cryptées à partir de votre ordinateur, ne circulent jamais en clair sur Internet. Aucun numéro de carte n'est stocké chez Lapeyre.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <h4>Informations carte</h4>
                            </div>
                            <div class="col-3">
                                <p class="text-right"><img src="/images/card-cb.png"></p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-lg-12 col-xl-6">
                                <div class="form-group">
                                    <label>Numéro de carte</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Date d'expiration</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control">
                                                <option>01</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                                <option>05</option>
                                                <option>06</option>
                                                <option>07</option>
                                                <option>08</option>
                                                <option>09</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control">
                                                <option>2017</option>
                                                <option>2018</option>
                                                <option>2019</option>
                                                <option>2020</option>
                                                <option>2021</option>
                                                <option>2022</option>
                                                <option>2023</option>
                                                <option>2024</option>
                                                <option>2025</option>
                                                <option>2026</option>
                                                <option>2027</option>
                                                <option>2028</option>
                                                <option>2029</option>
                                                <option>2030</option>
                                                <option>2031</option>
                                                <option>2032</option>
                                                <option>2033</option>
                                                <option>2034</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Code de sécurité</label>
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ml-sm-auto col-sm-6 col-xl-4">
                                <button class="btn btn-primary btn-block">Valider et payer</button>
                            </div>
                        </div>
                    </div>
                </div>