<div class="livraison__adress is-active">
    <span>Anne Sophie Maison</span>
    <p>14 rue de la Roquette
        <br> 75011 Paris</p>
       <p class="adress__tel">01 43 25 20 52</p>
        <div class="text-center">
        	<button class="btn ">Choisir</button>
        </div>
</div>