<div class="container">
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                {% include 'storeWidgets/tunnelRetraitMagasinTabUI/tunnelRetraitMagasinTabUI.twig' %}
                {% include 'storeWidgets/tunnelLivraisonTabUI/tunnelLivraisonTabUI.twig' %}
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            {% include 'storeWidgets/tunnelRecapPanier/tunnelRecapPanier.twig' %}
        </div>
    </div>
</div>