/*
.tunnelConfirmation__container{
    padding: 0 20px;
    .card{
        margin-top: 0;
    }
}

.livraison__question {
    background-color: $gray-100;
    padding: 20px;
    img {
        margin-right: 10px;
    }
    span {
        color: #47494a;
        font-weight: bold;
    }
    p {
        color: #47494a;
        margin-left: 32px;
        font-weight: 300;
    }
}

.facturation-adress {
    border: 5px solid #fbefe5;
    padding: 20px;
}
.p__go-home{
    text-decoration: underline;
    position: relative;
    top: 10px;
}

.confirmation__print{
    background-color: $red;
}
.confirmation__print, .confirmation__id-card{
    border-radius: 5px;
    padding: 30px 10px 20px 30px;
    color: #FFF;
    p{
        margin-bottom: 0;
    }
    span{
        font-size: 22px;
        font-weight: 100;
    }
}

.confirmation__id-card{
background-color: #2e2d2d;
img{
    margin-right: 5px;
}
p{
    font-weight: 100;
}
}
*/