<!-- BEGIN headerLightUI -->
<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
        {% if data.session.pro is defined and data.session.pro == 1 %}
        <img src="/images/logo_pro.png" alt="">    
        {% else %}
        <img src="/images/logo.png" alt="">
        {% endif %}
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link"><i class="fa fa-lock text-primary"></i>&nbsp;&nbsp;100% sécurisé</span>
            </li>
            <li class="nav-item">
                <span class="nav-link"><i class="fa fa-phone text-primary"></i>&nbsp;&nbsp;01 00 00 00 00</span>
            </li>
            <li class="nav-item">
                <button class="btn btn-grey px-3 mx-3"> <i class="fa fa-question"></i>&nbsp;Aide </button>
            </li>
        </ul>
    </div>
</nav>
<!-- END headerLightUI -->

