.tunnelConnexion__container {
    background-color: $gray-100;
    padding: 20px;
}

.tunnelConnexion__connexion {
    padding: 10px 30px;
    background-color: #FFF;
    min-height: 340px;
    .tunnelConnexion__p {
        line-height: 26px;
        min-height: 60px;
    }
    .btn {
        min-width: 192px;
    }
    .tunnelConnexion__btns {
        margin-top: 50px;
    }
}

.tunnelConnexion__socialConnect {
    padding: 20px;
    h2 {
        margin-bottom: 0;
    }
    .google-btn {
        background-color: #d84b37;
        color: #FFF;
        min-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .facebook-btn {
        background-color: #3b5998;
        color: #FFF;
        min-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}