<div class="container-fluid">
	<div class="row">
		<img src="/images/footer-mobile.png" class="img-responsive visible-xs-block">
		<img src="/images/footer.png" class="img-responsive hidden-xs">
	</div>
</div>