<!-- BEGIN tunnelShopHero -->
<div class="bg-info py-2 py-sm-3 py-md-4 py-xl-5 mb-5 text-center"> <!-- <img src="/images/hero_1.png"> -->
    <h1>
       <i class="fa fa-check"></i>&nbsp;Merci pour votre commande
    </h1>
    <p>Vous allez recevoir un mail recapitulatif dans quelques instants</p>
    <br>
</div>
<!-- END tunnelShopHero -->