<div class="hide-on-med-and-down" id="headerContainer">
	<div id="overlay" style="display: none;"></div>
	<div id="headerRows">
		<div class="print-hidden row desktop-hidden" id="headerMobileContainer">
			<div class="col s12" id="headerMobile">
				<div class="col m5 s7" id="mobileLeftHeader">
					<div class="vCenteredHeaderContainer col s3" id="headerMobile-menu">
						<div class="vCenteredHeaderBlock">
							<a class="show" href="javascript:void(0);" id="slider-arrow">
							<div class="mobileIcon menuPicto"></div><span>MENU</span></a>
						</div>
					</div>
					<div class="vCenteredHeaderContainer col s7" id="headerMobile-logo">
						<div class="vCenteredHeaderBlock">
							<a href="/"><img alt="Lapeyre" class="responsive-img" src="https://declic-v8.lapeyre.fr/wcsstore/LapeyreSAS/images/logo.png"></a>
						</div>
					</div>
					<div class="vCenteredHeaderContainer col s2" id="headerMobile-search">
						<div class="vCenteredHeaderBlock">
							<div class="picto searchPicto"></div>
						</div>
					</div>
				</div>
				<div class="col m6 offset-m1 s5" id="mobileRightHeader">
					<div class="vCenteredHeaderContainer print-hidden col m6 hide-on-small-only" id="StoreChosenInfosTemp" style="display: none;">
						<div class="defaultStoreContainerArea vCenteredHeaderBlock">
							<div class="picto storePicto"></div>
							<div class="headerDataContainer">
								<span title="Lapeyre Porte de la villette"><a class="hover_underline" href="/tous-les-magasins/magasin-lapeyre-ile-de-france-porte-de-la-villette" id="storeQuickLink">Lapeyre Porte de la villette</a></span>
								<p class="hide-on-med-and-down">01 48 39 05 55</p>
							</div>
						</div>
					</div>
					<div class="vCenteredHeaderContainer col m3 s6" id="headerMobile-wishListDisplay">
						<div class="vCenteredHeaderBlock">
							<div class="picto wishListPicto"></div>
							<div class="headerDataContainer hide-on-small-only">
								<span>(<a href="javascript:redirectToSignOn('https://int-v8.declic.siegefr.lapeyre/WishListDisplayView?listId=.&amp;catalogId=10151&amp;langId=-2&amp;storeId=10101');" id="metaNavWishListLabel">0</a>)</span>
							</div>
						</div>
					</div>
					<div class="vCenteredHeaderContainer col m3 s6" id="headerMobile-cart">
						<div class="vCenteredHeaderBlock">
							<a href="https://int-v8.declic.siegefr.lapeyre/OrderCalculate?updatePrices=1&amp;doConfigurationValidation=Y&amp;calculationUsageId=-1&amp;errorViewName=TunnelShopCartView&amp;catalogId=10151&amp;langId=-2&amp;URL=https%3A%2F%2Fint-v8.declic.siegefr.lapeyre%2FTunnelShopCartView&amp;storeId=10101&amp;orderId=." id="widget_minishopcart">
							<div class="picto shopCartPicto"></div>
							<div class="headerDataContainer">
								(<span class="minishopcart_total" id="minishopcart_total_mobile">0</span>)
							</div></a>
						</div>
					</div>
				</div>
			</div>
			<div id="mobileSearch"></div>
		</div>
		<div class="" id="headerWidget">
			<div class="col s12" id="header" role="banner">
				<div class="mobile-hidden" id="quickLinksBarContainer">
					<ul class="print-hidden headerNonsticky container" id="quickLinksBar">
						<li>
							<a href="https://int-v8.declic.siegefr.lapeyre/recherche-devis" id="WC_MyAccountSidebarDisplayf_links_5" onclick="return xt_click(this,'C','19','header::devis_magasin', 'N');">Suivi de devis</a>
						</li>
						<li>
							<a href="https://int-v8.declic.siegefr.lapeyre/recherche-commande" id="WC_MyAccountSidebarDisplayf_links_5" onclick="return xt_click(this,'C','19','header::suivi_de_commande', 'N');">Suivi de commande</a>
						</li>
						<li class="LPProDesktop hide-on-med-and-down">
							<a href="/c/h/lapeyre-pro" id="metaNavlapeyrePro">Lapeyre pro</a>
						</li>
					</ul>
				</div>
				<div class="mobile-hidden container" id="headerRow1">
					<div id="logo">
						<div class="contentRecommendationWidget">
							<div class="left_espot centered">
								<a href="/"><img src="https://declic-v8.lapeyre.fr/wcsstore/LapeyreSAS/images/redesign/logo.png"></a>
							</div>
						</div>
					</div>
					<div class="dropdownLP">
						<select id="dropDownMenuCategories" onchange="location = this.options[this.selectedIndex].value;">
							<option value="#">
								Nos univers
							</option>
							<option id="" value="/fenetres-CCU0000">
								Fenêtres
							</option>
							<option id="" value="/portes-CCU0000">
								Portes
							</option>
							<option id="" value="/cuisine-CCU0000">
								Cuisine
							</option>
							<option id="" value="/bain-CCU0000">
								Salle de bains
							</option>
							<option id="" value="/rangements-CCU0000">
								Rangements
							</option>
							<option id="" value="/escaliers-CCU0000">
								Escaliers
							</option>
							<option id="" value="/solsetmurs-CCU0000">
								Sols &amp; murs
							</option>
							<option id="" value="/exterieur-CCU0000">
								Extérieur
							</option>
						</select>
					</div><a aria-label="Rechercher un produit, un conseil ou un article" data-toggle="searchBar" href="#" id="searchButton" role="button" title="Rechercher un produit, un conseil ou un article"><span class="spanacce" id="searchButton_ACCE_Label">Rechercher un produit, un conseil ou un article</span></a>
					<div class="print-hidden" data-parent="header" id="searchBar">
						<form action="https://int-v8.declic.siegefr.lapeyre/SearchDisplay" id="searchBox" method="get" name="CatalogSearchForm">
							<input autocomplete="off" name="storeId" type="hidden" value="10101"> <input autocomplete="off" name="catalogId" type="hidden" value="10151"> <input autocomplete="off" name="langId" type="hidden" value="-2"> <input autocomplete="off" name="sType" type="hidden" value="SimpleSearch"> <input autocomplete="off" name="resultCatEntryType" type="hidden" value="2"> <input autocomplete="off" name="showResultsPage" type="hidden" value="true"> <input autocomplete="off" name="searchSource" type="hidden" value="Q"> <input autocomplete="off" name="pageView" type="hidden" value=""> <input autocomplete="off" name="beginIndex" type="hidden" value="0"> <input autocomplete="off" name="pageSize" type="hidden" value="24">
							<div id="searchTermWrapper">
								<label for="SimpleSearchForm_SearchTerm" id="searchFormLabel">Rechercher un produit, un conseil ou un article</label> <input autocomplete="off" id="SimpleSearchForm_SearchTerm" maxlength="254" name="searchTerm" placeholder="Rechercher un produit, un conseil ou un article">
								<div aria-label="Rechercher un produit, un conseil ou un article" class="close hide-on-large-only" id="closeButtonSearch" role="button" title="Rechercher un produit, un conseil ou un article"></div>
							</div><span class="spanacce" id="autoSuggestCachedSuggestions_div_ACCE_Label">Menu Contenu de site suggéré et historique de recherche</span>
							<div aria-atomic="true" aria-labelledby="autoSuggestCachedSuggestions_div_ACCE_Label" aria-live="polite" aria-relevant="all" class="dijitContentPane" controllerid="AutoSuggestCachedSuggestionsController" dojotype="wc.widget.RefreshArea" id="autoSuggestCachedSuggestions_div" lang="fr" role="region" widgetid="autoSuggestCachedSuggestions_div"></div><a data-toggle="searchFilterMenu" href="#" id="searchFilterButton" role="button" style="display:none;">Toutes les catégories</a>
							<div class="basicMenu" data-parent="searchBar" id="searchFilterMenu">
								<ul>
									<li>
										<a class="menuLink" data-value="" href="#" tabindex="-1">Toutes les catégories</a>
									</li>
									<li>
										<a class="menuLink" data-value="11431" href="#" tabindex="-1">Fenêtres</a>
									</li>
									<li>
										<a class="menuLink" data-value="11435" href="#" tabindex="-1">Portes</a>
									</li>
									<li>
										<a class="menuLink" data-value="11433" href="#" tabindex="-1">Cuisine</a>
									</li>
									<li>
										<a class="menuLink" data-value="11423" href="#" tabindex="-1">Salle de bains</a>
									</li>
									<li>
										<a class="menuLink" data-value="11429" href="#" tabindex="-1">Rangements</a>
									</li>
									<li>
										<a class="menuLink" data-value="11425" href="#" tabindex="-1">Escaliers</a>
									</li>
									<li>
										<a class="menuLink" data-value="11421" href="#" tabindex="-1">Sols &amp; murs</a>
									</li>
									<li>
										<a class="menuLink" data-value="11427" href="#" tabindex="-1">Extérieur</a>
									</li>
									<li>
										<a class="menuLink" data-value="22601" href="#" tabindex="-1">JDD</a>
									</li>
								</ul>
							</div><button aria-label="Rechercher un produit, un conseil ou un article" class="submitButton mobile-hidden" role="button" title="Rechercher un produit, un conseil ou un article"><span class="spanacce" id="submitButton_ACCE_Label">Rechercher un produit, un conseil ou un article</span></button>
						</form>
						<div id="searchDropdown">
							<div id="autoSuggest_Result_div">
								<div id="widget_search_dropdown">
									<div aria-required="true" id="AutoSuggestDiv" onmouseout="SearchJS.autoSuggestHover = false; document.getElementById('SimpleSearchForm_SearchTerm').focus();" onmouseover="SearchJS.autoSuggestHover = true;" role="list">
										<ul>
											<li>
												<span class="spanacce" id="autoSuggestDynamic_Result_div_ACCE_Label">Menu Mots clés suggérés</span>
												<div aria-atomic="true" aria-labelledby="autoSuggestDynamic_Result_div_ACCE_Label" aria-live="polite" aria-relevant="all" class="dijitContentPane" controllerid="AutoSuggestDisplayController" dojotype="wc.widget.RefreshArea" id="autoSuggestDynamic_Result_div" lang="fr" role="list" widgetid="autoSuggestDynamic_Result_div"></div>
											</li>
										</ul>
										<ul class="hide-on-med-and-down">
											<li>
												<div id="autoSuggestStatic_1" role="listitem"></div>
											</li>
										</ul>
										<ul>
											<li>
												<div id="autoSuggestStatic_2" role="listitem"></div>
											</li>
										</ul>
										<ul>
											<li>
												<div id="autoSuggestStatic_3" role="listitem"></div>
											</li>
										</ul>
										<ul>
											<li>
												<div id="autoSuggestHistory" role="listitem"></div>
											</li>
										</ul>
										<ul>
											<li>
												<div class="hide-on-large-only" id="allProductsLink" role="listitem">
													<span id="allProductsLinkLabel">Voir tous les produits</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right vCenteredHeaderContainer print-hidden" id="MiniShopCartDisplay">
						<div class="vCenteredHeaderBlock">
							<span aria-hidden="true" class="spanacce" id="MiniShoppingCart_Label">Panier</span>
							<div aria-labelledby="MiniShoppingCart_Label" arialiveid="ariaMessage" ariamessage="Panier mis à jour" class="dijitContentPane" controllerid="MiniShoppingCartController" dojotype="wc.widget.RefreshArea" id="MiniShoppingCart" lang="fr" role="region" widgetid="MiniShoppingCart">
								<a aria-label="Panier" href="#" id="widget_minishopcart" onclick="javascript:location.href='https://int-v8.declic.siegefr.lapeyre/OrderCalculate?updatePrices=1&amp;doConfigurationValidation=Y&amp;calculationUsageId=-1&amp;errorViewName=TunnelShopCartView&amp;catalogId=10151&amp;langId=-2&amp;URL=https%3A%2F%2Fint-v8.declic.siegefr.lapeyre%2FTunnelShopCartView&amp;storeId=10101&amp;orderId=.';" role="button">
								<div class="picto shopCartPicto"></div>
								<div class="headerDataContainer">
									<span class="minishopcart_total">(0)</span>
								</div></a>
								<div id="placeHolder"></div>
								<div id="MiniShopCartProductAdded">
									<div aria-labelledby="cartDropdownMessage" id="MiniShopCartProductAddedWrapper" style="display:none;">
										<div id="widget_minishopcart_popup_1">
											<div class="cartDropdownDesktop" id="cartDropdown">
												<div class="titleBlock" id="cartDropdownMessage">
													<span>Produit ajouté à</span> mon panier
												</div><a class="closeButton" href="javascript:dijit.byId('MiniShopCartProductAdded').hide();deleteWidgetAssociationInPopin();" id="MiniShopCartCloseButton_2"></a>
												<div class="content">
													<div class="products"></div>
												</div>
											</div>
										</div>
									</div>
								</div><input id="currentOrderQuantity" type="hidden" value="0"> <input id="currentOrderAmount" type="hidden" value="0.00"> <input id="currentOrderCurrency" type="hidden" value="EUR"> <input id="currentOrderLanguage" type="hidden" value="-2"> <input id="currentOrderId" type="hidden" value=""> <input id="currentOrderLocked" type="hidden" value="">
							</div>
							<div aria-labelledby="MiniShoppingCart_Label" class="dijitContentPane" controllerid="MiniShopCartContentsController" dojotype="wc.widget.RefreshArea" id="MiniShopCartContents" lang="fr" widgetid="MiniShopCartContents"></div>
						</div>
					</div>
					<div class="right vCenteredHeaderContainer print-hidden" id="WishListDisplay">
						<div class="vCenteredHeaderBlock">
							<div class="picto wishListPicto"></div>
							<div class="headerDataContainer">
								<span><a href="javascript:redirectToSignOn('https://int-v8.declic.siegefr.lapeyre/WishListDisplayView?listId=.&amp;catalogId=10151&amp;langId=-2&amp;storeId=10101');" id="metaNavWishListLabel">(0)</a></span>
							</div>
						</div>
					</div>
					<div class="right vCenteredHeaderContainer print-hidden" id="MyAccountInOut">
						<div class="vCenteredHeaderBlock">
							<div class="picto myAccountPicto"></div>
							<div class="headerDataContainer">
								<span><a aria-haspopup="true" class="hover_underline" href="https://int-v8.declic.siegefr.lapeyre/LogonForm?myAcctMain=1&amp;catalogId=10151&amp;langId=-2&amp;storeId=10101" id="signInOutQuickLink" onclick="return xt_click(this,'C','19','header::mon_compte','N');">Se connecter</a></span>
							</div>
						</div>
					</div>
					<div class="right vCenteredHeaderContainer print-hidden" controllerid="HeaderStoreLocationRefreshArea" dojotype="wc.widget.RefreshArea" id="StoreChosenInfos" lang="fr" widgetid="StoreChosenInfos">
						<div class="defaultStoreContainerArea vCenteredHeaderBlock">
							<div class="picto storePicto"></div>
							<div class="headerDataContainer">
								<span title="Lapeyre Porte de la villette"><a class="hover_underline" href="/tous-les-magasins/magasin-lapeyre-ile-de-france-porte-de-la-villette" id="storeQuickLink" onclick="return xt_click(this,'C','19','header::changer_de_magasin','A');">Lapeyre Porte de la villette</a></span>
								<p class="hide-on-med-and-down">01 48 39 05 55</p>
							</div>
						</div>
						<div class="popover-frame" id="monMagPopup">
							<div class="popover-frame-arrow"></div>
							<div class="header">
								<h2 class="title">Mon magasin</h2><a class="subtitle hover_underline" href="/tous-les-magasins" onclick="return xt_click(this,'C','19','header::changer_de_magasin','A');">Voir tous nos magasins</a> <a class="closeButton" onclick="javascript:$('#monMagPopup').fadeToggle(300);"></a>
							</div>
							<div class="body">
								<div class="col-container">
									<div class="col shop-address">
										<h3 class="title"><a href="/tous-les-magasins/magasin-lapeyre-ile-de-france-porte-de-la-villette" onclick="return xt_click(this,'C','19','header::changer_de_magasin','A');" title="Lapeyre Porte de la villette">Lapeyre Porte de la villette</a></h3>
										<p>Magasin</p>
										<hr class="horizontalDivider">
										<p>75 boulevard Félix Faure / Bains au 55 Boulevard Félix Faure</p>
										<p>BP 76</p>
										<p>93302 Aubervilliers</p>
										<p class="hide-on-med-and-down">01 48 39 05 55</p><br>
									</div>
								</div>
								<p class="cta"><img alt="Se rendre au magasin" class="icon" src="/LapeyreSAS/images/shopBlockYaller.png"> <a class="goToShop black underline" href="/tous-les-magasins/magasin-lapeyre-ile-de-france-porte-de-la-villette" onclick="return xt_click(this,'C','19','header::changer_de_magasin','A');">Se rendre au magasin</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="print-hidden container" id="headerRow2">
					<div class="desktop-hidden mobileMenuButton" id="headerMobile-account">
						<a href="https://int-v8.declic.siegefr.lapeyre/LogonForm?myAcctMain=1&amp;catalogId=10151&amp;langId=-2&amp;storeId=10101" id="slider-arrow1">
						<div class="picto myAccountPicto" id="guestAccount"></div><span>Se connecter</span></a>
					</div>
					<div aria-labelledby="departmentsButton" class="dijitContentPane" controllerid="departmentSubMenu_Controller" dojotype="wc.widget.RefreshArea" id="wc_widget_RefreshArea_0" lang="fr" widgetid="wc_widget_RefreshArea_0">
						<ul aria-labelledby="departmentsButton" data-parent="header" id="departmentsMenu" role="menu">
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11431" id="departmentLinks_11431">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/fenetres-CCU0003" id="departmentButton_11431" onclick="return xt_click(this,'C','19','header::menu::fenetres', 'N');" role="menuitem"><span>FENÊTRES</span></a>
								<div aria-label="Fenêtres" class="departmentMenu departmentMenu1 container" data-id="11431" data-target="departmentLinks_11431" id="departmentMenu_11431" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/fenetres-CCU0003" id="departmentLink_11431">FENÊTRES</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/fenetres-CCU0003" id="departmentLink_11431"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/514/239/VU-201514239.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/fenetres-CCU0003/fenetres-SCU652330" id="categoryLink_11431_23113">Fenêtres</a>
												</li>
												<li>
													<a href="/fenetres-CCU0003/fenetres-toit-SCU652335" id="categoryLink_11431_23107">Fenêtres de toit</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/fenetres-CCU0003/accessoires-SCU652337" id="categoryLink_11431_23111">Accessoires</a>
												</li>
												<li>
													<a href="/fenetres-CCU0003/volets-SCU652339" id="categoryLink_11431_23109">Volets</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/les-materiaux-des-fenetres-Lapeyre-tableau-comparatif">Les matériaux des fenêtres</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/preparer-projet/preparer-un-remplacement-de-fenetres">Préparer un remplacement</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/bien-choisir-une-fenetre-de-toit">Choisir une fenêtre de toit</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/choisir-des-volets-battants">Choisir des volets battants</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=fen%C3%AAtre"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11435" id="departmentLinks_11435">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/portes-CCU0004" id="departmentButton_11435" onclick="return xt_click(this,'C','19','header::menu::portes', 'N');" role="menuitem"><span>PORTES</span></a>
								<div aria-label="Portes" class="departmentMenu departmentMenu1 container" data-id="11435" data-target="departmentLinks_11435" id="departmentMenu_11435" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/portes-CCU0004" id="departmentLink_11435">PORTES</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/portes-CCU0004" id="departmentLink_11435"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/206/446/VU-201206446.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/portes-CCU0004/separations-pieces-CCN347190" id="categoryLink_11435_12625">Séparations de pièces</a>
												</li>
												<li>
													<a href="/portes-CCU0004/portes-service-cave-CCN0177" id="categoryLink_11435_11603">Portes de service et de cave</a>
												</li>
												<li>
													<a href="/portes-CCU0004/securite-appartement-CCN0053" id="categoryLink_11435_11591">Sécurité d'appartement</a>
												</li>
												<li>
													<a href="/portes-CCU0004/poignees-serrures-CCN0055" id="categoryLink_11435_11593">Poignées et serrures</a>
												</li>
												<li>
													<a href="/portes-CCU0004/auvents-marquises-CCN0056" id="categoryLink_11435_11605">Auvents et marquises</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/portes-CCU0004/porte-garage-CCN353989" id="categoryLink_11435_12627">Portes de garage</a>
												</li>
												<li>
													<a href="/portes-CCU0004/motorisations-porte-garage-CCN0058" id="categoryLink_11435_11607">Motorisations de porte de garage</a>
												</li>
												<li>
													<a href="/portes-CCU0004/domotique-CCN0059" id="categoryLink_11435_11609">La maison connectée</a>
												</li>
												<li>
													<a href="/portes-CCU0004/produits-pose-CCN0060" id="categoryLink_11435_12613">Produits de pose</a>
												</li>
												<li>
													<a href="/portes-CCU0004/portes-scu-SCU652180" id="categoryLink_11435_23115">Portes SCU</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/porte-d-entree-standard-ou-porte-d-entree-sur-mesure">Porte standard ou sur mesure ?</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/outils/outil-porte-personnalisee-lapeyre">Personnalisez votre porte</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/la-securite-les-portes-d-entree">Sécurité des portes d'entrée</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/La-verriere-datelier-illumine-votre-interieur">Nos verrières d’atelier</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=porte"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11433" id="departmentLinks_11433">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/cuisine-CCU0001" id="departmentButton_11433" onclick="return xt_click(this,'C','19','header::menu::cuisine', 'N');" role="menuitem"><span>CUISINE</span></a>
								<div aria-label="Cuisine" class="departmentMenu departmentMenu1 container" data-id="11433" data-target="departmentLinks_11433" id="departmentMenu_11433" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/cuisine-CCU0001" id="departmentLink_11433">CUISINE</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/cuisine-CCU0001" id="departmentLink_11433"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/003/586/VU-201003586.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/cuisine-CCU0001/meubles-modeles-cuisine-CCN0010" id="categoryLink_11433_11527">Meubles &amp; modèles de cuisine</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/poignees-boutons-CCN0011" id="categoryLink_11433_11537">Poignées et boutons</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/credences-plans-travail-CCN0013" id="categoryLink_11433_11539">Crédences et plans de travail</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/eviers-CCN0014" id="categoryLink_11433_11521">Eviers</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/robinetterie-CCN0015" id="categoryLink_11433_11535">Robinetterie</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/electromenager-CCN0016" id="categoryLink_11433_11553">Electroménager</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/cuisine-CCU0001/kitchenettes-CCN0012" id="categoryLink_11433_11531">Kitchenettes</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/eclairage-CCN0019" id="categoryLink_11433_11541">Eclairage</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/etageres-tablettes-CCN0022" id="categoryLink_11433_11545">Etagères &amp; tablettes</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/accessoires-CCN0021" id="categoryLink_11433_11547">Equipements</a>
												</li>
												<li>
													<a href="/cuisine-CCU0001/carrelage-cuisine-CCN361484" id="categoryLink_11433_12631">Carrelages de cuisine</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/la-cuisine-Eyre-dans-l-objectif-des-blogueuses">Blogueuse en cuisine</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/choisir-le-plan-de-travail-de-votre-cuisine">Choisir un plan de travail</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/delimiter-les-espaces-dedies-en-cuisine">Délimiter les espaces</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/des-astuces-rangement-pour-une-petite-cuisine">Ranger dans une petite cuisine</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=cuisine"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11423" id="departmentLinks_11423">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/bain-CCU0002" id="departmentButton_11423" onclick="return xt_click(this,'C','19','header::menu::bain', 'N');" role="menuitem"><span>SALLE DE BAINS</span></a>
								<div aria-label="Salle de bains" class="departmentMenu departmentMenu1 container" data-id="11423" data-target="departmentLinks_11423" id="departmentMenu_11423" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/bain-CCU0002" id="departmentLink_11423">SALLE DE BAINS</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/bain-CCU0002" id="departmentLink_11423"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/515/685/VU-201515685.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/bain-CCU0002/meubles-CCN0086" id="categoryLink_11423_11571">Meubles</a>
												</li>
												<li>
													<a href="/bain-CCU0002/douche-CCN0029" id="categoryLink_11423_11561">Douche</a>
												</li>
												<li>
													<a href="/bain-CCU0002/baignoires-CCN0028" id="categoryLink_11423_11559">Baignoires</a>
												</li>
												<li>
													<a href="/bain-CCU0002/toilettes-CCN0030" id="categoryLink_11423_11563">Espace WC</a>
												</li>
												<li>
													<a href="/bain-CCU0002/vasques-lavabos-CCN0025" id="categoryLink_11423_11525">Vasques, lavabos &amp; bidets</a>
												</li>
												<li>
													<a href="/bain-CCU0002/robinetterie-CCN0031" id="categoryLink_11423_11565">Robinetterie</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/bain-CCU0002/miroirs-armoires-toilette-CCN0024" id="categoryLink_11423_11551">Miroirs, spots et armoires de toilette</a>
												</li>
												<li>
													<a href="/bain-CCU0002/seche-serviette-CCN0026" id="categoryLink_11423_11555">Sèche-serviettes</a>
												</li>
												<li>
													<a href="/bain-CCU0002/agencement-personnalisation-CCN0033" id="categoryLink_11423_11569">Revêtements muraux et briques de verre</a>
												</li>
												<li>
													<a href="/bain-CCU0002/carrelages-CCN354382" id="categoryLink_11423_12629">Carrelages et revêtements de sols</a>
												</li>
												<li>
													<a href="/bain-CCU0002/accessoires-salle-bains-CCN0027" id="categoryLink_11423_11557">Accessoires de salle de bains</a>
												</li>
												<li>
													<a href="/bain-CCU0002/plomberie-produits-mise-oeuvre-CCN0032" id="categoryLink_11423_12601">Plomberie et produits de mise en œuvre</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/le-verre-de-douche-a-l-epreuve-de-l-eau">Le verre de douche innovant</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/les-carrelages-de-salle-de-bains">Quel carrelage choisir ?</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/avant-apres-transformez-votre-piece-d-eau-en-salle-de-bains-adaptee">Agrandissez la salle de bains</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/baignoire-en-ilot-et-robinet-retro-pour-salle-de-bain-vintage">Une salle de bains rétro</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=bain"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11429" id="departmentLinks_11429">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/rangements-CCU0005" id="departmentButton_11429" onclick="return xt_click(this,'C','19','header::menu::placards-dressing', 'N');" role="menuitem"><span>RANGEMENTS</span></a>
								<div aria-label="Rangements" class="departmentMenu departmentMenu1 container" data-id="11429" data-target="departmentLinks_11429" id="departmentMenu_11429" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/placards-dressing-CCU0005" id="departmentLink_11429">RANGEMENTS</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/placards-dressing-CCU0005" id="departmentLink_11429"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/412/552/VU-201412552.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/placards-dressing-CCU0005/bibliotheques-CCN426500" id="categoryLink_11429_16619">Bibliothèques</a>
												</li>
												<li>
													<a href="/placards-dressing-CCU0005/amenagements-placard-CCN0061" id="categoryLink_11429_11621">Aménagements de placard, dressing</a>
												</li>
												<li>
													<a href="/placards-dressing-CCU0005/accessoires-rangement-CCN0062" id="categoryLink_11429_11623">Accessoires de rangement</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/placards-dressing-CCU0005/boutons-poignees-CCN0063" id="categoryLink_11429_11625">Boutons et poignées</a>
												</li>
												<li>
													<a href="/placards-dressing-CCU0005/tabletterie-CCN0064" id="categoryLink_11429_11627">Tabletterie</a>
												</li>
												<li>
													<a href="/placards-dressing-CCU0005/portes-placard-CCN0084" id="categoryLink_11429_11629">Portes de placard</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/quand-Lapeyre-rencontre-Jessica-le-plein-d-idees-pour-la-maison">Reportage déco chez Aude</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/Portes-coulissantes-Glisseo-simples-et-astucieuses">Portes coulissantes Glisseo</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/les-rangements-et-amenagements-de-placards">Nos aménagements de placard</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/preparer-projet/optimiser-un-espace-de-rangement">Optimisez votre espace !</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=rangement"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11425" id="departmentLinks_11425">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/escaliers-CCU0006" id="departmentButton_11425" onclick="return xt_click(this,'C','19','header::menu::escaliers', 'N');" role="menuitem"><span>ESCALIERS</span></a>
								<div aria-label="Escaliers" class="departmentMenu departmentMenu1 container" data-id="11425" data-target="departmentLinks_11425" id="departmentMenu_11425" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/escaliers-CCU0006" id="departmentLink_11425">ESCALIERS</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/escaliers-CCU0006" id="departmentLink_11425"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/309/824/VU-201309824.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/escaliers-CCU0006/escaliers-exterieurs-CCN0065" id="categoryLink_11425_11631">Escaliers extérieurs</a>
												</li>
												<li>
													<a href="/escaliers-CCU0006/escaliers-interieur-CCN0227" id="categoryLink_11425_11617">Escaliers intérieurs</a>
												</li>
												<li>
													<a href="/escaliers-CCU0006/echelles-escamotables-CCN0066" id="categoryLink_11425_11633">Echelles et escamotables</a>
												</li>
												<li>
													<a href="/escaliers-CCU0006/rampes-balustrades-CCN0067" id="categoryLink_11425_11635">Rampes et balustrades</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/escaliers-CCU0006/kits-renovation-marches-CCN0069" id="categoryLink_11425_11613">Kits de rénovation de marches</a>
												</li>
												<li>
													<a href="/escaliers-CCU0006/main-courantes-CCN0068" id="categoryLink_11425_12615">Main courantes</a>
												</li>
												<li>
													<a href="/escaliers-CCU0006/mains-courantes-CCN0068" id="categoryLink_11425_23601">Mains courantes</a>
												</li>
												<li>
													<a href="/escaliers-CCU0006/produits-pose-accessoires-CCN0070" id="categoryLink_11425_11615">Produits de pose et accessoires</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/des-escaliers-plus-aeriens-que-jamais">Des escaliers design</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/bien-choisir-votre-escalier-d-int%C3%A9rieur">Bien choisir votre escalier</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/preparer-projet/renover-un-escalier-avec-le-kit-renovation-de-marche">Kit de rénovation de marche</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/lapeyre-vous-emmene-a-la-re-conquete-de-l-espace">Idées pour optimiser l’espace</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=escalier"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11421" id="departmentLinks_11421">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/solsetmurs-CCU0007" id="departmentButton_11421" onclick="return xt_click(this,'C','19','header::menu::sols-murs', 'N');" role="menuitem"><span>SOLS &amp; MURS</span></a>
								<div aria-label="Sols &amp; murs" class="departmentMenu departmentMenu1 container" data-id="11421" data-target="departmentLinks_11421" id="departmentMenu_11421" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/sols-murs-CCU0007" id="departmentLink_11421">SOLS &amp; MURS</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/sols-murs-CCU0007" id="departmentLink_11421"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/t_m/urs/CCU007%20-%20sols%20et%20murs.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/sols-murs-CCU0007/parquets-CCN0071" id="categoryLink_11421_11619">Parquets</a>
												</li>
												<li>
													<a href="/sols-murs-CCU0007/sols-stratifies-CCN0072" id="categoryLink_11421_11637">Sols Stratifiés</a>
												</li>
												<li>
													<a href="/sols-murs-CCU0007/vinyles-CCN0073" id="categoryLink_11421_11639">Sols Vinyles</a>
												</li>
												<li>
													<a href="/sols-murs-CCU0007/carrelages-CCN0087" id="categoryLink_11421_11643">Carrelages</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/sols-murs-CCU0007/terrasse-CCN0074" id="categoryLink_11421_12617">Terrasse</a>
												</li>
												<li>
													<a href="/sols-murs-CCU0007/lambris-revetements-muraux-CCN0088" id="categoryLink_11421_11645">Lambris et habillages muraux</a>
												</li>
												<li>
													<a href="/sols-murs-CCU0007/produits-pose-entretien-CCN0075" id="categoryLink_11421_11641">Produits de pose et d'entretien</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/sol-stratifie-parquet-ou-sol-vinyle">Stratifié, parquet ou vinyle ?</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/choisir-son-sol-stratifie">Choisir son sol stratifié</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/inspirations-tendances/lambris-au-c%C5%93ur-des-tendances-amenagement">Lambris: au cœur des tendances</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/preparer-projet/installer-un-parquet-dans-une-chambre">Installer un parquet</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=sols+et+murs"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="departmentLinks departmentButton1" data-target="departmentMenu_11427" id="departmentLinks_11427">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/exterieur-CCU0008" id="departmentButton_11427" onclick="return xt_click(this,'C','19','header::menu::exterieur-jardin', 'N');" role="menuitem"><span>EXTÉRIEUR</span></a>
								<div aria-label="Extérieur" class="departmentMenu departmentMenu1 container" data-id="11427" data-target="departmentLinks_11427" id="departmentMenu_11427" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/exterieur-jardin-CCU0008" id="departmentLink_11427">EXTÉRIEUR</span>
										<div class="picto plusPicto">
											<span class="link desktop-hidden" href="/exterieur-jardin-CCU0008" id="departmentLink_11427"></span>
										</div>
									</div>
									<div class="row">
										<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/413/019/VU-201413019.jpg"></div>
										<div class="categoryList col l6 s12">
											<ul>
												<li>
													<a href="/exterieur-jardin-CCU0008/portes-garage-CCN0076" id="categoryLink_11427_11441">Portes de garage</a>
												</li>
												<li>
													<a href="/exterieur-jardin-CCU0008/stores-banne-CCN0082" id="categoryLink_11427_12619">Stores banne</a>
												</li>
												<li>
													<a href="/exterieur-jardin-CCU0008/motorisations-CCN0077" id="categoryLink_11427_11443">Motorisations</a>
												</li>
												<li>
													<a href="/exterieur-jardin-CCU0008/terrasses-CCN0078" id="categoryLink_11427_11445">Terrasses</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="/exterieur-jardin-CCU0008/balustrades-exterieures-CCN0079" id="categoryLink_11427_11447">Balustrades extérieures</a>
												</li>
												<li>
													<a href="/exterieur-jardin-CCU0008/clotures-panneaux-CCN0080" id="categoryLink_11427_11449">Clôtures, travées et panneaux</a>
												</li>
												<li>
													<a href="/exterieur-jardin-CCU0008/tonnelles-toits-terrasse-CCN0081" id="categoryLink_11427_11451">Tonnelles et toits de terrasse</a>
												</li>
												<li>
													<a href="/exterieur-jardin-CCU0008/portails-CCN0089" id="categoryLink_11427_11453">Portails</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col m3">
											<div class="row">
												<div class="meaLiens col12 meaLienNoBkg">
													<span class="titleBlock">LE MAG</span>
													<div class="col12 acol12">
														<ul>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/preparer-projet/les-nouveaux-caillebotis-pour-la-terrasse">Les nouveaux caillebotis</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/preparer-projet/poser-des-caillebottis-de-terrasse">Bien poser des caillebottis</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/preparer-projet/poser-des-lames-de-terrasse">Poser des lames de terrasse</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/c/magazine/pieces-maison/les-motorisations-de-portails">Les motorisations de portails</a>
															</li>
															<li class="redBullet">
																<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=ext%C3%A9rieur"><u>Voir tous les articles</u></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="gutter"></div>
									</div>
								</div>
							</li>
							<li class="editorialLinks nav-Blanc departmentButton1" data-target="departmentMenu_leMag" id="editorialLinks_leMag">
								<a aria-haspopup="true" class="departmentButton departmentButton1" href="/c/magazine/" id="departmentButton_leMag" onclick="return xt_click(this,'C','19','header::menu::', 'N');" role="menuitem"><span>Le Mag</span></a>
								<div aria-label="Le Mag" class="departmentMenu departmentMenu1 container" data-id="leMag" data-parent="departmentsMenu" data-target="editorialLinks_leMag" id="departmentMenu_leMag" role="menu">
									<div class="header desktop-hidden">
										<span class="link desktop-hidden" href="/c/magazine/" id="departmentLink_leMag">LE MAG</span>
									</div>
									<div class="row">
										<div class="mobile-hidden left categoryIntro col s3"><img alt="Grid_BienvenueIdeeConseils.jpg" src="//int-vm2-v8.declic.siegefr.lapeyre/img/contrib/2c2f8e21408004b2/Grid_BienvenueIdeeConseils.jpg"></div>
										<div class="categoryList col s3">
											<ul>
												<li>
													<a class="link" href="/c/magazine/inspirations-tendances/">Inspirations et tendances</a>
												</li>
												<li>
													<a class="link" href="/c/magazine/pieces-maison/">Pièces de la maison</a>
												</li>
												<li>
													<a class="link" href="/c/magazine/preparer-projet/">Préparer mon projet</a>
												</li>
												<li>
													<a class="link" href="/c/magazine/autour-de-lapeyre/">Autour de Lapeyre</a>
												</li>
												<li>
													<a class="link" href="/c/magazine/outils">Outils virtuels</a>
												</li>
												<li>
													<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;resultCatEntryType=2&amp;searchTerm=vid%C3%A9o">Vidéos</a>
												</li>
											</ul>
											<ul>
												<li>
													<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;resultCatEntryType=2&amp;searchTerm=article#facet:&amp;facetContent:thematique_travaux&amp;productBeginIndex:0&amp;contentBeginIndex:0&amp;orderBy:&amp;orderByContent:&amp;pageView:&amp;pageViewContent:grid">Travaux</a>
												</li>
												<li>
													<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;searchTerm=article#facet:&amp;facetContent:thematique_d%C3%A9co&amp;productBeginIndex:0&amp;contentBeginIndex:0&amp;orderBy:&amp;orderByContent:&amp;pageView:&amp;pageViewContent:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:&amp;">Déco</a>
												</li>
												<li>
													<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;searchTerm=article#facet:&amp;facetContent:thematique_astuces_et_bricolage&amp;productBeginIndex:0&amp;contentBeginIndex:0&amp;orderBy:&amp;orderByContent:&amp;pageView:&amp;pageViewContent:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:&amp;">Astuces et bricolage</a>
												</li>
												<li>
													<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=12&amp;searchTerm=domotique">Domotique</a>
												</li>
												<li>
													<a class="link" href="/c/magazine/fiches-projets/">Fiches projets</a>
												</li>
											</ul>
										</div>
										<div class="categoryAside col s3">
											<div class="row"></div>
										</div>
										<div class="categoryAside col s3">
											<div class="row"></div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="mobile-hidden" id="departmentsMenuContainer">
					<div aria-label="Le Mag" class="departmentMenu departmentMenu1 container" data-id="leMag" data-parent="departmentsMenu" data-target="editorialLinks_leMag" id="departmentMenu_leMag" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/c/magazine/" id="departmentLink_leMag">LE MAG</span>
						</div>
						<div class="row">
							<div class="mobile-hidden left categoryIntro col s3"><img alt="Grid_BienvenueIdeeConseils.jpg" src="//int-vm2-v8.declic.siegefr.lapeyre/img/contrib/2c2f8e21408004b2/Grid_BienvenueIdeeConseils.jpg"></div>
							<div class="categoryList col s3">
								<ul>
									<li>
										<a class="link" href="/c/magazine/inspirations-tendances/">Inspirations et tendances</a>
									</li>
									<li>
										<a class="link" href="/c/magazine/pieces-maison/">Pièces de la maison</a>
									</li>
									<li>
										<a class="link" href="/c/magazine/preparer-projet/">Préparer mon projet</a>
									</li>
									<li>
										<a class="link" href="/c/magazine/autour-de-lapeyre/">Autour de Lapeyre</a>
									</li>
									<li>
										<a class="link" href="/c/magazine/outils">Outils virtuels</a>
									</li>
									<li>
										<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;resultCatEntryType=2&amp;searchTerm=vid%C3%A9o">Vidéos</a>
									</li>
								</ul>
								<ul>
									<li>
										<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;resultCatEntryType=2&amp;searchTerm=article#facet:&amp;facetContent:thematique_travaux&amp;productBeginIndex:0&amp;contentBeginIndex:0&amp;orderBy:&amp;orderByContent:&amp;pageView:&amp;pageViewContent:grid">Travaux</a>
									</li>
									<li>
										<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;searchTerm=article#facet:&amp;facetContent:thematique_d%C3%A9co&amp;productBeginIndex:0&amp;contentBeginIndex:0&amp;orderBy:&amp;orderByContent:&amp;pageView:&amp;pageViewContent:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:&amp;">Déco</a>
									</li>
									<li>
										<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;searchTerm=article#facet:&amp;facetContent:thematique_astuces_et_bricolage&amp;productBeginIndex:0&amp;contentBeginIndex:0&amp;orderBy:&amp;orderByContent:&amp;pageView:&amp;pageViewContent:grid&amp;minPrice:&amp;maxPrice:&amp;pageSize:&amp;">Astuces et bricolage</a>
									</li>
									<li>
										<a class="link" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=12&amp;searchTerm=domotique">Domotique</a>
									</li>
									<li>
										<a class="link" href="/c/magazine/fiches-projets/">Fiches projets</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col s3">
								<div class="row"></div>
							</div>
							<div class="categoryAside col s3">
								<div class="row"></div>
							</div>
						</div>
					</div>
					<div aria-label="JDD" class="departmentMenu departmentMenu1 container" data-id="22601" data-target="departmentLinks_22601" id="departmentMenu_22601" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/jdd-CCU642771" id="departmentLink_22601">JDD</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/jdd-CCU642771" id="departmentLink_22601"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="/wcsstore/LapeyreSAS/images/desktopList/defaultImage.png"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/jdd-CCU642771/jdd-sous-univers-SCU652194" id="categoryLink_22601_23105">JDD Sous-univers 1</a>
									</li>
									<li>
										<a href="/jdd-CCU642771/sous-univers-1-SCU652189" id="categoryLink_22601_23101">JDD Sous-univers 2</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/jdd-CCU642771/sous-univers-2-SCU652191" id="categoryLink_22601_23103">JDD Sous-univers 3</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div aria-label="Extérieur" class="departmentMenu departmentMenu1 container" data-id="11427" data-target="departmentLinks_11427" id="departmentMenu_11427" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/exterieur-jardin-CCU0008" id="departmentLink_11427">EXTÉRIEUR</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/exterieur-jardin-CCU0008" id="departmentLink_11427"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/413/019/VU-201413019.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/exterieur-jardin-CCU0008/portes-garage-CCN0076" id="categoryLink_11427_11441">Portes de garage</a>
									</li>
									<li>
										<a href="/exterieur-jardin-CCU0008/stores-banne-CCN0082" id="categoryLink_11427_12619">Stores banne</a>
									</li>
									<li>
										<a href="/exterieur-jardin-CCU0008/motorisations-CCN0077" id="categoryLink_11427_11443">Motorisations</a>
									</li>
									<li>
										<a href="/exterieur-jardin-CCU0008/terrasses-CCN0078" id="categoryLink_11427_11445">Terrasses</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/exterieur-jardin-CCU0008/balustrades-exterieures-CCN0079" id="categoryLink_11427_11447">Balustrades extérieures</a>
									</li>
									<li>
										<a href="/exterieur-jardin-CCU0008/clotures-panneaux-CCN0080" id="categoryLink_11427_11449">Clôtures, travées et panneaux</a>
									</li>
									<li>
										<a href="/exterieur-jardin-CCU0008/tonnelles-toits-terrasse-CCN0081" id="categoryLink_11427_11451">Tonnelles et toits de terrasse</a>
									</li>
									<li>
										<a href="/exterieur-jardin-CCU0008/portails-CCN0089" id="categoryLink_11427_11453">Portails</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/preparer-projet/les-nouveaux-caillebotis-pour-la-terrasse">Les nouveaux caillebotis</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/preparer-projet/poser-des-caillebottis-de-terrasse">Bien poser des caillebottis</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/preparer-projet/poser-des-lames-de-terrasse">Poser des lames de terrasse</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/les-motorisations-de-portails">Les motorisations de portails</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=ext%C3%A9rieur"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
					<div aria-label="Sols &amp; murs" class="departmentMenu departmentMenu1 container" data-id="11421" data-target="departmentLinks_11421" id="departmentMenu_11421" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/sols-murs-CCU0007" id="departmentLink_11421">SOLS &amp; MURS</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/sols-murs-CCU0007" id="departmentLink_11421"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/t_m/urs/CCU007%20-%20sols%20et%20murs.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/sols-murs-CCU0007/parquets-CCN0071" id="categoryLink_11421_11619">Parquets</a>
									</li>
									<li>
										<a href="/sols-murs-CCU0007/sols-stratifies-CCN0072" id="categoryLink_11421_11637">Sols Stratifiés</a>
									</li>
									<li>
										<a href="/sols-murs-CCU0007/vinyles-CCN0073" id="categoryLink_11421_11639">Sols Vinyles</a>
									</li>
									<li>
										<a href="/sols-murs-CCU0007/carrelages-CCN0087" id="categoryLink_11421_11643">Carrelages</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/sols-murs-CCU0007/terrasse-CCN0074" id="categoryLink_11421_12617">Terrasse</a>
									</li>
									<li>
										<a href="/sols-murs-CCU0007/lambris-revetements-muraux-CCN0088" id="categoryLink_11421_11645">Lambris et habillages muraux</a>
									</li>
									<li>
										<a href="/sols-murs-CCU0007/produits-pose-entretien-CCN0075" id="categoryLink_11421_11641">Produits de pose et d'entretien</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/sol-stratifie-parquet-ou-sol-vinyle">Stratifié, parquet ou vinyle ?</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/choisir-son-sol-stratifie">Choisir son sol stratifié</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/lambris-au-c%C5%93ur-des-tendances-amenagement">Lambris: au cœur des tendances</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/preparer-projet/installer-un-parquet-dans-une-chambre">Installer un parquet</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=sols+et+murs"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
					<div aria-label="Escaliers" class="departmentMenu departmentMenu1 container" data-id="11425" data-target="departmentLinks_11425" id="departmentMenu_11425" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/escaliers-CCU0006" id="departmentLink_11425">ESCALIERS</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/escaliers-CCU0006" id="departmentLink_11425"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/309/824/VU-201309824.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/escaliers-CCU0006/escaliers-exterieurs-CCN0065" id="categoryLink_11425_11631">Escaliers extérieurs</a>
									</li>
									<li>
										<a href="/escaliers-CCU0006/escaliers-interieur-CCN0227" id="categoryLink_11425_11617">Escaliers intérieurs</a>
									</li>
									<li>
										<a href="/escaliers-CCU0006/echelles-escamotables-CCN0066" id="categoryLink_11425_11633">Echelles et escamotables</a>
									</li>
									<li>
										<a href="/escaliers-CCU0006/rampes-balustrades-CCN0067" id="categoryLink_11425_11635">Rampes et balustrades</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/escaliers-CCU0006/kits-renovation-marches-CCN0069" id="categoryLink_11425_11613">Kits de rénovation de marches</a>
									</li>
									<li>
										<a href="/escaliers-CCU0006/main-courantes-CCN0068" id="categoryLink_11425_12615">Main courantes</a>
									</li>
									<li>
										<a href="/escaliers-CCU0006/mains-courantes-CCN0068" id="categoryLink_11425_23601">Mains courantes</a>
									</li>
									<li>
										<a href="/escaliers-CCU0006/produits-pose-accessoires-CCN0070" id="categoryLink_11425_11615">Produits de pose et accessoires</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/des-escaliers-plus-aeriens-que-jamais">Des escaliers design</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/bien-choisir-votre-escalier-d-int%C3%A9rieur">Bien choisir votre escalier</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/preparer-projet/renover-un-escalier-avec-le-kit-renovation-de-marche">Kit de rénovation de marche</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/lapeyre-vous-emmene-a-la-re-conquete-de-l-espace">Idées pour optimiser l’espace</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=escalier"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
					<div aria-label="Rangements" class="departmentMenu departmentMenu1 container" data-id="11429" data-target="departmentLinks_11429" id="departmentMenu_11429" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/placards-dressing-CCU0005" id="departmentLink_11429">RANGEMENTS</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/placards-dressing-CCU0005" id="departmentLink_11429"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/412/552/VU-201412552.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/placards-dressing-CCU0005/bibliotheques-CCN426500" id="categoryLink_11429_16619">Bibliothèques</a>
									</li>
									<li>
										<a href="/placards-dressing-CCU0005/amenagements-placard-CCN0061" id="categoryLink_11429_11621">Aménagements de placard, dressing</a>
									</li>
									<li>
										<a href="/placards-dressing-CCU0005/accessoires-rangement-CCN0062" id="categoryLink_11429_11623">Accessoires de rangement</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/placards-dressing-CCU0005/boutons-poignees-CCN0063" id="categoryLink_11429_11625">Boutons et poignées</a>
									</li>
									<li>
										<a href="/placards-dressing-CCU0005/tabletterie-CCN0064" id="categoryLink_11429_11627">Tabletterie</a>
									</li>
									<li>
										<a href="/placards-dressing-CCU0005/portes-placard-CCN0084" id="categoryLink_11429_11629">Portes de placard</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/quand-Lapeyre-rencontre-Jessica-le-plein-d-idees-pour-la-maison">Reportage déco chez Aude</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/Portes-coulissantes-Glisseo-simples-et-astucieuses">Portes coulissantes Glisseo</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/les-rangements-et-amenagements-de-placards">Nos aménagements de placard</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/preparer-projet/optimiser-un-espace-de-rangement">Optimisez votre espace !</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=rangement"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
					<div aria-label="Salle de bains" class="departmentMenu departmentMenu1 container" data-id="11423" data-target="departmentLinks_11423" id="departmentMenu_11423" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/bain-CCU0002" id="departmentLink_11423">SALLE DE BAINS</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/bain-CCU0002" id="departmentLink_11423"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/515/685/VU-201515685.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/bain-CCU0002/meubles-CCN0086" id="categoryLink_11423_11571">Meubles</a>
									</li>
									<li>
										<a href="/bain-CCU0002/douche-CCN0029" id="categoryLink_11423_11561">Douche</a>
									</li>
									<li>
										<a href="/bain-CCU0002/baignoires-CCN0028" id="categoryLink_11423_11559">Baignoires</a>
									</li>
									<li>
										<a href="/bain-CCU0002/toilettes-CCN0030" id="categoryLink_11423_11563">Espace WC</a>
									</li>
									<li>
										<a href="/bain-CCU0002/vasques-lavabos-CCN0025" id="categoryLink_11423_11525">Vasques, lavabos &amp; bidets</a>
									</li>
									<li>
										<a href="/bain-CCU0002/robinetterie-CCN0031" id="categoryLink_11423_11565">Robinetterie</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/bain-CCU0002/miroirs-armoires-toilette-CCN0024" id="categoryLink_11423_11551">Miroirs, spots et armoires de toilette</a>
									</li>
									<li>
										<a href="/bain-CCU0002/seche-serviette-CCN0026" id="categoryLink_11423_11555">Sèche-serviettes</a>
									</li>
									<li>
										<a href="/bain-CCU0002/agencement-personnalisation-CCN0033" id="categoryLink_11423_11569">Revêtements muraux et briques de verre</a>
									</li>
									<li>
										<a href="/bain-CCU0002/carrelages-CCN354382" id="categoryLink_11423_12629">Carrelages et revêtements de sols</a>
									</li>
									<li>
										<a href="/bain-CCU0002/accessoires-salle-bains-CCN0027" id="categoryLink_11423_11557">Accessoires de salle de bains</a>
									</li>
									<li>
										<a href="/bain-CCU0002/plomberie-produits-mise-oeuvre-CCN0032" id="categoryLink_11423_12601">Plomberie et produits de mise en œuvre</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/le-verre-de-douche-a-l-epreuve-de-l-eau">Le verre de douche innovant</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/les-carrelages-de-salle-de-bains">Quel carrelage choisir ?</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/avant-apres-transformez-votre-piece-d-eau-en-salle-de-bains-adaptee">Agrandissez la salle de bains</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/baignoire-en-ilot-et-robinet-retro-pour-salle-de-bain-vintage">Une salle de bains rétro</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=bain"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
					<div aria-label="Cuisine" class="departmentMenu departmentMenu1 container" data-id="11433" data-target="departmentLinks_11433" id="departmentMenu_11433" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/cuisine-CCU0001" id="departmentLink_11433">CUISINE</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/cuisine-CCU0001" id="departmentLink_11433"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/003/586/VU-201003586.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/cuisine-CCU0001/meubles-modeles-cuisine-CCN0010" id="categoryLink_11433_11527">Meubles &amp; modèles de cuisine</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/poignees-boutons-CCN0011" id="categoryLink_11433_11537">Poignées et boutons</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/credences-plans-travail-CCN0013" id="categoryLink_11433_11539">Crédences et plans de travail</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/eviers-CCN0014" id="categoryLink_11433_11521">Eviers</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/robinetterie-CCN0015" id="categoryLink_11433_11535">Robinetterie</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/electromenager-CCN0016" id="categoryLink_11433_11553">Electroménager</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/cuisine-CCU0001/kitchenettes-CCN0012" id="categoryLink_11433_11531">Kitchenettes</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/eclairage-CCN0019" id="categoryLink_11433_11541">Eclairage</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/etageres-tablettes-CCN0022" id="categoryLink_11433_11545">Etagères &amp; tablettes</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/accessoires-CCN0021" id="categoryLink_11433_11547">Equipements</a>
									</li>
									<li>
										<a href="/cuisine-CCU0001/carrelage-cuisine-CCN361484" id="categoryLink_11433_12631">Carrelages de cuisine</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/la-cuisine-Eyre-dans-l-objectif-des-blogueuses">Blogueuse en cuisine</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/choisir-le-plan-de-travail-de-votre-cuisine">Choisir un plan de travail</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/delimiter-les-espaces-dedies-en-cuisine">Délimiter les espaces</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/inspirations-tendances/des-astuces-rangement-pour-une-petite-cuisine">Ranger dans une petite cuisine</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=cuisine"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
					<div aria-label="Portes" class="departmentMenu departmentMenu1 container" data-id="11435" data-target="departmentLinks_11435" id="departmentMenu_11435" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/portes-CCU0004" id="departmentLink_11435">PORTES</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/portes-CCU0004" id="departmentLink_11435"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/206/446/VU-201206446.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/portes-CCU0004/separations-pieces-CCN347190" id="categoryLink_11435_12625">Séparations de pièces</a>
									</li>
									<li>
										<a href="/portes-CCU0004/portes-service-cave-CCN0177" id="categoryLink_11435_11603">Portes de service et de cave</a>
									</li>
									<li>
										<a href="/portes-CCU0004/securite-appartement-CCN0053" id="categoryLink_11435_11591">Sécurité d'appartement</a>
									</li>
									<li>
										<a href="/portes-CCU0004/poignees-serrures-CCN0055" id="categoryLink_11435_11593">Poignées et serrures</a>
									</li>
									<li>
										<a href="/portes-CCU0004/auvents-marquises-CCN0056" id="categoryLink_11435_11605">Auvents et marquises</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/portes-CCU0004/porte-garage-CCN353989" id="categoryLink_11435_12627">Portes de garage</a>
									</li>
									<li>
										<a href="/portes-CCU0004/motorisations-porte-garage-CCN0058" id="categoryLink_11435_11607">Motorisations de porte de garage</a>
									</li>
									<li>
										<a href="/portes-CCU0004/domotique-CCN0059" id="categoryLink_11435_11609">La maison connectée</a>
									</li>
									<li>
										<a href="/portes-CCU0004/produits-pose-CCN0060" id="categoryLink_11435_12613">Produits de pose</a>
									</li>
									<li>
										<a href="/portes-CCU0004/portes-scu-SCU652180" id="categoryLink_11435_23115">Portes SCU</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/porte-d-entree-standard-ou-porte-d-entree-sur-mesure">Porte standard ou sur mesure ?</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/outils/outil-porte-personnalisee-lapeyre">Personnalisez votre porte</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/la-securite-les-portes-d-entree">Sécurité des portes d'entrée</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/La-verriere-datelier-illumine-votre-interieur">Nos verrières d’atelier</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=porte"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
					<div aria-label="Fenêtres" class="departmentMenu departmentMenu1 container" data-id="11431" data-target="departmentLinks_11431" id="departmentMenu_11431" role="menu">
						<div class="header desktop-hidden">
							<span class="link desktop-hidden" href="/fenetres-CCU0003" id="departmentLink_11431">FENÊTRES</span>
							<div class="picto plusPicto">
								<span class="link desktop-hidden" href="/fenetres-CCU0003" id="departmentLink_11431"></span>
							</div>
						</div>
						<div class="row">
							<div class="mobile-hidden col s3"><img alt="" class="responsive-img" src="//declic-recette.lapeyre.fr/img/catalogue/desktopList/514/239/VU-201514239.jpg"></div>
							<div class="categoryList col l6 s12">
								<ul>
									<li>
										<a href="/fenetres-CCU0003/fenetres-SCU652330" id="categoryLink_11431_23113">Fenêtres</a>
									</li>
									<li>
										<a href="/fenetres-CCU0003/fenetres-toit-SCU652335" id="categoryLink_11431_23107">Fenêtres de toit</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="/fenetres-CCU0003/accessoires-SCU652337" id="categoryLink_11431_23111">Accessoires</a>
									</li>
									<li>
										<a href="/fenetres-CCU0003/volets-SCU652339" id="categoryLink_11431_23109">Volets</a>
									</li>
								</ul>
							</div>
							<div class="categoryAside col m3">
								<div class="row">
									<div class="meaLiens col12 meaLienNoBkg">
										<span class="titleBlock">LE MAG</span>
										<div class="col12 acol12">
											<ul>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/les-materiaux-des-fenetres-Lapeyre-tableau-comparatif">Les matériaux des fenêtres</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/preparer-projet/preparer-un-remplacement-de-fenetres">Préparer un remplacement</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/bien-choisir-une-fenetre-de-toit">Choisir une fenêtre de toit</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/c/magazine/pieces-maison/choisir-des-volets-battants">Choisir des volets battants</a>
												</li>
												<li class="redBullet">
													<a class="hover_underline" href="/SearchDisplay?storeId=10101&amp;catalogId=10151&amp;langId=-2&amp;sType=SimpleSearch&amp;resultCatEntryType=2&amp;showResultsPage=true&amp;ongletSearch=contenu&amp;searchSource=Q&amp;pageView=&amp;beginIndex=0&amp;pageSize=24&amp;searchTerm=fen%C3%AAtre"><u>Voir tous les articles</u></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="gutter"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>