<div class="row text-center tunnelShopCartHeaderUI__container">
    <div class="tunnelShopCartHeaderUI__breadcrump hidden-tab">
        <div class="col-md-3 ">
            <div class="breadcrumb__part">
                <img src="/web/images/picto_check_breadcrumb.png" alt="">
                <p>Panier</p>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="breadcrumb__part">
                <img src="/web/images/picto_check_breadcrumb.png" alt="">
                <p>Identification</p>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="breadcrumb__part">
                <img src="/web/images/picto_3.png" alt="">
                <p>Retrait</p>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="breadcrumb__part">
                <img src="/web/images/picto_4.png" alt="">
                <p>Paiement</p>
            </div>
        </div>
        <div class="separator"></div>
    </div>
</div>
</div>