<!-- BEGIN tunnelShopCartHeaderUI -->
<div class="container-fluid">
    <div class="row text-center tunnelShopCartHeaderUI__container">
        <div class="tunnelShopCartHeaderUI__breadcrump">
            <div class="col-xs-3">
                <div class="breadcrumb__part">
                    <img src="/images/picto_check_breadcrumb.png" alt="">
                    <p class="mobile-hidden">Panier</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="breadcrumb__part">
                    {#
                    {% if app.request.uri == '/TunnelCommandShippingView' %}
                    <img src="/images/picto_check_breadcrumb.png" alt="">
                    {% else %}
                    
                    {% endif %}
                    #}
                    <img src="/images/picto_3.png" alt="">
                    <p class="mobile-hidden">Identification</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="breadcrumb__part">
                    <img src="/images/picto_3.png" alt="">
                    <p class="mobile-hidden">Retrait</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="breadcrumb__part">
                    <img src="/images/picto_4.png" alt="">
                    <p class="mobile-hidden">Paiement</p>
                </div>
            </div>
            <div class="separator"></div>
        </div>
    </div>
</div>
<!-- END tunnelShopCartHeaderUI -->