.crossselCollection .thumb_collection .thumb_product__square {
    width: 100%;
}

.crossselCollection .carousel-inner .cloneditem-1,
.crossselCollection .carousel-inner .cloneditem-2 {
    display: none;
}

@media all and (min-width: 576px) {
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item-prev {
        left: -100%;
    }
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item-next {
        left: 100%;
    }
    .crossselCollection .carousel-inner > .carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item-prev.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.active {
        left: 0;
    }
}
@media all and (min-width: 576px) and (transform-3d), all and (min-width: 576px) and (-webkit-transform-3d) {
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 768px) {
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev {
        left: -50%;
    }
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-next {
        left: 50%;
    }
    .crossselCollection .carousel-inner > .carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item-prev.carousel-item-right,
    .crossselCollection .carousel-inner > .active {
        left: 0;
    }
    .crossselCollection .carousel-inner .cloneditem-1 {
        display: flex;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev {
        left: -33.333%;
    }
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-next {
        left: 33.333%;
    }
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.active {
        left: 0;
    }
    .crossselCollection .carousel-inner .cloneditem-1,
    .crossselCollection .carousel-inner .cloneditem-2,
    .crossselCollection .carousel-inner .cloneditem-3  {
        display: flex;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }
    .crossselCollection .carousel-inner > .carousel-item.active.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-left,
    .crossselCollection .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
    .crossselCollection .carousel-inner > .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}