<div class="stairSteps overflow-x-auto">
    <div class="overflow-hidden">
        <div class="row pt-5 font-secondary text-center stairSteps__breadcrumb position-relative">
            <div class="col-3 d-flex z-index-1">
                <div class="stairSteps__breadcrumb-skew bg-secondary m-auto d-flex">
                    <p class="text-white h1 m-auto">1</p>
                </div>
            </div>
            <div class="col-3 d-flex z-index-1">
                <div class="stairSteps__breadcrumb-skew bg-secondary m-auto d-flex">
                    <p class="text-white h1 m-auto">2</p>
                </div>
            </div>
            <div class="col-3 d-flex z-index-1">
                <div class="stairSteps__breadcrumb-skew bg-secondary m-auto d-flex">
                    <p class="text-white h1 m-auto">3</p>
                </div>
            </div>
            <div class="col-3 d-flex z-index-1">
                <div class="stairSteps__breadcrumb-skew bg-secondary m-auto d-flex">
                    <p class="text-white h1 m-auto">4</p>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-3 text-center">
                <p class="text-uppercase font-secondary h3">Choix du style</p>
                <p class="px-4">
                    Votre escalier vous représente, choisir avec attention ce que vous souhaitez visuellement est la première étape.
                </p>
            </div>
            <div class="col-3 text-center">
                <p class="text-uppercase font-secondary h3">Prise de mesure</p>
                <p class="px-4">
                    Un escalier comporte beaucoup de caractéristiques techniques, il faut donc l'accorder parfaitement à votre espace.
                </p>
            </div>
            <div class="col-3 text-center">
                <p class="text-uppercase font-secondary h3">Commande</p>
                <p class="px-4">
                    La fabrication est sur-mesure, et s'effectue dans nos usines pour vous assurer une qualité supérieur, 100% française.
                </p>
            </div>
            <div class="col-3 text-center">
                <p class="text-uppercase font-secondary h3">Installation</p>
                <p class="px-4">
                    C'est la dernière étape, il ne reste plus qu'à poser votre escalier. Vous pouvez soit le poser seul, soit Lapeyre s'en charge.
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-3 text-center">
                <p>
                    <a href="#" class="btn-light font-weight-bold py-3 d-block mx-4">Inspirez-vous</a>
                </p>
            </div>
            <div class="col-3 text-center">
                <p>
                    <a href="#" class="btn-light font-weight-bold py-3 d-block mx-4">Prise de mesure</a>
                </p>
            </div>
            <div class="col-3 text-center">
                <p>
                    <a href="#" class="btn-light font-weight-bold py-3 d-block mx-4">Usines</a>
                </p>
            </div>
            <div class="col-3 text-center">
                <p>
                    <a href="#" class="btn-light font-weight-bold py-3 d-block mx-4">Service de pose</a>
                </p>
            </div>
        </div>
    </div>
</div>