{% extends "layout.html" %} 

{% block content %}

<div id="contentWrapper">
  <div class="row criteria">
    <header>
        <h1>Fenêtres Chêne Lapeyre</h1>
        <p>La garantie d'une menuiserie de qualité, fabriquée en grande partie dans nos usines en France, quel que soit le matériau, la dimension, la forme ou le type d'ouverture !</p>
        <ul class="hide-on-med-and-down">
           <li data-target="#abattants"><div><img src="//statics.lapeyre.fr/img/catalogue/zoom1/207/904/201207904.jpg"></div><p>Abattants</p><p>&nbsp;</p></li>
           <li data-target="#chassis"><div><img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/640/201206640.jpg"></div><p>Châssis</p><p>&nbsp;</p></li>
           <li data-target="#chassis"><div><img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/640/201206640.jpg"></div><p>Châssis</p><p>Oscillo-battants</p></li>
           <li data-target="#fenetres"><div><img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/641/201206641.jpg"></div><p>Fenêtres</p><p>&nbsp;</p></li>
           <li data-target="#fenetres"><div><img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/641/201206641.jpg"></div><p>Fenêtres</p><p>Oscillo-battantes</p></li>
           <li data-target="#portes-fenetres"><div><img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/643/201206643.jpg"></div><p>Portes-fenêtres</p><p>&nbsp;</p></li>
           <li data-target="#portes-fenetres"><div><img src="//statics.lapeyre.fr/img/catalogue/collMain/000/583/201000583.jpg"></div><p>Baies coulissantes</p><p>&nbsp;</p></li>
        </ul>
    </header>
    <div class="col l12"> 
    </div>
    <div>
    <div class="col l12" id="fenetres"> 
        <div class="col s12 m3 l3">
           <h2>Fenêtres</h2>
           <p>Battantes, oscillo-battantes</p>
           <img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/641/201206641.jpg">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col s12 m9 l9">
  <table>
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">80</th>
              <th class="text-center">90</th>
              <th class="text-center">100</th>
              <th class="text-center">110</th>
              <th class="text-center">120</th>
              <th class="text-center">140</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center" colspan="6">2 vantaux</td>
            </tr>
            <tr>
              <th class="text-center">60</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2327040">278 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2327060">220 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">75</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304080">287 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304090">323 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304100">240 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304120">250 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304130">341 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">80</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304140">266 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304160">275 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">95</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304200">260 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304210">311 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304220">270 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304240">280 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304250">300 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">100</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304260">278 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304270">338 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304280">293 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304300">359 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">115</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304320">235 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304330">287 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304340">239 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304350">332 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304360">270 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304370">305 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">120</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304380">287 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304390">296 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304400">305 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">125</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304440">275 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304450">293 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304460">280 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304470">320 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304480">290 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304490">340 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">135</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304500">311 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304510">320 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304520">290 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304530">383 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304540">305 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304550">350 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">140</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304560">320 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304570">311 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304580">347 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304600">464 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">145</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304620">323 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304630">314 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304640">320 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304650">419 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304660">383 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304670">464 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">150</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304680">338 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304690">347 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304700">365 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304720">485 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">155</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304740">383 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304750">330 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304760">340 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304770">392 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304780">437 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">160</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304800">350 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304810">356 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304820">374 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304830">482 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">165</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304860">401 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304870">356 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304880">360 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304890">449 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304900">464 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">170</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304930">374 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304940">392 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">175</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2304990">431 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305000">385 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305010">440 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">180</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305050">401 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305060">419 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305070">437 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305080">455 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">185</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305120">512 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305130">521 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305140">527 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">190</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305170">437 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305180">449 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305190">455 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305200">476 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">195</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305240">410 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305250">509 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">200</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305300">446 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305310">464 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305320">485 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">210</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305360">464 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305370">500 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305380">545 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">220</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305430">527 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305440">536 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
          </tbody>
        </table><div class="col s12 customTool">
              <div class="col s6 m3">Vous ne trouvez pas vos dimensions ?</div>
              <div class="col s6 m3">Vous voulez avoir plus chaud ?</div>
              <div class="col s6 m3">Vous voulez plus de silence ?</div>
              <div class="col s6 m3">Vous voulez une autre couleur ?</div>
              <div class="col s12"><a href="//www.lapeyre.fr/c/h/configurateur-fenetres">Démarrer le configurateur</a></div>
          </div>
          
        </div>
    </div>
    <div class="col l12" id="portes-fenetres"> 
        <div class="col s12 m3 l3">
           <h2>Porte-fenêtres</h2>
           <p></p>
           <img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/643/201206643.jpg">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col s12 m9 l9">
  <table>
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">40</th>
              <th class="text-center">60</th>
              <th class="text-center">80</th>
              <th class="text-center">90</th>
              <th class="text-center">100</th>
              <th class="text-center">120</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center" colspan="2">1 vantail avec clé</td>
              <td class="text-center" colspan="4">2 vantaux avec clé</td>
            </tr>
            <tr>
              <th class="text-center">45</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310630">131 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310640">140 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310650">120 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310660">197 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310670">150 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">160 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">60</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310710">130 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310720">224 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2310730">160 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">170 €</a>
              </td>
            </tr>
          </tbody>
        </table><div class="col s12 customTool">
              <div class="col s6 m3">Vous ne trouvez pas vos dimensions ?</div>
              <div class="col s6 m3">Vous voulez avoir plus chaud ?</div>
              <div class="col s6 m3">Vous voulez plus de silence ?</div>
              <div class="col s6 m3">Vous voulez une autre couleur ?</div>
              <div class="col s12"><a href="//www.lapeyre.fr/c/h/configurateur-fenetres">Démarrer le configurateur</a></div>
          </div>
        </div>
    </div>
    <div class="col l12" id="abattants"> 
        <div class="col s12 m3 l3">
           <h2>Abattants</h2>
           <p></p>
           <img src="//statics.lapeyre.fr/img/catalogue/zoom1/207/904/201207904.jpg">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col s12 m9 l9">
  <table>
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">40</th>
              <th class="text-center">50</th>
              <th class="text-center">60</th>
              <th class="text-center">70</th>
              <th class="text-center">80</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center">1 vantail</td>
            </tr>
            <tr>
              <th class="text-center">45</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305582">105 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305592">176 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">115 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">60</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305632">115 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305642">149 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305652">125 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305662">215 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">221 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">75</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305682">125 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305692">152 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305702">130 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305712">185 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">150 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">80</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305742">185 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305752">152 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305762">215 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">248 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">95</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305782">197 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305792">206 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305802">160 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305812">188 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">180 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">100</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305852">230 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305862">206 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">230 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">105</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305902">180 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305912">239 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">190 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">115</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305942">248 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305952">190 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2305962">206 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">200 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">125</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306052">251 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306062">242 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">257 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">135</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306112">266 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306122">257 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">284 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">145</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=">323 €</a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
    <div class="col l12" id="chassis"> 
        <div class="col s12 m3 l3">
           <h2>Châssis</h2>
           <p>Battants, oscillo-battants</p>
           <img src="//statics.lapeyre.fr/img/catalogue/standardMain/206/640/201206640.jpg">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="col s12 m9 l9">
  <table>
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">80</th>
              <th class="text-center">90</th>
              <th class="text-center">100</th>
              <th class="text-center">110</th>
              <th class="text-center">120</th>
              <th class="text-center">130</th>
              <th class="text-center">140</th>
              <th class="text-center">150</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center">1 vantail</td>
              <td class="text-center">2 vantaux</td>
            </tr>
            <tr>
              <th class="text-center">195</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306615">392 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306625">428 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316273">491 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316283">509 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316293">536 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316313">611 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316323">680 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">205</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306645">360 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306655">491 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316333">536 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316343">557 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316353">480 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316373">644 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316383">692 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">215</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306675">370 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306685">380 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316393">480 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316403">608 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316413">490 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316423">656 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316433">530 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316443">689 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">225</th>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306705">599 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2306715">611 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316453">593 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316473">602 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316493">689 €</a>
              </td>
              <td class="text-center">
                <a target="_blank" href="https://declic-v8.lapeyre.fr/SearchDisplay?searchTerm=2316503">725 €</a>
              </td>
            </tr>
          </tbody>
        </table><div class="col s12 customTool">
              <div class="col s6 m3">Vous ne trouvez pas vos dimensions ?</div>
              <div class="col s6 m3">Vous voulez avoir plus chaud ?</div>
              <div class="col s6 m3">Vous voulez plus de silence ?</div>
              <div class="col s6 m3">Vous voulez une autre couleur ?</div>
              <div class="col s12"><a href="//www.lapeyre.fr/c/h/configurateur-fenetres">Démarrer le configurateur</a></div>
          </div>
        </div>
    </div>
    </div>
  </div>
  <script src="https://www.lapeyre.fr/img/contrib/freehtml/pages/v8/familles/js/script.js"></script> 
</div>

{% endblock %}
