<footer id="footer">
	<div id="subscription" class="subscription">
		<div class="container">
			<div class="row">
				
				<div class="col s5 m3 l4">
					<div class="row">
						<div class="col l8 push-loyalty-info">
							<h3 class="subscription-title hide-on-small-only">Carte de fidélité</h3>
							<p class="hide-on-med-and-down">Avec notre Carte Club, plus de projets c'est plus de privilèges !</p>
						</div>
						<div class="col l4 pull-l8">
							<img src="https://declic-v8.lapeyre.fr/wcsstore/LapeyreSAS/images/card.png" alt="">
						</div>
					</div>
					<div class="row">
						<div class="col s12 m9 center-on-small-only push-loyalty-info">
							
							<a href="/c/h/carte-club-lapeyre" class="link-primary">Découvrir</a>
						</div>
					</div>
				</div>
				
				<div class="col s7 m5 l4">
					<h3 class="subscription-title hide-on-small-only">Envie d'inspiration ?</h3>
					<div>Inscrivez-vous à notre newsletter !</div>
					<form action="https://int-v8.declic.siegefr.lapeyre/EmailVisionRegistrationCallCmd?catalogId=10151&amp;langId=-2&amp;storeId=10101" method="post" name="subscribeNewsletterForm" id="subscribeNewsletter" class="subscription-form" novalidate="novalidate">
						<input type="text" placeholder="Votre adresse email..." class="subscription-input col s12 m8 l8 center-on-small-only" name="email">
						<button class="subscription-button col s12 m4 l2">Ok</button>
						<div id="subscribeNewsletterErrorMessageArea" class="s12">
						<span id="WC_Newsletter_Subscribe_Error">
							<p id="subscribeNewsLetterPopupValidationError" style="display:none;"></p>
							<p id="subscribeNewsLetterPopupOK" style="display:none;">Votre inscription a bien été enregistrée.<br>Bonne visite.</p>
							<p id="subscribeNewsLetterPopupKO" style="display:none;">Votre adresse e-mail est déjà enregistrée.<br>Bonne visite.</p>
							<p id="subscribeNewsLetterPopupKOTech" style="display:none;">Nous rencontrons un problème technique.<br>Merci de réessayer dans quelques minutes.<br>Bonne visite</p>
						</span>
					</div>
					</form>
				</div>
				
				<div class="col s12 m4 l4">
					<hr class="hide-on-med-and-up">
					<h3 class="subscription-title center-on-small-only">Suivez Lapeyre sur</h3>
					<div class="shareSocialNetwork">
						<ul>
							<li class="facebookShare col s3 m4 l2" onclick="pushSocialNetworkFollow('Facebook');">
								<a href="https://www.facebook.com/Lapeyre" target="_blank" title="facebook"><div></div>
								</a>
							</li>
							<li class="instagramShare col s2 m4 l2" onclick="pushSocialNetworkFollow('Instagram');">
								<a href="https://www.instagram.com/lapeyreofficiel/" target="_blank" title="Instagram"><div></div>
								</a>
							</li>
							<li class="pinterestShare col s2 m4 l2" onclick="pushSocialNetworkFollow('Printerest');">
								<a href="https://www.pinterest.com/lapeyre/" target="_blank" title="Pinterest"><div></div>
								</a>
							</li>
							<li class="youtubeShare col s2 m4 l2" onclick="pushSocialNetworkFollow('Youtube');">
								<a href="https://www.youtube.com/user/LapeyreTV" target="_blank" title="youTube"><div></div>
								</a>
							</li>
							<li class="twitterShare col s3 m4 l2" onclick="pushSocialNetworkFollow('Twitter');">
								<a href="https://twitter.com/lapeyreofficiel" target="_blank" title="Twitter"><div></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
<div id="footerCMSContent" class="container">
		

<div class="row footer-mid">
	<div class="col l2 hide-on-med-and-down">
		
				<a href="/"><img src="https://declic-v8.lapeyre.fr/wcsstore/LapeyreSAS/images/logo.png"></a>
			
	</div>
	<div class="col s12 l10">
		<div id="footerRow2">
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/services/">Les services</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/engagements/">Les engagements</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/magazine/fiches-projets/">Les fiches projets</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/magazine/outils/">Les outils virtuels</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/magazine/inspirations-tendances/">Inspirations et tendances</a></li>
					
					</ul>
				</div>
				
					<br class="clearFloat">
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/magazine/pieces-maison/">Pièces de la maison</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/magazine/preparer-projet/">Préparer mon projet</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/magazine/autour-de-lapeyre/">Autour de Lapeyre</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/services/la-garantie">La garantie Lapeyre</a></li>
					
					</ul>
				</div>
				
				<div class="col s12 l3 footer-section">
					
					<ul class="footer-list-cms">
					
						<li><a href="/c/h/carte-club-lapeyre">La Carte Club</a></li>
					
					</ul>
				</div>
				
					<br class="clearFloat">
				
		</div>
	</div>
</div>
<hr class="hide-on-med-and-down">
<div class="row footer-bottom">
	<div class="col l2 s12" id="footerCopyright">© 2016 Lapeyre</div>
	<div class="col l10 s12 footer-bottom-links">
		<ul>
		
				<li><a href="/c/conditions-generales-de-vente">CGV</a></li>
			
				<li><a href="/c/mentions-legales">Mentions légales</a></li>
			
				<li><a href="/c/nous-contacter">Contact</a></li>
			
				<li><a href="/c/h/partenaires">Partenaires</a></li>
			
				<li><a href="http://recrutement-lapeyre.fr/">Recrutement</a></li>
			
				<li><a href="/faq">FAQ</a></li>
				
		</ul>
	</div>
</div>
	</div></footer>

   <div class="megamenuOverlay"></div>
