{% extends "layouts/tunnel.html" %}

{% block content %}

<div class="row ">
   <div class="col-md-9 ">
      {% include 'storeWidgets/tunnelLivraisonTabUI/tunnelLivraisonTabUI.twig' %}
</div>
   <div class="col-md-3 ">
      {% include 'storeWidgets/tunnelRecapPanier/tunnelRecapPanier.twig' %}
   </div>
</div>






{% endblock %}
