




header {
	background-color:#FFF;
}


.tunnelLivraisonTab__container{
	background-color: $bkg-light;
	padding: 20px 30px;
    h5{
		font-size: 18px;
		color: $dark-color;
	}
    p{
    	margin:0;
    	color: #666666;
    	font-size: 14px;
    }
    .checkbox{
    	margin:20px 0 10px 0;
    }
    .livraison__info{
    	background-color: #f3f9fc;
    	border: 1px solid #e1ebf0;
    	padding: 20px;
    	img{
    		margin-right: 10px;
    	}
    	span{
    		color: #47494a;
    		font-weight: bold;
    	}
    	p{
    		color: #47494a;
    		margin-left: 42px;
    		font-weight: 300;
    	}
    }
}
.livraison__container{
	padding: 20px 40px;
}

.livraison__adress{
	padding: 20px;
	min-height: 200px;
	&.is-active{
		border: 5px solid #fbe5e7;
		max-width: 210px;
	}
	&.is-saved{
		border: 2px solid $grey-default;


	}
	&.is-new{
		border: 2px dashed #dadada;
		padding: 40px;
    	text-align: center;
	}
	span{
		font-size: 15px;
		color: $color-grey-0;
		font-weight:400;
	}
	p{
		font-size: 13px;
		margin-top: 10px;
		font-weight:300;
	}
	button{
		margin-top:15px;
		/*left: -31px;*/
    	position: relative;
	}
	.picto_more{
	width: 30px;
    margin-top: 10px;
	}
	.location_picto{
		width: 13px;
		margin-right: 5px;
    	margin-bottom: 40px;
	}
}

.adress__tel{
	margin-top: 10px;
}





