<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
      	<img src="/web/images/logo.png" alt="">
      </a>
        </div>
        <ul class="nav navbar-nav navbar-right hidden-xs">
        	            <li>
                <a href="#"><span ><img src="/web/images/picto_lock.png" class="header__picto" alt=""></span>
            	<p class="header__p">100% sécurisé</p></a>
            </li>
            <li>
                <a href="#">
            		<span ><img src="/web/images/picto_phone.png" class="header__picto" alt=""></span> 
            	02 56 56 56 56</a>
            </li>
                <a href="#">
                    <button class="btn btn-default"> <img src="/web/images/picto_help.png" class="header__picto" alt=""> Aide </button>
                </a>
            
        </ul>
        <div class="clear"></div>
    </div>
</nav>