<!-- =================== CONTAINER====================== -->
<div class="tunnelLivraisonTab__container  full-height">
    <!-- =================== ACCORDIONS====================== -->
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <!-- =================== ACCORDION 1====================== -->
        <div class="card">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                <div class="accordion__header" role="tab" id="headingOne">
                    <div class="row">
                        <div class="col-md-1 hidden-sm hidden-xs ">
                            <img src="/web/images/picto_truck-red.png" class="accordion__header__picto" alt="">
                        </div>
                        <div class="col-md-11 ">
                            <h3 class="accordion__title">Livraison à domicile</h3>
                            <span>Gratuit</span>
                            <img src="/web/images/arrow-down.svg" class="pull-right collapse-arrow" alt="">
                        </div>
                    </div>
                </div>
            </a>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="accordion__body">
                    <h4>Votre adresse de livraison</h4>
                    <div class="livraison__info">
                        <img src="/web/images/picto_livraison.png" alt="">
                        <span>Votre livraison est prévu à partir du 24/03/2017</span>
                            <p>Le magasin qui prépare votre commande prendra contact avec vous <strong>sous 2 jours</strong> pour convenir des détails liés à la livraison.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ">
                            <h5>Votre adresse</h5> 
                            {% include 'storeWidgets/blocAdresseUI/blocAdresseUI.twig' %}
                        </div>
                        <div class="col-md-8">
                            <h5>Choisir une autre adresse</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="livraison__adress is-saved">
                                        <span>Anne Sophie Maison</span>
                                        <p>1 Boulevard Richard Lenoir
                                            <br> 75011 Paris</p>
                                             <p class="adress__tel">01 43 25 20 52</p>
                                        <button class="btn ">Choisir</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="livraison__adress is-new">
                                        <p>Vous avez besoin d’être facturé à une autre adresse ?
                                        </p>
                                        <div class="text-center">
                                            <img src="/web/images/picto_more.png" class="picto_more" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">Je n'utilise pas la même adresse pour la facturation</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <!-- AJOUTER IS ACTIVE -->
                            {% include 'storeWidgets/blocAdresseUI/blocAdresseUI.twig' %}
                        </div>
                        <div class="col-md-4">
                            <div class="livraison__adress is-new">
                                <p>Vous avez besoin d’être facturé à une autre adresse ?
                                </p>
                                <div class="text-center">
                                    <img src="/web/images/picto_more.png" class="picto_more" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-lg pull-right">Valider et payer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================== END ACCORDION 1====================== -->
        <!-- =================== ACCORDION 2====================== -->
        <div class="card">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="accordion__header" role="tab" id="headingOne">
                    <div class="row">
                        <div class="col-md-1 ">
                            <img src="/web/images/picto_drive-red.png" class="accordion__header__picto hidden-sm hidden-xs " alt="">
                        </div>
                        <div class="col-md-11">
                            <h3 class="accordion__title">Retrait en drive</h3>
                            <span>Gratuit</span>
                            <img src="/web/images/arrow-down.svg" class="pull-right collapse-arrow" alt="">
                        </div>
                    </div>
                </div>
            </a>
             {% include 'storeWidgets/tunnelRetraitMagasinTabUI/tunnelRetraitMagasinTabUI.twig' %}
         
        </div>
        <!-- =================== END ACCORDION 2====================== -->
    </div>
    <!-- =================== END ACCORDIONS====================== -->
</div>
<!-- =================== END CONTAINER====================== -->