<li class="list-group-item">
    <div class="row">
        <div class="col-3">
            <img src="/images/product_thumb-md.png" class="img-fluid">
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-xl-6">
                    <p>Bloc-Porte palier coupe feu ch&ecirc;ne &agrave; vernir &nbsp;<small class="text-muted">Ref.123456</small></p>
                    <p class="small  mt10">Largeur: 120 cm
                        <br> Hauteur: 50 cm
                        <br> Sens d'ouverture : Int&eacute;rieur
                        <br> Finition: ch&ecirc;ne gris</p>
                </div>
                <div class="col-6 col-md-4 col-xl-2">
                    <p class="pt-2 text-right">
                        <span class="text-muted">129,00€</span>
                    </p>
                    <p class="text-right">
                        <small class="text-muted"><del>129,00€<del></small>
                    </p>
                </div>
                <div class="col-6 col-md-4 col-xl-2">
                    <div class="form-inline">
                        <div class="input-group">
                           <span class="input-group-btn">
                            <button class="btn btn-light" type="button">-</button>
                          </span>
                          <input type="number" class="form-control text-primary text-center" aria-label="Quantité" value="1">
                           <span class="input-group-btn">
                            <button class="btn btn-light" type="button">+</button>
                          </span>
                        </div>
                    </div>
                    <p class="text-center text-muted"><small><a href="#">Supprimer</a></small></p>
                </div>
                <div class="col-md-4 col-xl-2">
                    <p class="pt-2 text-right">
                        129,00€
                    </p>
                    <p class="text-right">
                        <small class="text-muted">soit x€ / m2</small>
                    </p>
            </div>
        </div>
    </div>
</li>