    
    

<div class="container">
	<div class="row">
		<div class="col-6">
			Les cuisines Lapeyre proviennent de son usine située au cœur du Massif Central, où la robustesse des meubles et la qualité des matériaux sont testés.
		</div>
		<div class="col-6">
<img class="img-fluid" src="http://res.cloudinary.com/dwkgy95ov/image/upload/c_fill,h_864,w_801/v1516025993/201620767_tgxozc.jpg">
		</div>
	</div>
</div>