<div class="container">
    <div class="row position-relative">
        <div class="col-12 col-lg-6 my-5 bg-cover h-400 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/bg_le_savoir_bien_faire.png);">
        </div>
        <div class="position-lg-absolute">
            <div class="row m-0">
                <div class="col-12 col-lg-6 col-xl-5 offset-lg-1 offset-xl-3 d-flex pt-lg-5 order-lg-first">
                    <div class="row mr-xl-4 mt-4">
                        <div class="p-3 bg-dark w-200 h-200 ml-auto">
                            <p class="text-uppercase kitchen__tiny_title pt-3">
                                Découvrez <span class="text-white d-block">nos engagements</span>
                            </p>
                            <p class="text-white">
                                <a class="text-light" href="/c/magazine/autour-de-lapeyre/usines"> &gt; En savoir plus</a>
                            </p>
                        </div>
                        <p class="bg-white p-3 p-md-5 frenchFlag position-relative">L’essentiel de nos produits est fabriqué en France. Grâce à ses dix usines françaises, Lapeyre contrôle toute la chaîne de production afin de garantir des produits d’une QUALITÉ et d’une FIABILITÉ irréprochables.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-xl-4 pt-lg-5 pb-3 order-first pt-5 pt-lg-0">
                    <p class="title_h1 text-uppercase pt-lg-5">
                        Fabriqué en France dans nos usines
                    </p>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 d-lg-none py-4 text-center">
                    <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/bg_le_savoir_bien_faire.png" class="img-fluid" />
                </div>
            </div> 
        </div>
    </div>
</div>