<div class="container">
    <div class="row position-relative">
        <div class="col-12 col-lg-6 my-5 bg-cover h-400 d-none d-lg-block" style="background-image: url(/images/pages/index/bg_le_savoir_bien_faire.png);">
        </div>
        <div class="position-lg-absolute">
            <div class="row m-0">
                <div class="col-12 col-lg-6 col-xl-5 offset-lg-1 offset-xl-3 d-flex pt-lg-5 order-lg-first">
                    <p class="bg-white p-3 p-md-5 my-auto frenchFlag">Lapeyre sélectionne avec soin les matériaux de ses plans de travail auprès de fournisseurs français. Les plans de travail en bois et en stratifié sont fabriqués dans son usine située dans le Cantal.
.</p>
                </div>
                <div class="col-12 col-lg-5 col-xl-4 pt-lg-5 pb-3 order-first pt-5 pt-lg-0">
                    <p class="title_h1 text-uppercase pt-lg-5">
                        Fabriqué en France dans nos usines
                    </p>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 d-lg-none py-4 text-center">
                    <img src="/images/pages/index/bg_le_savoir_bien_faire.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div> 
</div>
