{% extends"layouts/default.html" %}
{% block content %}

{% include 'storeWidgets/jumbotron/jumbotron.twig' %}

{% include 'storeWidgets/breadcrumb/breadcrumb.twig' %}

{% include 'storeWidgets/description/description.twig' %}

<div class="container px-xl-3">
    <div class="col-12 d-flex py-4 px-0">
        <div id="carouselStair" class="carousel slide m-auto pb-5 overflow-hidden w-100" data-ride="ccarousel" >
            <ol class="carousel-indicators">
                <li data-target="#carouselStair" data-slide-to="0" class="mx-2 active"></li>
                <li data-target="#carouselStair" data-slide-to="1" class="mx-2"></li>
                <li data-target="#carouselStair" data-slide-to="2" class="mx-2"></li>
            </ol>
            <div class="carousel-inner overflow-visible" role="listbox">
                <div class="carousel-item active">
                    <div class="col-5 col-lg-4 bg-dark position-absolute pb-2 pt-4 pr-4 pl-4 m-5 d-table z-index-1">
                        <div class="p-0 p-lg-3">
                            <h2 class="text-uppercase">L'escalier Jazz</h2>
                            <p class="text-white py-2 col-12 col-lg-8">En hêtre ou en chêne, optez pour la qualité. Lorem ipsum dolor sit amet consegur.</p>
                            <p class="text-center pt-3">
                                <button class="btn btn-secondary rounded px-5 py-2" type="button"><a href="" class="text-white">Découvrir</a></button>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 offset-md-5 carouselStair_visual px-0">
                        <img class="d-block img-fluid" src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1528371004/Stairs/escalierJazz.jpg" alt="L'escalier Jazz">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-5 col-lg-4 bg-dark position-absolute pb-2 pt-4 pr-4 pl-4 m-5 d-table z-index-1">
                        <div class="p-0 p-lg-3">
                            <h2 class="text-uppercase">L'escalier Jazz</h2>
                            <p class="text-white py-2 col-12 col-lg-8">En hêtre ou en chêne, optez pour la qualité. Lorem ipsum dolor sit amet consegur.</p>
                            <p class="text-center pt-3">
                                <button class="btn btn-secondary rounded px-5 py-2" type="button"><a href="" class="text-white">Découvrir</a></button>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 offset-md-5 carouselStair_visual px-0">
                        <img class="d-block img-fluid" src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1528371004/Stairs/escalierJazz.jpg" alt="L'escalier Jazz">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-5 col-lg-4 bg-dark position-absolute pb-2 pt-4 pr-4 pl-4 m-5 d-table z-index-1">
                        <div class="p-0 p-lg-3">
                            <h2 class="text-uppercase">L'escalier Jazz</h2>
                            <p class="text-white py-2 col-12 col-lg-8">En hêtre ou en chêne, optez pour la qualité. Lorem ipsum dolor sit amet consegur.</p>
                            <p class="text-center pt-3">
                                <button class="btn btn-secondary rounded px-5 py-2" type="button"><a href="" class="text-white">Découvrir</a></button>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 offset-md-5 carouselStair_visual px-0">
                        <img class="d-block img-fluid" src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1528371004/Stairs/escalierJazz.jpg" alt="L'escalier Jazz">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-5 universeStair">
    <div class="row">
        <div class="col-12">
            <p class="text-center h1 font-secondary universeStair__teaser">
                Découvrez tous nos types d'escaliers,<br>à partir de 295€
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1 pt-5 pb-3 px-4 px-md-5">
            <div class="row">
                <div class="col-12 col-md-4 bg-cover rounded h-md-700 d-flex thumbnailFamily cursor-pointer px-0 flex-direction-column" style="background-image: url('https://res.cloudinary.com/dwkgy95ov/image/upload/v1530175006/Stairs/universeStair_1.jpg');">
                    <a href="/gains-place-CCN688078" class="z-index-1 h_100 w-100 d-flex flex-direction-column">
                        <h1 class="text-uppercase text-white text-center m-auto font-secondary">Gain<br/>d'espace</h1>
                    </a>
                </div>
                <div class="col-12 col-md-4 h-md-700 px-0">
                    <div class="col-12 bg-cover rounded h_50 d-flex thumbnailFamily cursor-pointer px-0 flex-direction-column" style="background-image: url('https://res.cloudinary.com/dwkgy95ov/image/upload/v1530175006/Stairs/universeStair_3.jpg');">
                        <a href="/produits-pose-accessoires-CCN0070" class="z-index-1 h_100 w-100 d-flex flex-direction-column">
                            <h1 class="text-uppercase text-white text-center m-auto font-secondary">Accessoires</h1>
                        </a>
                    </div>
                    <div class="col-12 bg-cover rounded h_50 d-flex thumbnailFamily cursor-pointer px-0 flex-direction-column" style="background-image: url('https://res.cloudinary.com/dwkgy95ov/image/upload/v1528373105/Stairs/universeStair_4.jpg');">
                        <a href="/escaliers-exterieurs-CCN0065" class="z-index-1 h_100 w-100 d-flex flex-direction-column">
                            <h1 class="text-uppercase text-white text-center m-auto font-secondary">Escaliers<br/>extérieurs</h1>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 bg-cover rounded h-md-700 d-flex thumbnailFamily cursor-pointer px-0 flex-direction-column" style="background-image: url('https://res.cloudinary.com/dwkgy95ov/image/upload/v1528452998/Stairs/universeStair_2.jpg');">
                    <a href="/escaliers-interieur-CCN0227" class="z-index-1 h_100 w-100 d-flex flex-direction-column">
                        <h1 class="text-uppercase text-white text-center m-auto font-secondary">Escaliers<br/>intérieurs</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light universeStair overflow-hidden">
    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <p class="text-center h1 font-secondary universeStair__teaser">
                    Lapeyre, expert escalier
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex">
                <div class="text-center m-auto px-5">
                    <p>
                        <span class="bg-secondary text-white text-uppercase px-3 h3 py-1 font-secondary font-weight-bold">Faites-vous accompagner !</span>
                    </p>
                    <p>Conseil, simulation 3D, pose à domicile...<br/>Lapeyre vous accompagne de A à Z dans ce projet.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1">
                {% include 'storeWidgets/stairSteps/stairSteps.twig' %}
            </div>
        </div>
    </div>
</div>

{% include 'storeWidgets/appointment/appointment.twig' %}

<div class="bg-light">
    <div class="container">
        <div class="row position-relative">
            <div class="col-12 col-xl-10 offset-xl-2 py-5 cursor-pointer" data-toggle="modal" data-target="#videoModal">
                <div class="row">
                    <div class="col-12 my-4 pt-5 px-0 p-lg-5 universeStair__bloc_video" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1531157037/Stairs/stair_video.jpg);">

                        <div class="row home__tiny-block universeStair__tiny-block mx-0 px-0 mx-xl-5 px-xl-5">
                            <div class="col-12 col-md-10 offset-md-1 col-lg-9 offset-lg-3 p-xl-4 p-0 bg-white text-center d-flex flex-direction-column">
                                <div class="row bg-white position-relative my-auto d-flex order-lg-1 mx-0">
                                    <div class="col-2 px-1 offset-1 my-auto position-relative stair_form_picto">
                                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1529425544/Stairs/stair_form_1.png" class="m-auto img-fluid"/>
                                        <div class="position-absolute bg-white small font-secondary text-secondary p-1 line-height-normal">
                                            Escalier droit
                                        </div>
                                    </div>
                                    <div class="col-2 px-1 my-auto position-relative stair_form_picto">
                                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1529425544/Stairs/stair_form_2.png" class="m-auto img-fluid"/>
                                        <div class="position-absolute bg-white small font-secondary text-secondary p-1 line-height-normal">
                                            Escalier quart tournant
                                        </div>
                                    </div>
                                    <div class="col-2 px-1 my-auto position-relative stair_form_picto">
                                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1529425544/Stairs/stair_form_3.png" class="m-auto img-fluid"/>
                                        <div class="position-absolute bg-white small font-secondary text-secondary p-1 line-height-normal">
                                            Escalier double quart tournant
                                        </div>
                                    </div>
                                    <div class="col-2 px-1 my-auto position-relative stair_form_picto">
                                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1529425544/Stairs/stair_form_4.png" class="m-auto img-fluid"/>
                                        <div class="position-absolute bg-white small font-secondary text-secondary p-1 line-height-normal">
                                            Escalier gain de place
                                        </div>
                                    </div>
                                    <div class="col-2 px-1 my-auto position-relative stair_form_picto">
                                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1529425544/Stairs/stair_form_5.png" class="m-auto img-fluid"/>
                                        <div class="position-absolute bg-white small font-secondary text-secondary p-1 line-height-normal">
                                            Escalier hélicoïdal
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row home__tiny-block mx-0 px-0 mx-xl-5 px-xl-5">
                            <div class="col-5 offset-7 col-sm-4 offset-sm-8 offset-md-7 offset-lg-9 col-lg-3 p-4 bg-dark" >
                                <p class="text-uppercase home__tiny_title mb-2">
                                    Nous fabriquons <span class="text-white d-block">de nombreuses formes</span>
                                </p>
                                <p class="small text-white"><u>Voir la vidéo</u></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container universeStair pb-5">
    <div class="row py-5">
        <div class="col-12">
            <p class="text-center h1 font-secondary universeStair__teaser">
                Comment bien choisir votre escalier
            </p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 d-flex overflow-x-auto">
            <div class="universeStair__table m-auto pb-4">
                <div class="row m-0">
                    <div>
                    </div>
                    <div>
                    </div>
                    <div class="bg-secondary text-white d-flex text-center flex-direction-column">
                        <div class="m-auto p-3">
                            Nous vous conseillons à titre indicatif de prendre en compte ces 5 critères lors
                            du choix de votre futur escalier.
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div>
                    </div>
                    <div class="bg-light d-flex text-center flex-direction-column">
                        <div class="m-auto p-3">
                            <p class="text-uppercase font-secondary h3">Usage</p>
                            Dans quelle pièce ?<br/>Pour une utilisation quotidienne ou plus rare ?
                        </div>
                    </div>
                    <div class="bg-light d-flex text-center flex-direction-column">
                        <div class="m-auto p-3">
                            <p class="text-uppercase font-secondary h3">Confort & Sécurité</p>
                            Des marches plus larges et moins hautes sont plus confortables.
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="bg-light d-flex text-center flex-direction-column">
                        <div class="m-auto p-3">
                            <p class="text-uppercase font-secondary h3">Esthétique</p>
                            Aérien, industriel, contemporain, plus traditionnel… Matière brute ou travaillée ?
                        </div>
                    </div>
                    <div class="bg-light d-flex text-center flex-direction-column">
                        <div class="m-auto p-3">
                            <p class="text-uppercase font-secondary h3">Contraintes d'espace</p>
                            Petit espace, renfoncement, lieu de passage…
                        </div>
                    </div>
                    <div class="bg-light d-flex text-center flex-direction-column">
                        <div class="m-auto p-3">
                            <p class="text-uppercase font-secondary h3">prix</p>
                            Quel est mon budget ? Plusieurs niveaux de prix possibles, en fonction du matériau, de la pose, des dimensions…
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cursor-pointer" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center pb-5">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/G0VUeXqsLjg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{#
{% include 'storeWidgets/contents/contents.twig' %}
#}



{% include 'storeWidgets/services/services.twig' %}


<script>
    function animationScroll(destination) {
        $('html, body').animate({
            scrollTop: $( destination ).offset().top-170
        }, 500);
    }
</script>

{% endblock %}
