/* BEGIN ECOCEA */

#avis_clients a {
	text-decoration: none;
	cursor: pointer;
}

#rate_filter_div a {    
    color: #EA0028;
}

.bar {
    text-decoration: underline;
}

.bar.deselected {
    opacity: 0.2;
}

#avis_clients .bar {
	cursor: pointer;
}

#rate_filter_div {
    text-align: center;
}

.boxed-light {
    border: 1px solid #e5e5e5;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
}

.boxed-light.selected {
    background: #f0f0f0;
    border: 1px solid #909090;
}


/* END ECOCEA */