{% extends"layouts/checkout.html" %} 
{% block content %} 
<div id="TunnelCommandShippingView" class="bg-light">
    {% include 'storeWidgets/tunnelShopCartHeaderUI/tunnelShopCartHeaderUI.twig' %}
    {% include 'storeWidgets/tunnelLivraisonUI/tunnelLivraisonUI.twig' %}
</div>
{% endblock %}