<div class="jumbotron d-flex mx-auto flex-direction-column" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('{% if categories[global.request.get('code')]['imageFull']['content'] is defined %}{{ categories[global.request.get('code')]['imageFull']['content']|replace({' ':'%20'}) }}{% endif %}');">
    <h1 class="h1 text-center text-white m-auto text-uppercase">
        {{ categories[global.request.get('code')]['label']['content'] }}
    </h1>
</div>