<div class="jumbotron d-flex" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(/images/headers/{{ global.request.get('code') }}.jpg);">
    <p class="h1 text-center text-white d-flex m-auto text-uppercase">
        {{ catalog[global.request.get('code')]['Name'] }}
    </p>
</div>