<div class="universe__row_header" style="background-image:url('/images/headers/{{ global.request.get('code') }}.jpg'); height:450px;">
    <p class="h2 text-center text-white pt-5 display-4">
        <strong style="font-size:85px;">
            {{ catalog[global.request.get('code')]['Name'] }}
        </strong>
    </p>
</div>