
Widget headerUI

	<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="topbar">
        LOGO
    </div>
    <div class="menu" data-sticky>
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
        <a href="#">Item 4</a>
        <a href="#">Item 5</a>
    </div>
    <div class="content">
        <div class="main">
            <h1>Je suis un titre</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veritatis, tempore ab, numquam voluptatem rem itaque quae velit, sit reprehenderit eaque. Deserunt, deleniti quia dolor et consequuntur nemo possimus recusandae.</p>
            <div style="background-color: #D5D5D5; height: 4000px;"></div>
           
            </div>
             <div class="sidebar">
                <div data-sticky>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque cum tempora eveniet ipsum exercitationem voluptate totam asperiores fugit dignissimos nemo ratione explicabo, excepturi laborum repudiandae. Reiciendis magni voluptatum deserunt expedita!
                </div>
            </div>
    </div>


    <script type="text/javascript" src="app.js"></script>
</body>

</html>