.carouselCrossSell .carousel-control-next {
    right: 0;
}
.carouselCrossSell .carousel-control-prev {
    left: 0;
}
.carouselCrossSell .slider-control {
    top: 50%;
    display: none; 
}
.carouselCrossSell .carousel-control-next, .carouselCrossSell .carousel-control-prev {
    width: initial;
}
.carouselCrossSell {
    overflow: hidden;
}