---
layout: default
---




{% include jumbotron.html %}

{% include breadcrumb.html %}

{% include description.html %}

<div class="col-12 text-center pb-5">
    <a href="#findWorktop" class="btn-primary h-45 rounded d-flex col-10 offset-1 col-sm-8 offset-sm-2 col-md-4 offset-md-4">
        <div class="m-auto">
            Trouver mon plan de travail
        </div>
    </a>
</div>

<div class="bg-light">
    <div class="container pt-0 pt-lg-5 pb-0 pb-md-5">
        <div class="col-12">
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-7 p-0 px-2 d-none d-lg-block">
                            <div class="row">
                                <div class="col-12 bg-cover mb-3 h-200 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg);">
                                </div>
                                <div class="col-8 offset-4 bg-cover h-400 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop3.jpg);">
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-0 px-2 pt-5 d-none d-lg-block">
                            <div class="col-12 m-3 bg-cover h-300 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop4.jpg);">
                            </div>
                            <div class="col-12 m-3 bg-cover h-300 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop5.jpg);">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-lg-absolute">
                    <div class="row">
                        <div class="col-12 col-lg-5 offset-lg-7 pt-3 pt-lg-5 pb-3">
                            <p class="title_h1 text-uppercase pt-5 text-right">
                                Une multitude de matériaux
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 offset-lg-6 bg-white p-3 p-md-5">
                            <p class="px-2 px-sm-4 my-0">Bien choisir son plan de travail, c’est surtout choisir le matériau qui sera en parfaite harmonie avec le style et la couleur des meubles choisis. Il devra s’accorder au mieux, renforcer l’intention de départ, se fondre dans le décor ou au contraire contraster avec l’ensemble.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-lg-none pt-4">
                            <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
           <div class="row pt-5">
                <div class="col-12 col-lg-7 offset-5 offset-xl-5 my-5 bg-cover h-600 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/a_hflip/v1518468969/worktop1.jpg);">
                </div>
                <div class="position-lg-absolute">
                    <div class="row">
                        <div class="col-12 col-lg-4 offset-xl-1 pt-lg-5 pb-3">
                            <p class="title_h1 text-uppercase pt-lg-5">
                                Jeu de matières
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 offset-xl-1 bg-white p-3 p-md-5">
                            <p class="px-2 px-sm-4 my-0">Résistant, esthétique, facile à entretenir… On recherche tous le plan de travail idéal, qu'il soit en bois, stratifié, mélaminé, inox, quartz, ou encore en matériaux de synthèse.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-lg-none pt-4">
                            <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/a_hflip/v1518468969/worktop1.jpg" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="container">
        <div class="row position-relative">
            <div class="col-12 col-lg-6 my-5 bg-cover h-400 d-none d-lg-block" style="background-image: url(https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/bg_le_savoir_bien_faire.png);">
            </div>
            <div class="position-lg-absolute">
                <div class="row m-0">
                    <div class="col-12 col-lg-6 col-xl-5 offset-lg-1 offset-xl-3 d-flex pt-lg-5 order-lg-first">
                        <p class="bg-white p-3 p-md-5 my-auto frenchFlag">Lapeyre sélectionne avec soin les matériaux de ses plans de travail auprès de fournisseurs français. Les plans de travail en bois et en stratifié sont fabriqués dans son usine située dans le Cantal.</p>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-4 pt-lg-5 pb-3 order-first pt-5 pt-lg-0">
                        <p class="title_h1 text-uppercase pt-lg-5">
                            Fabriqué en France dans nos usines
                        </p>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 d-lg-none py-4 text-center">
                        <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/bg_le_savoir_bien_faire.png" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="container pb-5" id="findWorktop">
    <div class="col-12 col-md-8 offset-md-2 pt-5 px-0">
        <p class="title_h1 text-center text-uppercase">Trouvez votre plan de travail idéal</p>
    </div>
    {% comment %}
    <div class="text-center">
        <div class="btn-group worktop__btn-group pt-5" data-toggle="buttons">
            <label class="btn btn-primary active py-2 px-sm-5 mx-1 cursor-pointer rounded" id="optionMateriaux" data-target="materiaux">
                <input type="radio" name="options" autocomplete="off" checked>Matériaux
            </label>
            <label class="btn btn-primary py-2 px-sm-5 mx-1 cursor-pointer rounded" id="optionFinitions" data-target="finitions">
                <input type="radio" name="options" autocomplete="off">Finitions
            </label>
        </div>
        <div class="worktop__filter_container pt-5"></div>
    </div>
    {% endcomment %}
    <div class="row">
        <div class="pt-5 col-12">
            {% comment %}
            <div id="materiaux" class="worktop__lvl-0">
                <div class="worktop__lvl-1 col-12 col-md-8 offset-md-2">
                    <div class="row">
                        {% assign thumbWorktopIndex = 1 %}
                        {% assign thumbWorktopTitle = "Stratifié mat" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_materiaux_strat_mat.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 2 %}
                        {% assign thumbWorktopTitle = "Stratifié brillant" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_brillant.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 3 %}
                        {% assign thumbWorktopTitle = "Stratifié velvet" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_velvet.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 4 %}
                        {% assign thumbWorktopTitle = "Inox" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_inox.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 5 %}
                        {% assign thumbWorktopTitle = "Verre" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_verre.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 6 %}
                        {% assign thumbWorktopTitle = "Résine" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_resine.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 7 %}
                        {% assign thumbWorktopTitle = "Quartz" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_quartz.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 8 %}
                        {% assign thumbWorktopTitle = "Céramique" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_ceramique.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 9 %}
                        {% assign thumbWorktopTitle = "Bois" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop_materiaux_strat_bois.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                    </div>
                </div>
                <div class="worktop__lvl-2 col-12 col-md-8 offset-md-2">
                    <div class="row">
                        {% assign thumbWorktopIndex = 1 %}
                        {% assign thumbWorktopTitle = "Couleurs unies" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_unie_mat.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 2 %}
                        {% assign thumbWorktopTitle = "Granités" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_granites.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 3 %}
                        {% assign thumbWorktopTitle = "Tons bois" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_unie_brillante.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 4 %}
                        {% assign thumbWorktopTitle = "Aspects matière" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_matiere.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                    </div>
                </div>
                <div class="worktop__lvl-3">
                    <div class="row">
                        {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                       {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                       {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail hêtre" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                       {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                    </div>
                </div>
            </div>
            <div id="finitions" class="worktop__lvl-0">
                <div class="worktop__lvl-1 col-12 col-md-8 offset-md-2">
                    <div class="row">
                        {% assign thumbWorktopIndex = 1 %}
                        {% assign thumbWorktopTitle = "Couleurs unies Mat" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_unie_mat.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 2 %}
                        {% assign thumbWorktopTitle = "Couleurs unies brillantes" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_unie_brillante.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 3 %}
                        {% assign thumbWorktopTitle = "Tons bois" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_unie_brillante.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 4 %}
                        {% assign thumbWorktopTitle = "Aspects matière" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_matiere.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 5 %}
                        {% assign thumbWorktopTitle = "Granités" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_finition_granites.jpg" %}
                        {% assign thumbWorktopDesc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod." %}
                        {% include thumbnailWorktop.html %}
                    </div>
                </div>
                <div class="worktop__lvl-2 col-12 col-md-8 offset-md-2">
                    <div class="row">
                        {% assign thumbWorktopIndex = 1 %}
                        {% assign thumbWorktopTitle = "Blanc" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_blanc.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 2 %}
                        {% assign thumbWorktopTitle = "Noir" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_noir.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 3 %}
                        {% assign thumbWorktopTitle = "Gris" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_gris.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 4 %}
                        {% assign thumbWorktopTitle = "Bleu" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_bleu.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 5 %}
                        {% assign thumbWorktopTitle = "Rouge" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_rouge.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 6 %}
                        {% assign thumbWorktopTitle = "Jaune" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_jaune.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 7 %}
                        {% assign thumbWorktopTitle = "Vert" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_vert.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                       {% assign thumbWorktopIndex = 8 %}
                        {% assign thumbWorktopTitle = "Marron" %}
                        {% assign thumbWorktopImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518512405/worktop_couleur_marron.jpg" %}
                        {% assign thumbWorktopDesc = "" %}
                        {% include thumbnailWorktop.html %}
                    </div>
                </div>
                <div class="worktop__lvl-3">
                    <div class="row">
                        {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                       {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                       {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                       {% assign thumbProductIndex = 1 %}
                        {% assign thumbProductTitle = "Plan de travail" %}
                        {% assign thumbProductSubTitle = "Epaisseur 28mm" %}
                        {% assign thumbProductMore = "" %}
                        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518471672/worktop2.jpg" %}
                        {% assign thumbProductImage2 = "" %}
                        {% assign thumbProductImage3 = "" %}
                        {% assign thumbProductCataPrice = "95,00" %}
                        {% assign thumbProductPrice = "95,00" %}
                        {% assign thumbProductCarousel = 0 %}
                        {% assign thumbProductSize = 0 %}
                        {% assign thumbProductSurMesure = 0 %}
                        {% assign thumbProductAPartir = 0 %}
                        {% assign thumbProductColisage = 0 %}
                        {% include thumbnailProduct.html %}
                    </div>
                </div>
            </div>
            {% endcomment %}
            <div class="worktop__lvl-1 col-12 col-md-8 offset-md-2">
                <div class="row">
                    {% for object in childrens[global.request.get('code')] %}
                        <div class="col-6 col-sm-4">
                            <a href="/{% if categories[object]['url']%}{{ categories[object]['url']|replace(' ','%20') }}{% else %}#{% endif %}">
                                <div class="h-90 bg-cover cursor-pointer position-relative thumb_worktop" style="background-image: url({% if categories[object]['imageThumbnail']['content'] %}{{ categories[object]['imageThumbnail']['content']|replace(' ','%20') }}{% endif %})" data-name="">
                                    <div class="thumb_worktop__more position-absolute d-flex bottom-0 h-90">
                                        <p class="p-2 text-center small text-white m-auto">
                                            {{ categories[object]['shortDesc']['content'] }}
                                        </p>
                                    </div>
                                </div> 
                            </a>
                            <p class="text-center pt-1 pb-3">{{ categories[object]['shortDesc']['content'] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %}
<script>
    $( ".worktop__btn-group label" ).click(function() {
        $('.worktop__lvl-1').hide();
        $('#' + $( this ).attr('data-target') + ' .worktop__lvl-1').fadeIn('slow');
    });
    $( ".worktop__lvl-1 .thumb_worktop" ).click(function() {
        $( this ).closest('.worktop__lvl-1').hide();
        $('.worktop__btn-group').hide();
        $( this ).closest('.worktop__lvl-0').find('.worktop__lvl-2').fadeIn('slow');
        $( this ).closest('.worktop__lvl-0').find('.btn_worktop_config').fadeIn('slow');
        $( '.worktop__filter_container').fadeIn('slow');
        var worktop_html = '<a class="btn_worktop_config rounded py-2 px-5 mx-2 my-2 position-relative d-block d-sm-inline-block">' + $( this ).attr('data-name') + '<span class="cursor-pointer position-absolute">&times;</span>';
        $( '.worktop__filter_container' ).append( worktop_html );
    });
    $( "body" ).on( "click", ".btn_worktop_config span", function() {
        $( '.worktop__filter_container' ).html( '' );
        $('.worktop__lvl-3, .worktop__lvl-2, .worktop__filter_container').hide();
        $('.worktop__btn-group').fadeIn('slow');
        $( '.worktop__btn-group label:nth-of-type(1)' ).trigger( "click" );
    });
    $( ".worktop__lvl-2 .thumb_worktop" ).click(function() {
        $( this ).closest('.worktop__lvl-2').hide();
        $( this ).closest('.worktop__lvl-0').find('.worktop__lvl-3').fadeIn('slow');
        var worktop_html = '<a class="btn_worktop_config rounded py-2 px-5 mx-2 position-relative d-block d-sm-inline-block">' + $( this ).attr('data-name') + '<span class="cursor-pointer position-absolute">&times;</span>';
        $( '.worktop__filter_container' ).append( worktop_html );
    });
</script>
{% endcomment %}

{% include services.html %}


