---
layout: default
---

<div class="container">
	<div class="row">
		{% comment %}
		{% for family in childrens[global.request.get('code')] %}
			{% include pages/productThumb/productThumb.twig %}
	    {% endfor %}
	    {% endcomment %}
	</div>
</div>

<div class="container py-5 text-center">
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAppointment">Prendre rendez-vous</button>
</div>

<div class="container py-5">
    <h2 class="text-center pt-5">Vignette générique</h2>
    <div class="row">  
        {% assign thumbProductIndex = 1 %}
        {% assign thumbProductTitle = "Echelle gain de place droite London hêtre" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "<img src=\"https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/pictos.png\"/>" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/stair.jpg" %}
        {% assign thumbProductImage2 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/tandem_bordeaux_mat.jpg" %}
        {% assign thumbProductImage3 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651922.jpg" %}
        {% assign thumbProductCataPrice = "1490,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 1 %}
        {% assign thumbProductSize = 0 %}
        {% assign thumbProductSurMesure = 1 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 2 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/stair.jpg" %}
        {% assign thumbProductImage2 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/tandem_bordeaux_mat" %}
        {% assign thumbProductImage3 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651922.jpg" %}
        {% assign thumbProductCataPrice = "1490,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 1 %}
        {% assign thumbProductSize = 0 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 1 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 3 %}
        {% assign thumbProductTitle = "Echelle gain de place droite London hêtre" %}
        {% assign thumbProductSubTitle = "" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/1221749@DET@03.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 0 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 1 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 4 %}
        {% assign thumbProductTitle = "Echelle droite London" %}
        {% assign thumbProductSubTitle = "" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/201411567.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1550,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 0 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 5 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "Informations supplémentaires<br>Détails produit" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/201515122.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 0 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 6 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/Eyre_Blanche.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 0 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 1 %}
        {% include pages/family/thumbnailProduct.twig %}
    </div>
    <h2 class="text-center pt-5">Vignette allongée</h2>  
    <div class="row">
        {% assign thumbProductIndex = 7 %}
        {% assign thumbProductTitle = "Echelle gain de place droite London hêtre" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "<img src=\"https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/pictos.png\"/>" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/stair.jpg" %}
        {% assign thumbProductImage2 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/tandem_bordeaux_mat.jpg" %}
        {% assign thumbProductImage3 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651922.jpg" %}
        {% assign thumbProductCataPrice = "1490,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 1 %}
        {% assign thumbProductSize = 1 %}
        {% assign thumbProductSurMesure = 1 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 8 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/stair.jpg" %}
        {% assign thumbProductImage2 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/tandem_bordeaux_mat" %}
        {% assign thumbProductImage3 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651922.jpg" %}
        {% assign thumbProductCataPrice = "1490,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 1 %}
        {% assign thumbProductSize = 1 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 1 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 9 %}
        {% assign thumbProductTitle = "Echelle gain de place droite London hêtre" %}
        {% assign thumbProductSubTitle = "" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/1221749@DET@03.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 1 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 1 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 10 %}
        {% assign thumbProductTitle = "Echelle droite London" %}
        {% assign thumbProductSubTitle = "" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/stair.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1450,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 1 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 11 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "Informations supplémentaires<br>Détails produit" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/201515122.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 1 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 12 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/Eyre_Blanche.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 1 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 1 %}
        {% include pages/family/thumbnailProduct.twig %}
    </div>
    <h2 class="text-center pt-5">Vignette collection</h2> 
    <div class="row">  
        {% assign thumbProductIndex = 13 %}
        {% assign thumbProductTitle = "Echelle gain de place droite London hêtre" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "<img src=\"https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/pictos.png\"/>" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651922.jpg" %}
        {% assign thumbProductImage2 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651729.jpg" %}
        {% assign thumbProductImage3 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/urban_blanc_pur.jpg" %}
        {% assign thumbProductCataPrice = "1490,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 1 %}
        {% assign thumbProductSize = 2 %}
        {% assign thumbProductSurMesure = 1 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 14 %}
        {% assign thumbProductTitle = "Echelle gain de place droite London hêtre" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651729.jpg" %}
        {% assign thumbProductImage2 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/AST651922.jpg" %}
        {% assign thumbProductImage3 = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/urban_blanc_pur.jpg" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 1 %}
        {% assign thumbProductSize = 2 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 1 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 15 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "1/3 Escalier droit sans contremarche" %}
        {% assign thumbProductMore = "" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/tandem_bordeaux_mat.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1250,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 2 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
       {% assign thumbProductIndex = 16 %}
        {% assign thumbProductTitle = "Echelle gain de place" %}
        {% assign thumbProductSubTitle = "" %}
        {% assign thumbProductMore = "Informations supplémentaires<br>Détails produit" %}
        {% assign thumbProductImage = "https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/urban_blanc_pur.jpg" %}
        {% assign thumbProductImage2 = "" %}
        {% assign thumbProductImage3 = "" %}
        {% assign thumbProductCataPrice = "1490,00" %}
        {% assign thumbProductPrice = "1250,00" %}
        {% assign thumbProductCarousel = 0 %}
        {% assign thumbProductSize = 2 %}
        {% assign thumbProductSurMesure = 0 %}
        {% assign thumbProductAPartir = 0 %}
        {% assign thumbProductColisage = 0 %}
        {% include pages/family/thumbnailProduct.twig %}
    </div>
</div>
