---
layout: default
---



{% include jumbotron.html %}

{% include breadcrumb.html %}

{% include description.html %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex position-relative universe__anchor">
            <div class="d-flex m-auto">
                {% for subuniverse in childrens[global.request.get('code')] %}
                <a href="#{{ categories[subuniverse]['identifier'] }}">
                    <div class="d-xl-flex d-none text-white py-3 px-4 mr-1 small bg-primary rounded" style="">{{ categories[subuniverse]['label']['content'] }} </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="subuniverse">
    {% for subuniverse in childrens[global.request.get('code')] %}
    <div class="universe__family bg-light" id="{{ categories[subuniverse]['identifier'] }}">
        <div class="container">
            <div class="row">
                <div class="col-12 pb-2 pt-3 py-md-5">
                    <div class="row">
                        <div class="col-12 col-xl-3 pr-md-5">
                            <div class="row">
                                <div class="col-10 col-md-8 col-xl-12">
                                    <p class="h4 d-none d-md-block">{{ categories[subuniverse]['shortDesc']['content'] }}</p>
                                    <p class="h4 d-md-none">
                                        <a data-toggle="collapse" class="text-dark" href="#collapse{{ categories[subuniverse]['identifier'] }}" aria-expanded="false" aria-controls="collapse{{ categories[subuniverse]['identifier'] }}">{{ categories[subuniverse]['shortDesc']['content'] }}</a>
                                    </p>
                                    <p class="d-none d-md-block">{% if categories[subuniverse]['longDesc']['content'] %}
                                    {{ categories[subuniverse]['longDesc']['content'] }}
                                    {% endif %}
                                    </p>
                                </div>
                                <div class="col-2 d-md-none pr-0">
                                    <a data-toggle="collapse" class="text-dark" href="#collapse{{ categories[subuniverse]['identifier'] }}" aria-expanded="false" aria-controls="collapse{{ categories[subuniverse]['identifier'] }}">
                                        <p class="h1 text-center">+</p>
                                        <p class="h1 text-center">-</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9 collapse" id="collapse{{ categories[subuniverse]['identifier'] }}" >
                            <div class="row">
                                {% for object in childrens[categories[subuniverse]['identifier']] %}
                                    {% if categories[object]['published']['content'] is not defined or categories[object]['published']['content'] == true %}
                                        {% if categories[object]['universeThumbSize'] and categories[object]['universeThumbSize'] == 3 %}
                                            <div class="col-12 p-1 p-sm-3" >
                                                {% include thumbnailFamily.html %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for object in childrens[categories[subuniverse]['identifier']] %}
                                    {% if categories[object]['published']['content'] is not defined or categories[object]['published']['content'] == true %}
                                        {% if categories[object]['universeThumbSize'] and categories[object]['universeThumbSize'] == 2 %}
                                            {% assign familyImageSize = 'desktopList' %}
                                            <div class="col-6 col-md-4 p-1 p-sm-3" >
                                                {% include thumbnailFamily.html %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-12 py-2 universe__subFamilyContainerOther">
                                <div class="row">
                                    {% for object in childrens[categories[subuniverse]['identifier']] %}
                                        {% if categories[object]['published']['content'] is not defined or categories[object]['published']['content'] == true %}
                                            {% if categories[object]['universeThumbSize'] is not defined or categories[object]['universeThumbSize'] == 1 %}
                                            <div class="col-12 col-sm-6 col-md-4 py-1 px-5">
                                                <div class="row">
                                                    <div class="col-4 universe__subFamilyContainerOtherImage" style="background-image: url('{% if categories[object]['imageFull']['content'] %}{{ categories[object]['imageFull']['content']|replace(' ','%20') }}{% endif %}')"></div>
                                                    <div class="col-8">
                                                        <a class="text-dark small" href="/{% if categories[object]['url']%}{{ categories[object]['url']|replace(' ','%20') }}{% else %}#{% endif %}">{{ categories[object]['shortDesc']['content'] }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% comment %}
    {% include contents.html %}
{% endcomment %}

{% include pinterest.html %}

{% include appointment.html %}

{% include services.html %}


<script>
    function animationScroll(destination) {
        $('html, body').animate({
            scrollTop: $( destination ).offset().top-170
        }, 500);
    }
</script>


