.worktop__btn-group .btn, .btn_worktop_config {
    color: $gray-dark;
    background: $gray-light;
    border: 2px solid $gray-light;
}
#finitions .worktop__lvl-1, .worktop__lvl-2, .worktop__lvl-3, .btn_worktop_config {
    display: none;
}
.btn_worktop_config span {
    top:0; 
    right:10px; 
}