.card-header{
	background-color: #FFF;
	border-bottom: 1px solid $border-color;
    line-height: 10px;
    padding: 20px;	
	
	.picto{
		width: 40px;
		display: inline-block;
		margin-top: 17px;
		
	}
	.collapse-arrow{
		height: 20px;
		width: 20px;
	    display: block;
	    float: right;
	    bottom: 17px;
	    position: relative;
	}
	h4{
		
		margin-bottom: 0;
	}
	span{
		
		color: #9f9f9f;
		font-weight: 100;
	}
}
.card{
	background-color: #FFF;
}
.card-block{
	padding: 20px 30px;
	h2{
		margin-top: 0;
		margin-bottom: 20px;
	}
}