html {
  color: $color-text;
  font: 14px $font-sans;
}
body{
	font-family: $base-font;
}


a {
  color: $color-link;
}

h4, .h4 {
  font-size: 1.2rem;
}

h5, .h5 {
  font-size: 1em;
  text-transform: uppercase;
}

.page {
  background-image: linear-gradient($color-grey-5 281px, white 281px);
}