
/*----------  TITLE ----------*/

h1,

h2,
.h2 {
   font-size: 26px;
  font-weight: bold;
  color: #666666;
  line-height: 1.36363636em;
}
h3,
.h3 {
  font-size: 1.78571429em;
  line-height: 1.5em;
    color: $brand-color;
}
h4,
.h4 {
  font-size: 23px;
  font-weight: bold;
  color:$text-grey-darken;
  line-height: 1.36842105em;
  margin-bottom: 20px;
}
h5,
.h5 {
  font-size: 18px;
   font-weight: bold;
  line-height: 1.85714286em;
}
h6,
.h6 {
  font-size: 0.85714286em;
  }

.text-muted{
  color:#a9a9a9;
}
