// Bootstrap card component
.card, .card-header, .card-header:first-child {
  border-color: $color-border-light;
  border-radius: 0;
}

.card-header {
  background-color: $color-bg-light;
  margin-bottom: -1px;
  a {
    color: inherit;
    text-decoration: none;
    &:after {
      border: 4px solid transparent;
      content: '';
      float: right;
      height: 0;
      width: 0;
    }
    &[aria-expanded=false]:after {
      border-top-color: $color-grey-3;
      margin-top: 5px;
    }
    &[aria-expanded=true]:after {
      border-bottom-color: $color-grey-3;
      margin-top: 1px;
    }
  }
}

.sur-mesure-block {
  background-color: $color-grey-1;
  color: white;
  padding: .75rem 1.25rem;
}

.product {
  border-style: solid none;
}

  .product-header {
    padding: 32px 22px;
    z-index: 1;
    a {
      color: inherit;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  .product-body.show:after {
    border: 2px solid $color-green;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .product-price {
    color: $color-red;
    font-size: 1.75em;
    transition: font-size .3s;
    .collapsed & {
      color: inherit;
      font-size: inherit;
    }
  }