.checkbox{
    font-size: 13px;
}

.label{
    display:inline-blcok;
    padding:2px 5px;
    font-size:13px;
    &.label-default{
        background:#eee;
    }
    &.label-success{
        background: $success-color;
        color:#fff;
    }
}