@media (min-width: 990px) {
    .tunnelRecapPanier__widget {
        padding-left: 0;
        padding-right: 40px;
    }

    .tunnelLivraisonTabUI__widget {
        padding-right: 0;
    }
}

.footer {
    margin-top: 30px;
    img {
        width: 100%;
    }
}

.tunnelShopCartHeaderUI__container{
    margin-bottom: 20px;
}
