
.card, .card-header, .card-header:first-child {
  border-color: $color-border-light;
  border-radius: 0;
}

/*.card__header {
  background-color: $color-bg-light;
  margin-bottom: -1px;
  a {
    color: inherit;
    text-decoration: none;
    &:after {
      border: 4px solid transparent;
      content: '';
      float: right;
      height: 0;
      width: 0;
    }
    &[aria-expanded=false]:after {
      border-top-color: $color-grey-3;
      margin-top: 5px;
    }
    &[aria-expanded=true]:after {
      border-bottom-color: $color-grey-3;
      margin-top: 1px;
    }
  }
}*/


.card{
  background-color: #FFF;
}


