.tunnelShopCartHeaderUI__breadcrump {
    padding: 0 60px;
    img {
        width: 40px;
        margin-right: 10px;
    }
    p {
        display: inline-block;
    }
    .breadcrumb__part {
        background-color: #f2f3f4;
        z-index: 2;
        width: 190px;
    }
    .separator {
        width: 90%;
        border-bottom: 1px solid $border-color;
        position: relative;
        top: 20px;
        z-index: -1;
        margin-left: 20px;
        max-width: 80%;
    }
}