.fc-content-col {
    border: 1px solid red;
}
.fc td, .fc th {
    border-style: none;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
}


button.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right,
button.fc-next-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right{
	    background-color: transparent !important;
    border: 0 !important;
    background-image: none !important;
    box-shadow: none !important;
}