/*
.tunnel__hero{
	h1, p, .picto{
		z-index: 2;
		position: relative;
		color: #FFF;
		top: 70px;
	}
	.picto{
		top: 65px;
		margin-right: 5px;
	}
	p{
		font-weight: 100;
	}
}


.confirmation__hero__img{
	width: 100%;
	position: relative;
	z-index: 1;
	top: -91px;
	margin-bottom: -60px;
}
*/