/*
Template responsive style
*/



/*@media (min-width: 576px){
.container {
    max-width: 980px;
}
}*/

@media (min-width: 1200px){
.container {
    max-width: 1090px;
}
}

@media (min-width: 576px) and (max-width: 768px){
.container {
    max-width: 620px;
}
}