/*----------  COLOURS  ----------*/
/*OLD A TRIER*/

$color-grey-0: #212121;
$color-grey-1: #3f3d3d;
$color-grey-2: #8a8a8a;
$color-grey-3: #969696;
$color-grey-4: #bcbcbc;
$color-grey-5: #e4e5e7;
$color-grey-6: #f8f8f8;

$color-blue: #3970ca;
$color-green: #59b957;
$color-orange: #fe8105;
$color-red: #e20418;

$primary-color:#3483de;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#212121;
$info-color:#5bc0de;
$color-white:#FFFFFF;
$brand-color:#cd0018;
$brand-color-dark:#AB172B;
$brand-grey:#4A4A4A;
$brown-light:#E4DDD8;
$bkg-light: #f2f3f4;
$grey-default: #f2f3f4;
$border-color: #e3e3e3;


$color-link: $color-blue;

$color-bg-light: $color-grey-6;
$color-border-light: darken($color-bg-light, 2);

/*----------  FONTS  ----------*/

$font-sans: sans-serif;
$text-grey-darken: #666666;
$color-text: $text-grey-darken;
/*----------  TITLES  ----------*/

$title-font: 'Roboto', sans-serif;
$styled-font:'Roboto', serif;
$base-font:'Roboto', sans-serif;

/*----------  BUTTON  ----------*/

$btn-primary: #fe8105;

