// Colours
$color-grey-0: #212121;
$color-grey-1: #3f3d3d;
$color-grey-2: #8a8a8a;
$color-grey-3: #969696;
$color-grey-4: #bcbcbc;
$color-grey-5: #e4e5e7;
$color-grey-6: #f8f8f8;

$color-blue: #3970ca;
$color-green: #59b957;
$color-orange: #fe8105;
$color-red: #e20418;

$color-text: $color-grey-0;
$color-link: $color-blue;

$color-bg-light: $color-grey-6;
$color-border-light: darken($color-bg-light, 2);

// Font families
$font-sans: sans-serif;