/*
* === ANCIENNES CLASSES => A RANGER  ===
*/

.sur-mesure-block {
  background-color: $color-grey-1;
  color: white;
  padding: .75rem 1.25rem;
}

.product {
  border-style: solid none;
}

  .product-header {
    padding: 32px 22px;
    z-index: 1;
    a {
      color: inherit;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  .product-body.show:after {
    border: 2px solid $color-green;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .product-price {
    color: $color-red;
    font-size: 1.75em;
    transition: font-size .3s;
    .collapsed & {
      color: inherit;
      font-size: inherit;
    }
  }

  