@import "variables";
@import "bootstrap";



// @import '_module__forms';
// @import "_module__accordion";
// @import "_module__cards";
// @import '_module__buttons';
// @import '_module__breadcrump';
// @import '_module__hero';


$font-factor-xs:2.0;
$font-factor-sm:1.5;
$font-factor-md:1.2;
$font-factor-lg:1.1;

$font-size-base-h1:2.5;
$font-size-base-h2:2.0;
$font-size-base-h3:1.5;
$font-size-base-p:1 ;

h1, .h1 {
  font-size: $font-size-base-h1 / $font-factor-xs + unquote("rem");
}
h2, .h2 {
  font-size: $font-size-base-h2 / $font-factor-xs + unquote("rem");
}
h3, .h3 {
  font-size: $font-size-base-h3 / $font-factor-xs + unquote("rem");
}
p {
  font-size: $font-size-base-p / $font-factor-md + unquote("rem");
}

@include media-breakpoint-up(sm) {
  h1, .h1 {
    font-size: $font-size-base-h1 / $font-factor-sm + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 / $font-factor-sm + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 / $font-factor-sm + unquote("rem");
  }
  p {
    font-size: $font-size-base-p / $font-factor-sm + unquote("rem");
  }
}

@include media-breakpoint-up(md) {
  h1, .h1 {
    font-size: $font-size-base-h1 / $font-factor-md + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 / $font-factor-md + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 / $font-factor-md + unquote("rem");
  }
  p {
    font-size: $font-size-base-p / $font-factor-md + unquote("rem");
  }
}

@include media-breakpoint-up(lg) {
  h1, .h1 {
    font-size: $font-size-base-h1 / $font-factor-lg + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 / $font-factor-lg + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 / $font-factor-lg + unquote("rem");
  }
  p {
    font-size: $font-size-base-p / $font-factor-lg + unquote("rem");
  }
}

@include media-breakpoint-up(xl) {
  h1, .h1 {
    font-size: $font-size-base-h1 + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 + unquote("rem");
  }
  p {
    font-size: $font-size-base-p + unquote("rem");
  }
}


/*
ul li .card{
  &.is-active{
    border-color: $red;
    cursor: pointer;
  }
  &.is-new{
    border-color: $gray-500;
    cursor: pointer;
  }
  &:hover{
    border-color: $red-secondary;
    cursor: pointer;
  }
}
*/

@import 'views';
