<div class="tunnelRecapPanier__container">
    <div class="tunnelRecapPanier__header">
        <h3>Panier</h3>
        <p>(6 produits)</p>
    </div>
    <div class="tunnelRecapPanier__product">
        <div class="row">
            <div class="col-md-5">
                <div class="tunnelRecapPanier__thumb">
                    <img src="/web/images/product_thumb.png" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="tunnelRecapPanier__desc">
                    <p class="small text-muted">Ref.123456</p>
                    <p><strong>Bloc-Porte palier coupe feu ch&ecirc;ne &agrave; vernir</strong></p>
                    <p class="small text-muted">Largeur: 120 cm
                        <br> Hauteur: 50 cm
                        <br> Sens d'ouverture : Int&eacute;rieur
                        <br> Finition: ch&ecirc;ne gris</p>
                </div>
                <div class="row">
                    <div class="col-md-6 tunnelRecapPanier__quantity">
                        <p>Quantité: 1</p>
                    </div>
                    <div class="tunnelRecapPanier__price col-md-6">
                        89,00 €
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tunnelRecapPanier__product">
        <div class="row">
            <div class="col-md-5">
                <div class="tunnelRecapPanier__thumb">
                    <img src="/web/images/product_thumb2.png" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="tunnelRecapPanier__desc">
                    <p class="small text-muted">Ref.123456</p>
                    <p><strong>Kit de montage pour r&eacute;novation de marche</strong></p>
                    <p class="small text-muted">Largeur: 120 cm</p>
                </div>
                <div class="row">
                    <div class="col-md-6 tunnelRecapPanier__quantity">
                        Quantité: 1
                    </div>
                    <div class=" col-md-6 tunnelRecapPanier__price">
                        89,00 €
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
    	<button class="btn btn-primary btn-large mt20 mb20">Voir tout mon panier</button>
    </div>
    <div class="tunnelRecapPanier__total">
    	<div class="row">
    		<div class="col-md-6">
    			<p>TOTAL TTC</p></div>
    		<div class="col-md-6 ">
    			<p class="pull-right"><strong>221,00 €</strong></p></div>
    		<div class="clear"></div>
    	</div>
    </div>
</div>