<!-- BEGIN tunnelShopCartHeaderUI -->
<div id="tunnelShopCartHeaderUI" class="container py-4">
    <div class="row timeline">
      <div class="timeline-horizontal"></div>
        <div class="col-3 text-center">
            <a href="/TunnelShopCartView">
                <p class="d-none d-md-inline">Panier</p>
                <br>
                <span class="fa-stack fa-lg">
               <i class="fa fa-circle fa-stack-2x py-2"></i>
               <i class="fa fa-stack-1x fa-inverse py-2">1</i>
             </span>
            </a>
        </div>
        <div class="col-3 text-center">
            <a href="/TunnelCommandShippingView">
                <p class="d-none d-md-inline">Identification</p>
                <br>
                <span class="fa-stack fa-lg">

               <i class="fa fa-circle fa-stack-2x py-2"></i>
               <i class="fa fa-stack-1x fa-inverse py-2">2</i>
             </span>
            </a>
        </div>
        <div class="col-3 text-center">
            <a href="/TunnelCommandPaymentView">
                <p class="d-none d-md-inline">Retrait/Livraison</p>
                <br>
                <span class="fa-stack fa-lg">

               <i class="fa fa-circle fa-stack-2x py-2"></i>
               <i class="fa fa-stack-1x fa-inverse py-2">3</i>
             </span>
            </a>
        </div>
        <div class="col-3 text-center">
            <a href="/TunnelCommandPaymentView">
                <p class="d-none d-md-inline">Paiement</p>
                <br>
                <span class="fa-stack fa-lg">

               <i class="fa fa-circle fa-stack-2x py-2"></i>
               <i class="fa fa-stack-1x fa-inverse py-2">4</i>
             </span>
            </a>
        </div>
    </div>
    <div>
    </div>
</div>
<!-- END tunnelShopCartHeaderUI -->