.fa-stack-1x{
font-family: Arial !important;
}

.timeline-horizontal{
	border-bottom: 1px solid #aa192e;
    width: 77%;
    position: relative;
    top: 54px;
    margin: 0 auto;
}
/*
@media only screen and (max-width: 768px) {
	.timeline{
		transform: rotate(90deg);
	}
	i{
		transform: rotate(270deg);
	}

}*/