<!-- BEGIN tunnelShopCartHeaderUI -->
<div id="tunnelShopCartHeaderUI" class="container mb-2  py-4 d-none  d-md-block">
    <div class="row timeline">
      <div class="timeline-horizontal"></div>
        <div class="col-4 text-center">
            <a href="/TunnelShopCartView">
                <p class="d-none d-md-inline">Panier</p>
                <br>
                <span class="fa-stack fa-lg">
               <i class="fa fa-circle fa-stack-2x py-2"></i>
               <i class="fa fa-stack-1x fa-inverse py-2">1</i>
             </span>
            </a>
        </div>
        <div class="col-4 text-center">
            <a href="/TunnelCommandShippingView">
                <p class="d-none d-md-inline">Modalités</p>
                <br>
                <span class="fa-stack fa-lg">

               <i class="fa fa-circle fa-stack-2x py-2"></i>
               <i class="fa fa-stack-1x fa-inverse py-2">2</i>
             </span>
            </a>
        </div>
        <div class="col-4 text-center">
            <a href="/TunnelCommandPaymentView">
                <p class="d-none d-md-inline">Paiement</p>
                <br>
                <span class="fa-stack fa-lg">

               <i class="fa fa-circle fa-stack-2x py-2"></i>
               <i class="fa fa-stack-1x fa-inverse py-2">3</i>
             </span>
            </a>
        </div>
    </div>
    <div>
    </div>
</div>

<!--VERSION MOBILE-->
<div id="tunnelShopCartHeaderUIMobile" class="container py-4  d-sm-block d-md-none d-lg-none
">
    <div class="row ">
      <div class="m-auto">

        <ul class="text-left ">
          <li class="mb-2">
             <a href="/TunnelShopCartView">
              <span class="fa-stack fa mr-2">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-stack-1x fa-inverse">1</i>
             </span>
             <p class="d-inline">Panier</p>
          </a>
          </li>
          <li class="mb-2">
            <a href="/TunnelCommandShippingView">
                <span class="fa-stack fa mr-2 ">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-stack-1x fa-inverse">2</i>
             </span>
            <p class="d-inline">Modalités</p>
          </a>
          </li>
          <li class="mb-2">
            <a href="/TunnelCommandPaymentView">
             <span class="fa-stack fa mr-2 ">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-stack-1x fa-inverse">3</i>
             </span>
             <p class="d-inline ">Paiement</p>
          </a>
          </li>
      </ul>
          
       </div>
  
    </div>
    <div>
    </div>
</div>
<!-- END tunnelShopCartHeaderUI -->