{% extends"layouts/default.html" %}
{% block content %}
	{% if template|length > 0 %}
		{% include 'contents/CCN0010.twig' %}
	{% else %}
		<div class="container">
			<img src="/images/product.png" class="img-fluid">
		</div>
	{% endif %}
{% endblock %}