{% extends"layouts/default.html" %}
{% block content %}
	{% if template|length > 0 %}
		{% include 'contents/CCN0010.twig' %}
	{% else %}
		<div class="container">
			<img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/product.png" class="img-fluid">
		</div>
	{% endif %}
{% endblock %}