    <div class="row">
        <div class="col-7">
            <p class="pl-3 my-1">Total TTC</p>
        </div>
        <div class="col-5">
            <p class="pr-3 my-1 pull-right"><strong>221,00 €</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <p class="pl-3 my-1 small text-muted">dont TVA</p>

        </div>
        <div class="col-5">
            <p class="pr-3 my-1 pull-right small text-muted"><strong>0,00 €</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <p class="pl-3 my-1 small text-muted">dont Eco-Particpation</p>
        </div>
        <div class="col-5">
            <p class="pr-3 my-1 pull-right small text-muted"><strong>0,00 €</strong></p>
        </div>
    </div>
    <br>
	<!-- 
	<p class="pull-left">Sous-total TTC</p>
	<p class="pull-right text-right">178,80€
		<br> <span class=" small text-muted">dont 2,30€ d’&eacute;co-participation</span>
	</p>
	<div class="clear"></div>
	<p class="pull-left">T.V.A (incluse)</p>
	<p class="pull-right">44,20€</p>
	<div class="clear"></div>
	<div class="separator"></div>
	<div class="form-group pull-left">
		<label class="custom-control custom-radio pull-left mt0">
			<input type="radio" class="custom-control-input">
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Retrait en Drive - 0€</span>
		</label>
	</div>
	<p class="pull-right">0€</p>
	<div class="clear"></div>
	<div class="form-group">
		<label class="custom-control custom-radio mt0">
			<input type="radio" class="custom-control-input">
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Livraison &agrave; domicile - {{ data.session.cart.deliveryfees|number_format(2, '.', ',') }} €</span>
		</label>
	</div>
	<div class="separator"></div>
	<p class="pull-left">TOTAL TTC</p>
	<p class="pull-right"><strong>221,00€</strong></p>
	<div class="clear"></div>
	-->
	<button class="btn btn-block btn-primary"><i class="fa fa-lock" aria-hidden="true"></i> Valider ma commande</button>