<div class="bg-light">
    <div class="container py-5 services">
        <div class="row py-5">
            <div class="col-12 col-xl-8 px-5">
                <div class="row">
                    <p class="h2 text-uppercase pb-3">On vous accompagne</p>
                </div>
                <div class="row text-center d-flex">
                    <div class="m-auto">
                            <div class="text-left bg-dark text-white p-4 services__bloc float-sm-left">
                                <div class="my-auto">
                                    <p class="text-uppercase services__tiny_title">
                                        Découvrez toutes nos <span class="text-white">expertises</span>
                                    </p>
                                    <p>
                                        <a class="text-light" href="#">&gt; En savoir plus</a>
                                    </p>
                                </div>
                            </div>
                            <div class="bg-white services__bloc p-3 pt-4 float-sm-left">
                                <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/indexpose.png" />
                                <p class="small pt-2">L'installation est faite sur-mesure par des artisans qualifiés.</p>
                            </div>
                            <div class="bg-white services__bloc p-3 pt-4 float-sm-left">
                                <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/indexlivraison.png" />
                                <p class="small pt-2">Nous assurons la livraison de nos produits chez vous.</p>
                            </div>
                            <div class="bg-white services__bloc p-3 pt-4 float-sm-left">
                                <img src="https://res.cloudinary.com/dwkgy95ov/image/upload/v1518736707/atelier.png" />
                                <p class="small pt-2">Nos menuisiers sont à votre écoute pour réaliser vos projets sur-mesure.</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-4 pl-5 d-none d-xl-block">
                <div class="row">
                    <p class="h2 text-uppercase pb-3">Le magazine</p>
                </div>
                <div class="row services__magazine">
                    <div class="col-12 py-2">
                        <div class="row">
                            <div class="col-3 py-3 services__articleContainerImage" style="background-image: url('desktopList/516/441/VSF-201516441.jpg')"></div>
                            <div class="col-9"><a href="https://www.lapeyre.fr/c/magazine/pieces-maison/comment-entretenir-son-escalier-en-bois" class="text-dark small">Comment entretenir son escalier en bois ?</a></div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="row">
                            <div class="col-3 py-3 services__articleContainerImage" style="background-image: url('https://www.lapeyre.fr/img/contrib/2bdd4da30020ab4e/desktop_lesescaliersexterieur_newyork.jpg')"></div>
                            <div class="col-9"><a href="https://www.lapeyre.fr/c/magazine/pieces-maison/comment-entretenir-son-escalier-en-bois" class="text-dark small">Escalier standard ou escalier sur mesure ?</a></div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="row">
                            <div class="col-3 py-3 services__articleContainerImage" style="background-image: url('https://www.lapeyre.fr/img/contrib/31949891598041ac/ESCALIER%20EXTERIEUR.jpg')"></div>
                            <div class="col-9"><a href="https://www.lapeyre.fr/c/magazine/pieces-maison/comment-entretenir-son-escalier-en-bois" class="text-dark small">Nos conseils pour bien rénover votre escalier intérieur</a></div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="row">
                            <div class="col-3 py-3 services__articleContainerImage" style="background-image: url('https://www.lapeyre.fr/img/contrib/3194989159804145/renover%20escalier.jpg')"></div>
                            <div class="col-9"><a href="https://www.lapeyre.fr/c/magazine/pieces-maison/comment-entretenir-son-escalier-en-bois" class="text-dark small">Quel matériau ou revêtement pour un escalier extérieur ?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>