.panier__container {
    padding: 20px;
    .cards img {
        width: 40px;
        margin-right: 5px;
    }
}

.panier__content {
    padding: 20px;
}

.panier__content>.panier__product~.panier__product {
    margin-top: -2px;
}
.panier__select-shop{
    width: 200px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.panier__product {
    border: 2px solid #f2f3f4;
    padding: 0px 20px 0px 0px;
    p {
        margin: 0;
        font-weight: 100;
    }
    .text-green {
        color: #03c668;
        font-weight: 500;
    }
    .text-orange {
        color: #f39f3d;
        font-weight: 500;
    }
    .panier__product__desc,
    {
        padding-top: 30px;
    }
    .panier__product__price,
    .panier__product__total-price {
        padding-top: 85px;
    }
    .panier__product__price {
        text-align: center;
        p {
            font-size: 18px;
            font-weight: 100;
        }
    }
    .panier__product__add {
        padding-top: 80px;
        text-align: center;
        a {
            text-decoration: underline;
        }
    }
    .panier__product__total-price {
        text-align: right;
        p {
            font-size: 13px;
            font-weight: 100;
        }
        p:first-child {
            color: $red;
            font-weight: 600;
            font-size: 18px;
        }
    }
    .product__add {
        border: 1px solid $border-color;
        padding: 5px 10px;
        width: 100px;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .panier__product__thumb {
        padding: 0;
    }
}

.panier__code-avantage {
    padding: 30px;
    border: 5px solid #fbe5e7;
    .btn {
        padding: 8px 20px;
        margin-left: -5px;
    }
}

.panier__total__content {
    p {
        font-size: 18px;
        font-weight: 100;
    }
    .small {
        font-size: 13px;
    }
    span.custom-control-description {
        font-size: 14px !important;
        margin-left: 5px !important;
    }
    .separator {
        margin: 20px 0;
    }
}

.panier__back {
    position: relative;
    bottom: 40px;
    @media (max-width: 990px) {
        bottom: 0;
        text-align: center;
    }
}